.resolution{
    position: relative;
    width: 1920px;
    height: 1080px;

    background: #FFFFFF;
}

.background {
    position: relative;
    width: 1920px;
    height: 1107px;
}

/*---------------nav------------------*/
nav{
    position: fixed;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.5);
    z-index: 999;
}


nav img{
    /* 남호정 */
    position: absolute;
    width: 82px;
    height: 45px;
    left: 48px;
    top: 18px;

}

nav span:nth-child(2) {
    /* 소개 */
    position: absolute;
    width: 42px;
    height: 26px;
    left: 1036px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(3){
    /* 공지사항 */
    position: absolute;
    width: 82px;
    height: 26px;
    left: 1135px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(4){
    /* 게시판 */
    position: absolute;
    width: 62px;
    height: 26px;
    left: 1274px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(5){
    /* mbti검사 */
    position: absolute;
    width: 101px;
    height: 26px;
    left: 1393px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(6){
    /* 마이페이지 */
    position: absolute;
    width: 102px;
    height: 26px;
    left: 1536px;
    top: 26px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}

nav span:nth-child(7){
    /* 로그인 */
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1692px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}

/*#logoutNav{
    !* 로그아웃 *!
    position: absolute;
    width: 100px;
    height: 21px;
    left: 1670px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
    background: none;
    border:none;
    text-align: center;
}*/

nav span:nth-child(8){
    /* 회원가입 */
    position: absolute;
    width: 67px;
    height: 21px;
    left: 1772px;
    top: 29px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:hover{
    color: #A3DA87;
    scale: 130%;
}


.logo img{
    position: absolute;
    width: 451px;
    height: 250px;
    left: 169px;
    top: 231px;
}

/* signup */

.uiBack{
    position: absolute;
    width: 1656px;
    height: 746px;
    left: calc(50% - 1656px/2);
    top: calc(50% - 746px/2 + 65px);

    background: #0E2913;
}

.signupText{
    position: absolute;
    width: 327px;
    height: 62px;
    left: calc(50% - 327px/2 - 0.5px);
    top: 301px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 62px;

    color: #FFFFFF;
}

.character{
    position: absolute;
    width: 626px;
    height: 417px;
    left: 211px;
    top: 689px;
    z-index: 2;
}

.signupGuide{
    position: absolute;
    width: 475px;
    height: 44px;
    left: calc(50% - 453px/2 - 0.5px);
    top: 390px;

    font-family: 'SUIT-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;

    color: #FFFFFF;
}

.phone{
    position: absolute;
    width: 676px;
    height: 450px;
    left: calc(50% - 676px/2 - 28px);
    top: 469px;
    transition: all 0.1s ease-in-out;
    border: none;
    cursor: pointer;
    border-radius: 1000px;
    z-index: 2;
    }

    .phone:active{
        margin-left: 5px;
        margin-top: 5px;
        transform: scale(0.95);
    }

    .tree{
        position: absolute;
        width: 1920px;
        height: 1000px;
        left: 0px;
        top: 79px;
        z-index: 1;
    }

/*  회원가입 2  */

.phoneNumber{
    position: absolute;
    width: 793px;
    height: 81px;
    left: calc(50% - 793px/2 + 0.5px);
    top: 500px;

    background: #A4A4A4;
    border-radius: 50px;

    font-family: 'Cafe24Ssurroundair';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    z-index:2;
    padding-left: 20px;
}

.phoneNumber:focus{
    background: #D9D9D9;
}

.phoneNumber::placeholder {
    color: transparent;
}

.phoneNumber:focus::placeholder {
    color: #3F3F3F;
}

.authNumber{
    position: absolute;
    width: 793px;
    height: 81px;
    left: calc(50% - 793px/2 + 0.5px);
    top: 627px;

    background: #A4A4A4;
    border-radius: 50px;

    font-family: 'Cafe24Ssurroundair';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    z-index:3;
    padding-left: 20px;
}

.authNumber:focus{
    background: #D9D9D9;
}

.authNumber::placeholder {
    color: transparent;
}

.authNumber:focus::placeholder {
    color: #3F3F3F;
    background: #D9D9D9;
}

.authButton{
    position: absolute;
    width: 136px;
    height: 47px;
    left: 1210px;
    top: 520px;

    box-sizing: border-box;

    background: #0E2913;
    border: 2px solid #FFFFFF;
    border-radius: 50px;

    font-family: 'SUIT';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    z-index:5;

    color: #FFFFFF;
}

.authButton:active{
    box-shadow: 1px 1px 1px 1px lightyellow;
    transform: scale(0.95);
}

.TermsOfUse{
    position: absolute;
    width: 307px;
    height: 62px;
    left: 815px;
    top: 250px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 62px;
    /* identical to box height */

    color: #FFFFFF;
    z-index: 99;

}

.modalGuide, .modalGuide2, .modalGuide3{
    position:absolute;

    justify-content: center;

    font-family: 'SUIT-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 205px;
    z-index:7;
    text-align: center;

    box-sizing: border-box;

    width: 1008px;
    height: 205px;
    left: calc(50% - 1008px/2);
    top: 448.5px;

    background: #3B572D;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 4px 17.8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.modalBlur, .modalBlur2, .modalBlur3{
    position:absolute;
    display:none;
    justify-content: center;
    top:0;
    left:0;

    width:1920px;
    height:1080px;
    background-color: rgba(0,0,0,0.4);
    z-index:6;
}

.authConfirm{
        position: absolute;
        width: 170px;
        height: 47px;
        left: 1190px;
        top: 647px;
        display: none;

        box-sizing: border-box;

        background: #0E2913;
        border: 2px solid #FFFFFF;
        border-radius: 50px;

        font-family: 'SUIT-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 31px;
        z-index:5;

        color: #FFFFFF;
}

.authConfirm:active{
    box-shadow: 1px 1px 1px 1px lightyellow;
    transform: scale(0.95);
}

.agree, .agree2, .agree3{
    width:265px;
    height:350px;
    border: 5px solid black;
    overflow-y: scroll;
    font-size: 20px;
    padding: 10px;
    line-height: 25px;
    border-radius: 15px;
    color:black;
    font-weight: 1000;

    position: absolute;
    width: 297px;
    height: 373px;
    left: 453px;
    top: 358px;
    z-index:5;

    background: white;
}

::-webkit-scrollbar{
    width: 30px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.agree2{
    position: absolute;
    width: 297px;
    height: 373px;
    left: 812px;
    top: 358px;

    background: white;
}
.agree3{
    position: absolute;
    width: 297px;
    height: 373px;
    left: 1173px;
    top: 358px;

    background: white;
}

.agreeButton, .agreeButton2, .agreeButton3, .agreeAllButton{

    position: absolute;
    width: 136px;
    height: 44px;

    box-sizing: border-box;
    background: #0E2913;
    border: 2px solid #FFFFFF;
    border-radius: 50px;

    left: 545px;
    top: 761px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 44px;
    text-align: center;
    cursor:pointer;
    z-index:10;

    color: #FFFFFF;
}

.agreeButton2{
    left: 907px;
}

.agreeButton3{
    left: 1267px;
}

.agreeAllButton{
    top:310px;
    left:907px;
}

.active{
    background: #4B9D21;
}

.next{
    position: absolute;
    width: 161px;
    height: 48px;
    left: 890px;
    top: 850px;

    background: #66934F;
    border-radius: 50px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
    z-index: 10;
    cursor:pointer;

    color: #FFFFFF;
}

.next:active{
    background: #4B9D21;
    margin-left: 1px;
    margin-bottom: 1px;
    box-shadow: 1px 1px 1px black;
}

.background02{

    position: absolute;
    width: 1920px;
    height: 995px;
    left: 0px;
    top: 40px;

    background-blend-mode: overlay;
}


