.resolution{
    position: relative;
    width: 1920px;
    height: 1080px;

    background: #FFFFFF;
}

.signupInfoText{

    position: absolute;
    width: 217px;
    height: 62px;
    left: calc(50% - 215px/2 - 0.5px);
    top: 125px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 62px;
    color: #FFFFFF;
}

.signupGuideText{
    position: absolute;
    width: 367px;
    height: 44px;
    left: calc(50% - 358px/2);
    top: 202px;

    font-family: 'SUIT';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;
    color: #FFFFFF;
}

.uiBackSign{

    position: absolute;
    width: 1671px;
    height: 710px;
    left: 124px;
    top: 280px;

    background: #4A7236;
}

.background02{

    position: absolute;
    width: 1920px;
    height: 995px;
    left: 0px;
    top: 40px;

    background-blend-mode: overlay;
}

.idLabel{
    position: absolute;
    width: 140px;
    height: 35px;
    left: 232px;
    top: 358px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;

    color: #FFFFFF;
}

.idInput{
    position: absolute;
    width: 634px;
    height: 59px;
    left: calc(50% - 634px/2 - 138px);
    top: 340px;

    background: #A4A4A4;
    border-radius: 50px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    padding-left: 20px;
    color: #3F3F3F;
    border:2px solid black;
}

.idInput:focus{
    background: #D9D9D9;
}

.idInput::placeholder {
    color: transparent;
}

.idInput:focus::placeholder {
    color: #3F3F3F;
}

.pwdLabel{
    position: absolute;
    width: 200px;
    height: 39px;
    left: 232px;
    top: 444px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;

    color: #FFFFFF;
}

.pwdInput{
    position: absolute;
    width: 634px;
    height: 59px;
    left: calc(50% - 634px/2 - 138px);
    top: 426px;

    background: #A4A4A4;
    border-radius: 50px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    padding-left: 20px;
    color: #3F3F3F;
    border:2px solid black;
}

.pwdInput:focus{
    background: #D9D9D9;
}

.pwdInput::placeholder {
    color: transparent;
}

.pwdInput:focus::placeholder {
    color: #3F3F3F;
}

.pwdConfirmLabel{
    position: absolute;
    width: 250px;
    height: 39px;
    left: 232px;
    top: 530px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;

    color: #FFFFFF;
}

.pwdConfirmInput{
    position: absolute;
    width: 634px;
    height: 59px;
    left: calc(50% - 634px/2 - 138px);
    top: 512px;

    background: #A4A4A4;
    border-radius: 50px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    padding-left: 20px;
    color: #3F3F3F;
    border:2px solid black;
}

.pwdConfirmInput:focus{
    background: #D9D9D9;
}

.pwdConfirmInput::placeholder {
    color: transparent;
}

.pwdConfirmInput:focus::placeholder {
    color: #3F3F3F;
}

.nicknameLabel{
    position: absolute;
    width: 250px;
    height: 39px;
    left: 232px;
    top: 616px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;

    color: #FFFFFF;
}
.nicknameInput{
    position: absolute;
    width: 634px;
    height: 59px;
    left: calc(50% - 634px/2 - 138px);
    top: 598px;

    background: #A4A4A4;
    border-radius: 50px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    padding-left: 20px;
    color: #3F3F3F;
    border:2px solid black;
}

.nicknameInput:focus{
    background: #D9D9D9;
}

.nicknameInput::placeholder {
    color: transparent;
}

.nicknameInput:focus::placeholder {
    color: #3F3F3F;
}

.emailLabel{

    position: absolute;
    width: 104px;
    height: 35px;
    left: 264px;
    top: 718px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;

    color: #FFFFFF;


}

.emailInput{
    position: absolute;
    width: 213px;
    height: 59px;
    left: calc(50% - 213px/2 - 348.5px);
    top: 706px;

    background: #A4A4A4;
    border-radius: 50px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    padding-left: 20px;
    color: #3F3F3F;
    border:2px solid black;
}

.emailInput:focus{
    background: #D9D9D9;
}

.emailMain{
    position: absolute;
    width: 52px;
    height: 65px;
    left: 765px;
    top: 703px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 65px;

    color: #FFFFFF;
}

.authEmail{
    box-sizing: border-box;

    position: absolute;
    width: 100px;
    height: 60px;
    left: 1525px;
    top: 706px;

    background: #4B9D21;
    border: 2px solid #FFFFFF;
    border-radius: 50px;


    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
}

.authEmail:active{
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: 2px 2px 2px black;
}

input.box{
        box-sizing: border-box;
        margin-left: 5px;
        padding: 5px 0 5px 20px;
        border: 2px solid black;
        color: #383838;
        background-color: #ffffff;

        position: absolute;
        width: 324px;
        height: 59px;
        left: 830px;
        top: 706px;

        background: #A4A4A4;
        border-radius: 50px;
        font-family: 'Cafe24 Ssurround air';
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 65px;

        color: #FFFFFF;
}

select.box{
    box-sizing: border-box;
    margin-left: 5px;
    padding: 5px 0 5px 20px;
    border: 2px solid black;
    color: #383838;
    background-color: #ffffff;

    position: absolute;
    width: 324px;
    height: 59px;
    left: 1175px;
    top: 706px;

    background: #A4A4A4;
    border-radius: 50px;
    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 65px;

    color: #FFFFFF;
}

option{
    font-size: 16px;
}

#domain-txt:focus{
    background: #D9D9D9;
}

.info .box#domain-list option {
    font-size: 14px;
    background-color: #ffffff;
}

.info#info__birth {
    display: flex;
}

.info#info__birth select {
    margin-left : 7px;
}

.info#info__birth select:first-child {
    margin-left : 0px;
}

.info#info__birth select::-webkit-scrollbar {
    width: 10px;
}

.info#info__birth select::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 3px;
}

.info#info__birth select::-webkit-scrollbar-track {
    background-color: #ebe9e9;
    border-radius: 6px;
}

select.box1{
    box-sizing: border-box;
    margin-left: 5px;
    padding: 5px 0 5px 15px;
    border: 2px solid black;
    color: #383838;
    background-color: #ffffff;

    position: absolute;
    width: 150px;
    height: 59px;
    left: 503px;
    top: 790px;

    background: #A4A4A4;
    border-radius: 50px;
    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 65px;

    color: #FFFFFF;
}

#birth-month{
    left: 675px;
}

#birth-day{
    left: 847px;
}

.birthday{

    position: absolute;
    width: 133px;
    height: 39px;
    left: 264px;
    top: 804px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;

    color: #FFFFFF;
}

#resetBirth{
    box-sizing: border-box;

    position: absolute;
    width: 150px;
    height: 60px;
    left: 1029px;
    top: 790px;

    background: #4B9D21;
    border: 2px solid #FFFFFF;
    border-radius: 50px;


    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
}

#resetBirth:active{
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: 2px 2px 2px black;
}

.gender{
    position: absolute;
    width: 76px;
    height: 35px;
    left: 264px;
    top: 890px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;

    color: #FFFFFF;
}

.man, .woman, .none{
    position: absolute;
    width: 75px;
    height: 35px;
    left: 514px;
    top: 890px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;

    color: #FFFFFF;
}
.woman{
    left: 689px;
}

.none {
    left: 864px;
}

#man, #woman, #none{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 566px;
    top: 890px;

    background: #D9D9D9;
}

#woman{
    left: 741px;
}

#none{
    left: 945px;
}

.modalBlur{
    position:absolute;
    display:none;
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index:6;
}

.modalGuide{
    position:absolute;

    justify-content: center;

    font-family: 'SUIT';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110px;
    text-align: center;

    box-sizing: border-box;

    width: 500px;
    height: 200px;
    top: 448.5px;

    background: #3B572D;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 4px 17.8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.authNumber{
    position:absolute;
    left: 50px;
    top: 30px;
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 205px;
    color:white;
}

#authNumber{

    position: absolute;
    width: 213px;
    height: 59px;
    left: 230px;
    top: 100px;
    text-align: center;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;

    color: #3F3F3F;


    background: #A4A4A4;
    border-radius: 50px;

    border: 0.3px solid #000000;
}

#authNumber:focus{
    background: #D9D9D9;
}

.next{
    position: absolute;
    width: 161px;
    height: 48px;
    left: calc(50% - 161px/2 + 670.5px);
    top: 894px;

    background: #0E2913;
    border-radius: 50px;
    border:white 2px solid;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}

.next:active{
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: 1px 1px 1px black;
}

/* 회원가입 완료 */
.uiBackSignConfirm{
    position: absolute;
    width: 710px;
    height: 710px;
    left: calc(50% - 710px/2 + 1px);
    top: calc(50% - 710px/2);

    background: #4A7236;
    border-radius: 100px;
}

.confirmGuide{
    position: absolute;
    width: 900px;
    height: 206px;
    left: 515px;
    top: 379px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 103px;
    text-align: center;

    color: #000000;
}

.button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 10px;
    background: rgba(74, 114, 54, 0);

    position: absolute;
    width: 192px;
    height: 145px;
    left: 700px;
    top: 575px;

    border: 10px solid #FFFFFF;
    border-radius: 100px;
    flex: none;
}

.button:active{
    margin-top: 2px;
    margin-left: 2px;
    box-shadow: 2px 2px 2px black;
}

#mainButton{
    width: 192px;
    height: 145px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;

    color: #FFFFFF;
}

.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(74, 114, 54);

    position: absolute;
    width: 192px;
    height: 145px;

    border: 10px solid #FFFFFF;
    border-radius: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 2;
}

#mbtiButton{
    left: 1030px;
    width: 192px;
    height: 145px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
}


/*---------------nav------------------*/
nav{
    position: fixed;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.5);
    z-index: 999;
}


nav img{
    /* 남호정 */
    position: absolute;
    width: 82px;
    height: 45px;
    left: 48px;
    top: 18px;

}

nav span:nth-child(2) {
    /* 소개 */
    position: absolute;
    width: 42px;
    height: 26px;
    left: 1036px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #A3DA87;
    transition: all 1s;
}


nav span:nth-child(3){
    /* 공지사항 */
    position: absolute;
    width: 82px;
    height: 26px;
    left: 1135px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(4){
    /* 게시판 */
    position: absolute;
    width: 62px;
    height: 26px;
    left: 1274px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(5){
    /* mbti검사 */
    position: absolute;
    width: 101px;
    height: 26px;
    left: 1393px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(6){
    /* 마이페이지 */
    position: absolute;
    width: 102px;
    height: 26px;
    left: 1536px;
    top: 26px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(7){
    /* 로그인 */
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1692px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(8){
    /* 회원가입 */
    position: absolute;
    width: 67px;
    height: 21px;
    left: 1772px;
    top: 29px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:hover{
    color: #A3DA87;
    scale: 130%;
}


.logo img{
    position: absolute;
    width: 451px;
    height: 250px;
    left: 169px;
    top: 231px;
}

#idCheckMessage{
    position: absolute;
    width: 550px;
    height: 35px;
    left: 1186px;
    top: 352px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;

    color: #6EBA4A;
}

#pwdCheckMessage{
    position: absolute;
    width: 550px;
    height: 35px;
    left: 1186px;
    top: 436px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;

    color: #6EBA4A;
}

#pwdConfirmMessage{
    position: absolute;
    width: 550px;
    height: 35px;
    left: 1186px;
    top: 522px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;

    color: #6EBA4A;
}

#nicknameCheckMessage{
    position: absolute;
    width: 550px;
    height: 35px;
    left: 1186px;
    top: 609px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;

    color: #6EBA4A;
}

#emailCheckMessage{
    position: absolute;
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    z-index: 999;
}

button:disabled {
    background-color: #D3D3D3;
    color: #A9A9A9;
    border: 1px solid #A9A9A9;
    cursor: not-allowed;
}

.toggle-eye {
    position: absolute;
    scale:-10%;
    rotate: 180deg;
    left: 875px;
}

#togglePassword {
    top: 203px;
}

#togglePasswordConfirm {
    top: 287px
}