<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mbti.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
</head>
<body>
<div class="resolution">
    <img class="background" th:src="@{/images/mbti/mbtiBackground.png}" alt="mbti 테스트 배경">
<nav>
    <!--네비바-->
    <img th:src="@{/images/main/nav-logo-dark.png}" alt="상단 로고" onclick="location.href='/'">
    <span onclick="location.href='/intro'">소개</span>
    <span onclick="location.href='/notice'">공지사항</span>
    <span onclick="location.href='/post'">게시판</span>
    <span onclick="location.href='/mbti'">MBTI 검사</span>
    <span id="mypageBtn">마이페이지</span>
    <form th:action="@{/auth/logout}" method="post">
        <button id="logoutNav" type="submit">로그아웃</button>
    </form>
    <span onclick="location.href='/auth/signupterms'">회원가입</span>
</nav>
    <img id="testBack" th:src="@{/images/mbti/test.png}" alt="test 시작 전 배경">
    <img class="dynamic-image" id="testBack2" th:src="@{/images/mbti/testBackground.png}" alt="test 시작 전 배경2">
    <img id="bookIco" th:src="@{/images/icon/book.png}" alt="MBTI 시작 전 문구 아이콘">
    <p id="mbtiStart" class="dynamic-text" data-content="공포 MBTI 테스트">공포 MBTI 테스트</p>
    <p id="mbtiStart2" class="dynamic-text" data-content="공포 MBTI를 시작하시겠습니까?
    평균 소요 시간 7분 ~ 12분">
        공포 MBTI를 시작하시겠습니까?<br>
        평균 소요 시간 7분 ~ 12분</p>
    <button type="button" id="yes" data-content="예" onclick="location.href='/mbti/test'">예</button>
    <button type="button" id="no" data-content="아니오" onclick="location.href='/main'">아니오</button>
</div>
</body>
</html>