<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mbti.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
</head>
<body>
<div class="resolution">
    <img class="background" s>
<nav>
    <!--네비바-->
    <img th:src="@{/images/main/nav-logo-dark.png}" alt="상단 로고" onclick="location.href='/'">
    <span onclick="location.href='/intro'">소개</span>
    <span onclick="location.href='/notice'">공지사항</span>
    <span onclick="location.href='/post'">게시판</span>
    <span>MBTI 검사</span>
    <span id="mypageBtn">마이페이지</span>
    <form th:action="@{/auth/logout}" method="post">
        <button id="logoutNav" type="submit">로그아웃</button>
    </form>
    <span onclick="location.href='/auth/signupterms'">회원가입</span>
</nav>

</div>
</body>
</html>