<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mbti검사</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입 완료</title>
    <link rel="stylesheet" href="/static/css/mbti.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
<div class="resolution">
    <img class="background01" src="/static/images/login/background01.png" alt="배경">
    <img class="background02" src="/static/images/login/background02.png" alt="배경">
    <nav>
        <!--네비바-->
        <img th:src="@{/images/main/nav-logo-dark.png}" alt="상단 로고" onclick="location.href='/main'">
        <span onclick="location.href='/intro/'">소개</span>
        <span onclick="location.href='/notice'">공지사항</span>
        <span>게시판</span>
        <span>MBTI 검사</span>
        <span>마이페이지</span>
        <span>로그인</span>
        <span>회원가입</span>
    </nav>
    <img src="/static/images/mbti/mbti1img.png" class="uiBack">
    <img src="/static/images/mbti/mbti1img.png" class="mbtiBack">
</div>
</body>
</html>