<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/mbti.css}">
  <link rel="stylesheet" th:href="@{/css/reset.css}">
</head>
<body>
<div class="resolution">
  <img class="background" th:src="@{/images/mbti/testBackground.png}" alt="mbti 테스트 배경">

  <div id="loadingbarMain">
    <div id="loadingbar"></div>
  </div>

  <nav>
    <!--네비바-->
    <img th:src="@{/images/main/nav-logo-dark.png}" alt="상단 로고" onclick="location.href='/'">
    <span onclick="location.href='/intro'">소개</span>
    <span onclick="location.href='/notice'">공지사항</span>
    <span onclick="location.href='/post'">게시판</span>
    <span onclick="location.href='/mbti'">MBTI 검사</span>
    <span id="mypageBtn">마이페이지</span>
    <form th:action="@{/auth/logout}" method="post">
      <button id="logoutNav" type="submit">로그아웃</button>
    </form>
    <span onclick="location.href='/auth/signupterms'">회원가입</span>
  </nav>
  <img id="testBack" th:src="@{/images/mbti/testBackground.png}" alt="test 시작 전 배경">

  <img id="question-img" src="/images/mbti/img.png" alt="MBTI Image" />
  <p id="question-text" th:text="${QuestionDTO != null ? QuestionDTO.text : '😂'}"></p>

  <img class="hands" th:src="@{/images/mbti/hands.png}" alt="손">
  <form th:action="@{/mbti/submitMbtiResult}" method="post">
  <button class="next" type="button" id="yes" onclick="answerQuestion('yes')" data-content="예">예</button>
  <button class="next" type="button" id="no" onclick="answerQuestion('no')" data-content="아니오">아니오</button>
  </form>
</div>
</body>
<script>
  class MbtiTesterDTO {
    constructor() {
      this.CB = 0;
      this.HG = 0;
      this.SE = 0;
      this.TM = 0;
    }

    updateMbti(questionNo, answer) {
      if (questionNo >= 1 && questionNo <= 9) {
        if (answer === "yes") {
          this.CB++;
        } else if (answer === "no") {
          this.CB--;
        }
      } else if (questionNo >= 10 && questionNo <= 18) {
        if (answer === "yes") {
          this.HG++;
        } else if (answer === "no") {
          this.HG--;
        }
      } else if (questionNo >= 19 && questionNo <= 27) {
        if (answer === "yes") {
          this.SE++;
        } else if (answer === "no") {
          this.SE--;
        }
      } else if (questionNo >= 28 && questionNo <= 36) {
        if (answer === "yes") {
          this.TM++;
        } else if (answer === "no") {
          this.TM--;
        }
      }
    }
    toString() {
      return `MbtiTester{CB=${this.CB}, HG=${this.HG}, SE=${this.SE}, TM=${this.TM}}`;
    }
  }

  function submitMbtiResult() {
    fetch('/mbti/submitmbtiresult', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        CB: mbtiTesterDTO.CB,
        HG: mbtiTesterDTO.HG,
        SE: mbtiTesterDTO.SE,
        TM: mbtiTesterDTO.TM
      })
    })
            .then(response => response.json())
            .then(data => {
              location.href = '/mbti/mbtiresult';
            })
            .catch(error => console.error('Error submitting MBTI result:', error));
  }
  const totalQuestions = 36; // 변하지 않을거니까 const
  let currentQuestionNo = 1; // 변해야 하니까 let
  const mbtiTesterDTO = new MbtiTesterDTO(); // 결과담을 공간

  function updateLoadingBar() {
    const progress = (currentQuestionNo - 1) / totalQuestions * 100;
    document.getElementById("loadingbar").style.width = progress + "%";
  }

  function answerQuestion(answer) {

    if (currentQuestionNo === 37) {
      submitMbtiResult();
      return;
    }

    updateLoadingBar();

    mbtiTesterDTO.updateMbti(currentQuestionNo, answer);
    const imagePath = `/images/mbti/questions/mbti${currentQuestionNo}img.png`;
    fetch(`/mbti/question/${currentQuestionNo}`)
            .then(response => response.json())
            .then(data => {
              document.getElementById("question-text").textContent = data.text;
              // document.getElementById("question-img").src = '/images/mbti/questions/' + data.image; // db경로로 하려고했는데 안돼서 바꿈 - 이 줄은 db넣을때 사용
              document.getElementById("question-img").src = imagePath;
              currentQuestionNo++;
            })
            .catch(error => console.error('Error fetching data:', error));
    console.log(mbtiTesterDTO.toString());
  }
</script>
</html>