<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디, 비밀번호 찾기 선택</title>
</head>
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>회원 가입 완료</title>
    <link rel="stylesheet" th:href="@{/css/search.css}" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
</head>
<body>
<div class="resolution">
    <img class="background01" th:src="@{/images/login/background01.png}" alt="배경">
    <img class="background02" th:src="@{/images/login/background02.png}" alt="배경">
    <nav>
        <!--네비바-->
        <img th:src="@{/images/main/nav-logo-dark.png}" alt="상단 로고" onclick="location.href='/'">
        <span onclick="location.href='/intro'">소개</span>
        <span onclick="location.href='/notice'">공지사항</span>
        <span onclick="location.href='/post'">게시판</span>
        <span onclick="location.href='/mbti'">MBTI 검사</span>
        <span id="mypageBtn">마이페이지</span>
        <span onclick="location.href='/auth/login'">로그인</span>
        <span onclick="location.href='/auth/signupterms'">회원가입</span>
    </nav>
<div class="searchUiBox"></div>
    <p class="searchGuide">아이디 / 비밀번호 찾기</p>
    <p class="searchGuide2">아이디와 비밀번호 중 찾아야 하는 것을 선택해주세요.</p>
    <button class="searchId" onclick="location.href='/find/id'">아이디<br>찾기</button>
    <button class="searchPwd" onclick="location.href='/find/password'">비밀번호<br>찾기</button>
</div>
</body>
</html>