<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
  <link rel="stylesheet" th:href="@{/css/search.css}"/>
  <link rel="stylesheet" th:href="@{/css/reset.css}"/>
</head>
<body>
<div class="resolution">
  <img class="background01" th:src="@{/images/login/background01.png}" alt="배경">
  <img class="background02" th:src="@{/images/login/background02.png}" alt="배경">
  <nav>
    <!--네비바-->
    <img th:src="@{/images/main/nav-logo-dark.png}" alt="상단 로고" onclick="location.href='/'">
    <span onclick="location.href='/intro'">소개</span>
    <span onclick="location.href='/notice'">공지사항</span>
    <span onclick="location.href='/post'">게시판</span>
    <span onclick="location.href='/mbti'">MBTI 검사</span>
    <span id="mypageBtn">마이페이지</span>
    <span onclick="location.href='/auth/login'">로그인</span>
    <span onclick="location.href='/auth/signupterms'">회원가입</span>
  </nav>
  <div class="searchUiBox"></div>
  <p class="searchGuide">아이디 찾기</p>
  <p class="searchGuide2">본인 확인 인증이 필요합니다.</p>
  <img class="authImg" th:src="@{/images/search/auth.png}">

  <!-- 인증 모달 -->
  <div class="modalBlur">
    <div class="modalGuide">
      <label for="email" class="emailLabel">* 이메일 : </label><input type="text" id="email" class="emailInput" name="emailInput" minlength="1" required>
      <p class="emailMain">@</p>
      <input class="box" id="domain-txt" type="text"/>
      <select class="box" id="domain-list">
        <option class="sopText" value="type">직접 입력</option>
        <option class="sop" value="naver.com">naver.com</option>
        <option class="sop" value="gmail.com">gmail.com</option>
        <option class="sop" value="daum.net">hanmail.net</option>
        <option class="sop" value="nate.com">nate.com</option>
        <option class="sop" value="kakao.com">kakao.com</option>
      </select>
      <button type="button" id="authEmail" class="authEmail" onclick="sendAuthCode()">인증</button>
      <button type="button" id="authConfirm" class="authConfirm">완료</button>
      <input type="hidden" id="hidden-email" name="userEmail"/>
      <input type="hidden" id="duplicate-hidden-email"/>
      <h1 style="color:white;" id="authLabel">이메일 인증</h1>
      <label for="authNumber" class="authNumber">인증 번호 : </label><input id="authNumber" type="text" name="authNumber" placeholder="인증번호 입력" maxlength="6" ><p id="emailCheckMessage"></p>
      <button type="button" id="exitButton">X</button>
    </div>
  </div>


</div>
<script>
  const emailInput = document.getElementById('email');
  const emailDomainInput = document.getElementById('domain-txt');
  const emailSelectInput = document.getElementById('domain-list');
  const nextButton = document.getElementById('next');
  const modal = document.querySelector('.modalBlur');
  const btnOpenModal = document.querySelector('.authImg');
  const authConfirmButton = document.getElementById('authConfirm');
  const closeModalButton = document.getElementById('exitButton');

  // 모달 속도때문에 넣어둬야 함
  btnOpenModal.addEventListener("click", () => {
    modal.style.display = "flex";
  })

  closeModalButton.addEventListener("click", () => {
    modal.style.display = "none";
  });

  emailSelectInput.addEventListener('change', () => {
    const domainInput = document.querySelector('#domain-txt');
    const domainSelect = document.querySelector('#domain-list');

    let domain = '';

    if (domainSelect.value !== "type") {
      domain = domainSelect.value;
    } else {
      domain = domainInput.value;
    }

    domainInput.value = domain;
  });


  // 이메일 인증
  function sendAuthCode() {
    const emailPrefix = document.getElementById('email').value;
    const emailDomain = document.getElementById('domain-txt').value || document.getElementById('domain-list').value;

    if (!emailPrefix || !emailDomain) {
      alert("이메일을 정확하게 입력해주세요.");
      nextButton.disabled = true;
      return;
    }

    const userEmail = emailPrefix + '@' + emailDomain;

    fetch('/auth/sendauthCode', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({email: userEmail}),
    })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                openAuthModal();
              } else {
                alert("인증 번호 전송에 실패했습니다.");
                nextButton.disabled = true;
              }
            })
            .catch(error => {
              console.error('Error:', error);
              alert("서버와의 통신에 실패했습니다.");
              nextButton.disabled = true;
            });
  }

  function checkAuthCode() {
    const authCodeInput = document.getElementById('authNumber').value;

    const emailPrefix = document.getElementById('email').value;
    const emailDomain = document.getElementById('domain-txt').value || document.getElementById('domain-list').value;
    const userEmail = emailPrefix + '@' + emailDomain;

    if (authCodeInput.length === 6) {
      fetch('/auth/verifyauthCode', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          email: userEmail,
          authCode: authCodeInput
        }),
      })
              .then(response => response.json())
              .then(data => {
                if (data.success) {
                  closeAuthModal();
                  enableNextButton();
                  subOn();
                  nextButton.disabled = false;
                  authConfirmButton.style.display = "block";
                } else {
                  document.getElementById('emailCheckMessage').innerText = "인증 번호가 잘못되었습니다.";
                  nextButton.disabled = true;
                  authCodeInput.style.outline = "5px #FD3C3C solid";
                }
              })
              .catch(error => {
                console.error('Error:', error);
                alert("서버와의 통신에 실패했습니다.");
                nextButton.disabled = true;
              });
    }

    console.log(authCodeInput);
  }

  function openAuthModal() {
    const modal = document.querySelector('.modalBlur');
    modal.style.display = 'flex';
  }

  function closeAuthModal() {
    const modal = document.querySelector('.modalBlur');
    modal.style.display = 'none';
  }

  function enableNextButton() {
    const nextButton = document.getElementById('next');
    nextButton.disabled = false;
    document.getElementById('email').readOnly = true;
    document.getElementById('domain-txt').readOnly = true;
    document.getElementById('domain-list').readOnly = true;
  }

  document.getElementById('authNumber').addEventListener('input', checkAuthCode);

  // 이메일 부분 로직
  notEnter();
  const form = document.querySelector('form');
  form.addEventListener('submit', function (event) {
    const emailInput = document.querySelector('#email');
    const domainInput = document.querySelector('#domain-txt');
    const domainSelect = document.querySelector('#domain-list');

    const frontEmail = emailInput.value.split('@')[0];
    emailInput.value = frontEmail;

    const hiddenEmailField = document.getElementById('hidden-email');
    hiddenEmailField.value = emailInput.value;

    if (domainSelect.value !== "type") {
      hiddenEmailField.value += "@" + domainSelect.value;
    } else {
      hiddenEmailField.value += "@" + domainInput.value;
    }
  });

  const domainListEl = document.querySelector('#domain-list')
  const domainInputEl = document.querySelector('#domain-txt')
  domainListEl.addEventListener('change', (event) => {
    if (event.target.value !== "type") {
      domainInputEl.value = event.target.value
      domainInputEl.disabled = true
    } else {
      domainInputEl.value = ""
      domainInputEl.disabled = false
    }
  })
</script>
</body>
</html>