<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.mergyping.user.model.dao.AdminNoticeMapper">

    <!-- 공지사항 목록 페이징-->
    <select id="selectNoticesByPage" resultType="com.ohgiraffers.mergyping.user.model.dto.AdminNoticeDTO">
        SELECT NOTICE_NO AS noticeNo,
        NOTICE_TITLE AS title,
        NOTICE_DATE AS date
        FROM TBL_NOTICE
        ORDER BY NOTICE_NO DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 전체 공지사항 개수 조회 -->
    <select id="countNotices" resultType="int">
        SELECT COUNT(*) FROM TBL_NOTICE
    </select>

    <!-- 공지사항 상세 조회 -->
    <resultMap id="noticeDetailResultMap" type="com.ohgiraffers.mergyping.user.model.dto.AdminNoticeDetailDTO">
        <result property="noticeNo" column="NOTICE_NO" />
        <result property="title" column="NOTICE_TITLE" />
        <result property="content" column="NOTICE_CONTENT" />
        <result property="date" column="NOTICE_DATE" />
    </resultMap>

    <select id="selectNoticeDetail" parameterType="String" resultMap="noticeDetailResultMap">
        SELECT NOTICE_NO,
        NOTICE_TITLE,
        NOTICE_CONTENT,
        NOTICE_DATE
        FROM TBL_NOTICE
        WHERE NOTICE_NO = #{noticeNo}
    </select>

    <update id="updateNotice" parameterType="com.ohgiraffers.mergyping.user.model.dto.AdminNoticeDetailDTO">
        UPDATE TBL_NOTICE
        SET
        NOTICE_TITLE = #{title},
        NOTICE_CONTENT = #{content}
        WHERE
        NOTICE_NO = #{noticeNo}
    </update>

    <delete id="deleteNotice" parameterType="String">
        DELETE FROM TBL_NOTICE
        WHERE NOTICE_NO = #{noticeNo}
    </delete>


    <insert id="insertNotice" parameterType="com.ohgiraffers.mergyping.user.model.dto.AdminNoticeDTO">
        INSERT INTO TBL_NOTICE (NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE, USER_TYPE)
        VALUES (#{title}, #{content}, NOW(), COALESCE(#{userType}, '관리자'))
    </insert>
</mapper>