<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.mergyping.user.model.dao.AdminNoticeMapper">

    <!-- 공지사항 페이징 처리 -->
    <select id="selectNoticesByPage" resultType="com.ohgiraffers.mergyping.user.model.dto.AdminNoticeDTO">
        SELECT NOTICE_NO AS noticeNo,
        NOTICE_TITLE AS title,
        NOTICE_CATEGORY AS category,
        NOTICE_DATE AS date
        FROM TBL_NOTICE
        ORDER BY NOTICE_NO DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 전체 공지사항 개수 조회 -->
    <select id="countNotices" resultType="int">
        SELECT COUNT(*)
        FROM TBL_NOTICE
    </select>


    <select id="selectNoticeDetail" parameterType="String" resultType="com.ohgiraffers.mergyping.user.model.dto.AdminNoticeDetailDTO">
        SELECT NOTICE_NO AS noticeNo,
        NOTICE_TITLE AS title,
        NOTICE_CONTENT AS content,
        NOTICE_CATEGORY AS category,
        NOTICE_DATE AS date
        FROM TBL_NOTICE
        WHERE NOTICE_NO = #{noticeNo}
    </select>

    <!-- 공지사항 수정 -->
    <update id="updateNotice" parameterType="com.ohgiraffers.mergyping.user.model.dto.AdminNoticeDetailDTO">
        UPDATE TBL_NOTICE
        SET
        NOTICE_TITLE = #{title},
        NOTICE_CONTENT = #{content},
        NOTICE_CATEGORY = #{category}
        WHERE
        NOTICE_NO = #{noticeNo}
    </update>

    <!-- 공지사항 삭제 -->
    <delete id="deleteNotice" parameterType="String">
        DELETE
        FROM TBL_NOTICE
        WHERE NOTICE_NO = #{noticeNo}
    </delete>

    <!-- 공지사항 추가 -->
    <insert id="insertNotice" parameterType="com.ohgiraffers.mergyping.user.model.dto.AdminNoticeDTO">
        INSERT INTO TBL_NOTICE (NOTICE_TITLE, NOTICE_CONTENT, NOTICE_CATEGORY, NOTICE_DATE, USER_TYPE)
        VALUES (#{title}, #{content}, #{category}, NOW(), COALESCE(#{userType}, 'ADMIN'))
    </insert>

    <!-- 검색 결과 페이징 처리 -->
    <select id="searchNoticesByTitle" resultType="com.ohgiraffers.mergyping.user.model.dto.AdminNoticeDTO">
        SELECT NOTICE_NO AS noticeNo,
        NOTICE_TITLE AS title,
        NOTICE_CATEGORY AS category,
        NOTICE_DATE AS date
        FROM TBL_NOTICE
        WHERE NOTICE_TITLE LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY NOTICE_NO DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 검색 결과 개수 조회 -->
    <select id="countNoticesByKeyword" resultType="int">
        SELECT COUNT(*)
        FROM TBL_NOTICE
        WHERE NOTICE_TITLE LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>