<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.mergyping.mbti.model.dao.MbtiMapper">
    <resultMap id="questionResultMap" type="com.ohgiraffers.mergyping.mbti.model.dto.QuestionDTO">
        <result property="No" column="MBTI_QUESTION_NO"/>
        <result property="image" column="MBTI_IMG"/>
        <result property="text" column="MBTI_QUESTION"/>
    </resultMap>
    <select id="getQuestion" resultMap="questionResultMap">
            SELECT
          MBTI_QUESTION_NO
        , MBTI_IMG
        , MBTI_QUESTION
         FROM TBL_MBTI_TEST
        WHERE MBTI_QUESTION_NO = #{ questionNo }
    </select>

    <update id="updateMbti">
        UPDATE TBL_MBTI
        SET MBTI_TYPE = #{mbtiType}
        WHERE USER_NO = #{userNo};
    </update>
</mapper>