<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.mergyping.user.model.dao.MyPageMapper">

    <resultMap id="mypageResultMap" type="com.ohgiraffers.mergyping.user.model.dto.MyPageDTO">
        <result property="userName" column="USER_NAME"/>
        <result property="email"  column="EMAIL"/>
        <result property="userId" column="USER_ID"/>
        <result property="userPwd" column="USER_PWD"/>
    </resultMap>

    <resultMap id="mypagePostResultMap" type="com.ohgiraffers.mergyping.user.model.dto.MyPagePostDTO">
        <id property="postNo" column="POST_NO"/>
        <result property="postFavorite" column="POST_FAVORITE"/>
        <result property="postTitle" column="POST_TITLE"/>
        <result property="postCategory" column="POST_CATEGORY"/>
        <result property="postDate" column="POST_DATE"/>
        <result property="scaryNumber" column="SCARY_NUMBER"/>
        <result property="commentsNumber" column="COMMENTS_NUMBER"/>
    </resultMap>

    <resultMap id="mypageCommentResultMap" type="com.ohgiraffers.mergyping.user.model.dto.MypageCommentDTO">
        <id property="commentNo" column="COMMENT_NO"/>
        <result property="commentContent" column="COMMENT_CONTENT"/>
        <result property="userNo" column="USER_NO"/>
        <result property="commentDate" column="COMMENT_DATE"/>
        <result property="postNo" column="POST_NO"/>
        <result property="likeNumber" column="LIKE_NUMBER"/>
    </resultMap>

    <select id="findWrittenPost" resultMap="mypagePostResultMap">
        SELECT
        POST_NO,
        POST_FAVORITE,
        POST_TITLE,
        POST_CATEGORY,
        POST_DATE,
        SCARY_NUMBER,
        COMMENTS_NUMBER
        FROM TBL_POST
        WHERE POST_WRITER = #{userNo}
        ORDER BY POST_DATE DESC
        LIMIT #{offset}, #{size}

    </select>

    <select id="countUserPosts" resultType="int">
        SELECT COUNT(*) FROM TBL_POST WHERE POST_WRITER = #{userNo}
    </select>

    <select id="findWrittenComment" resultMap="mypageCommentResultMap">
        SELECT
        COMMENT_NO,
        COMMENT_CONTENT,
        COMMENT_DATE,
        LIKE_NUMBER
        FROM TBL_COMMENT
        WHERE USER_NO = #{userNo}
        ORDER BY COMMENT_DATE DESC, COMMENT_NO DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="countUserComment" resultType="int">
        SELECT COUNT(*) FROM TBL_COMMENT WHERE USER_NO = #{userNo}
    </select>

    <select id="findWrittenFavorite" resultMap="mypagePostResultMap">
        SELECT
        POST_NO,
        POST_FAVORITE,
        POST_TITLE,
        POST_CATEGORY,
        POST_DATE,
        SCARY_NUMBER,
        COMMENTS_NUMBER
        FROM TBL_POST
        WHERE POST_WRITER = #{userNo}
        AND POST_FAVORITE = true
        ORDER BY POST_DATE DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="countUserFavorite" resultType="int">
        SELECT COUNT(*) FROM TBL_POST WHERE POST_WRITER = #{userNo} AND POST_FAVORITE = true
    </select>


    <select id="findNickName"   resultMap="mypageResultMap" >
        SELECT USER_NAME,
                USER_ID,
                EMAIL
        FROM TBL_USER
        WHERE USER_NO= #{userNo}
    </select>

    <select id="findEmail" resultMap="mypageResultMap">
        SELECT EMAIL
        FROM TBL_USER
        WHERE USER_NO = #{userNo}
    </select>

    <select id="findId" resultMap="mypageResultMap">
        SELECT USER_ID
        FROM TBL_USER
        WHERE USER_NO = #{userNo}
    </select>

    <select id="existsByNickname" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM TBL_USER
        WHERE USER_NAME = #{nickname}
    </select>


    <update id="modifyUserName" parameterType="com.ohgiraffers.mergyping.user.model.dto.MyPageDTO">
        UPDATE TBL_USER
        SET USER_NAME = #{userName}
        WHERE USER_NO = #{userNo}
    </update>

    <update id="updatePassword"  parameterType="map">
        UPDATE TBL_USER
        SET USER_PWD = #{userPwd}
        WHERE USER_NO = #{userNo}
    </update>

    <select id="findUserMBTIInfo" parameterType="int" resultType="map">
        SELECT
        m.MBTI_TYPE,
        i.MBTI_INFO
        FROM TBL_MBTI m
        JOIN TBL_MBTI_INFO i ON m.MBTI_TYPE = i.MBTI_TYPE
        WHERE m.USER_NO = #{userNo}
    </select>

    <!-- 오늘 출석 여부 확인 -->
    <select id="hasCheckedToday" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM TBL_CHECK
        WHERE USER_NO = #{userNo}
        AND CHECK_DATE = #{today}
    </select>

    <!-- 출석 체크 등록 -->
    <insert id="checkAttendance">
        INSERT INTO TBL_CHECK (USER_NO, CHECK_DATE, CHECK_STATUS)
        VALUES (#{userNo}, #{today}, TRUE)
    </insert>

    <!-- 누적 출석 수 증가 -->
    <update id="incrementAttendanceCount">
        UPDATE TBL_USER
        SET CHECK_ALL_NO = IFNULL(CHECK_ALL_NO, 0) + 1
        WHERE USER_NO = #{userNo}
    </update>

    <!-- 출석 날짜 리스트 조회 -->
    <select id="getAttendanceDates" parameterType="int" resultType="String">
        SELECT CHECK_DATE
        FROM TBL_CHECK
        WHERE USER_NO = #{userNo} AND CHECK_STATUS = TRUE
        ORDER BY CHECK_DATE
    </select>

    <!-- 유저 레벨 업데이트하기 -->
    <update id="updateUserLevel" parameterType="map">
        UPDATE TBL_USER
        SET LEVEL_NO = #{levelNo}
        WHERE USER_NO = #{userNo}
    </update>

    <!-- 유저의 출석 수 가져오기 -->
    <select id="getUserAttendanceCount" parameterType="int" resultType="Integer">
        SELECT IFNULL(CHECK_ALL_NO, 0)
        FROM TBL_USER
        WHERE USER_NO = #{userNo}
    </select>

    <!-- 레벨마다 이름 가져오기 -->
    <select id="getLevelName" parameterType="int" resultType="string">
        SELECT LEVEL
        FROM TBL_LEVEL
        WHERE LEVEL_NO = #{levelNo}
    </select>


    <!-- 다음 등급을 조회하는 쿼리 -->
    <select id="getNextLevelName" parameterType="int" resultType="String">
        SELECT LEVEL
        FROM TBL_LEVEL
        WHERE LEVEL_NO = (SELECT LEVEL_NO + 1 FROM TBL_LEVEL WHERE LEVEL_NO = #{currentLevelNo})
    </select>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM TBL_USER
        WHERE USER_NO = #{userNo}
    </delete>



    <!--    &lt;!&ndash; 다음 등급에 도달하기 위한 출석 횟수 조회 SQL &ndash;&gt;-->
    <!--    <select id="getNextLevelRequiredAttendance" parameterType="map" resultType="int">-->
    <!--        SELECT MIN(CHECK_ALL_NO)-->
    <!--        FROM TBL_USER-->
    <!--        WHERE CHECK_ALL_NO >-->
    <!--        (SELECT CHECK_ALL_NO-->
    <!--        FROM TBL_USER-->
    <!--        WHERE USER_NO = #{userNo})-->
    <!--        AND LEVEL_NO = #{nextLevelNo};-->
    <!--    </select>-->



    <!--_________________________img__________________________-->


    <update id="updateProfileImage">
        UPDATE TBL_USER
        SET USER_IMAGE = #{fileUrl}
        WHERE USER_NO = #{userNo}
    </update>


    <select id="findUserInfo" parameterType="int" resultType="com.ohgiraffers.mergyping.user.model.dto.MyPageDTO">
        SELECT
        U.USER_NO AS userNo,
        U.USER_NAME as userName,
        U.EMAIL,
        U.USER_ID,
        U.USER_IMAGE AS profileImage,
        L.LEVEL AS level
        FROM TBL_USER U
        JOIN TBL_LEVEL L ON U.LEVEL_NO = L.LEVEL_NO
        WHERE U.USER_NO = #{userNo}
    </select>



    <select id="getUserLevelName" parameterType="int" resultType="string">
        SELECT
        L.LEVEL
        U.USER_NAME
        FROM TBL_USER U
        JOIN TBL_LEVEL L ON U.LEVEL_NO = L.LEVEL_NO
        WHERE U.USER_NO = #{userNo}
    </select>


</mapper>

        <!--<result property="userType" column="USER_TYPE"/>-->
        <!--<result property="userId" column="USER_ID"/>-->
        <!--<result property="userPwd" column="USER_PWD"/>-->
        <!--<result property="userName" column="USER_NAME"/>-->
        <!--<result property="email" column="EMAIL"/>-->
        <!--<result property="birthday" column="BIRTHDAY"/>-->
        <!--<result property="userImage" column="USER_IMAGE"/>-->
        <!--<result property="phone" column="PHONE"/>-->
        <!--<result property="levelNo" column="LEVEL_NO"/>-->

