<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.mergyping.post.model.dao.PostMapper">
    <resultMap id="postList" type="com.ohgiraffers.mergyping.post.model.dto.PostDTO">
        <id property="postNo" column="POST_NO"/>
        <result property="postTitle" column="POST_TITLE"/>
        <result property="postCategory" column="POST_CATEGORY"/>
        <result property="postDate" column="POST_DATE"/>
        <result property="scaryNumber" column="SCARY_NUMBER"/>
        <result property="commentNumber" column="COMMENTS_NUMBER"/>
        <result property="postFavorite" column="POST_FAVORITE"/>
    </resultMap>
    <resultMap id="selectPost" type="com.ohgiraffers.mergyping.post.model.dto.SelectPostDTO">
        <id property="postNo" column="POST_NO"/>
        <result property="postTitle" column="POST_TITLE"/>
        <result property="postContent" column="POST_CONTENTS"/>
        <result property="postCategory" column="POST_CATEGORY"/>
        <result property="postWriter" column="POST_WRITER"/>
        <result property="postDate" column="POST_DATE"/>
        <result property="scaryNumber" column="SCARY_NUMBER"/>
        <result property="notScaryNumber" column="NOT_SCARY_NUMBER"/>
        <result property="commentNumber" column="COMMENTS_NUMBER"/>
        <result property="postReport" column="POST_REPORT"/>
        <result property="postImageFirst" column="POST_IMAGE_FIRST"/>
        <result property="postImageSecond" column="POST_IMAGE_SECOND"/>
        <result property="postFavorite" column="POST_FAVORITE"/>
        <result property="scary" column="SCARY"/>
        <result property="notScary" column="NOT_SCARY"/>
    </resultMap>


    <select id="postList" resultMap="postList">
        SELECT
        POST_NO,
        POST_TITLE,
        POST_CATEGORY,
        POST_DATE,
        SCARY_NUMBER,
        COMMENTS_NUMBER,
        POST_FAVORITE
        FROM TBL_POST
        ORDER BY POST_NO DESC;
    </select>



    <select id="getPostsByPage" resultType="com.ohgiraffers.mergyping.post.model.dto.PostDTO">
        SELECT
        POST_NO,
        POST_TITLE,
        POST_CATEGORY,
        POST_DATE,
        SCARY_NUMBER,
        COMMENTS_NUMBER,
        POST_FAVORITE
        FROM TBL_POST
        ORDER BY POST_DATE DESC LIMIT #{offset}, #{pageSize};
    </select>

    <select id="getPostCount" resultMap="postList">
        SELECT
        COUNT(*)
        FROM TBL_POST
    </select>

    <select id="getPostsByPageSelect" resultMap="selectPost">
        SELECT
        POST_NO,
        POST_TITLE,
        POST_CATEGORY,
        POST_DATE,
        SCARY_NUMBER,
        COMMENTS_NUMBER,
        POST_FAVORITE
        FROM TBL_POST
        ORDER BY POST_DATE DESC LIMIT #{offset}, #{pageSize};
    </select>

    <select id="selectById" resultMap="selectPost">
        SELECT
        POST_NO,
        POST_TITLE,
        POST_CONTENTS,
        POST_CATEGORY,
        POST_WRITER,
        POST_DATE,
        SCARY_NUMBER,
        NOT_SCARY_NUMBER,
        COMMENTS_NUMBER,
        POST_REPORT,
        POST_IMAGE_FIRST,
        POST_IMAGE_SECOND,
        POST_FAVORITE,
        SCARY,
        NOT_SCARY
        FROM TBL_POST
        WHERE POST_NO = #{postNo};
    </select>


    <update id="updateFavoriteStatus">
        UPDATE TBL_POST
        SET POST_FAVORITE = #{isFavorite}
        WHERE POST_NO = #{postNo};
    </update>

    <update id="incrementScaryCount">
        UPDATE TBL_POST
        SET SCARY = #{isScary},
        SCARY_NUMBER = SCARY_NUMBER + 1
        WHERE POST_NO = #{postNo};
    </update>

    <update id="decrementScaryCount">
        UPDATE TBL_POST
        SET SCARY = #{isScary},
        SCARY_NUMBER = SCARY_NUMBER - 1
        WHERE POST_NO = #{postNo};
    </update>

    <update id="incrementNotScaryCount">
        UPDATE TBL_POST
        SET NOT_SCARY = #{isNotScary},
        NOT_SCARY_NUMBER = NOT_SCARY_NUMBER + 1
        WHERE POST_NO = #{postNo};
    </update>

    <update id="decrementNotScaryCount">
        UPDATE TBL_POST
        SET NOT_SCARY = #{isNotScary},
        NOT_SCARY_NUMBER = NOT_SCARY_NUMBER - 1
        WHERE POST_NO = #{postNo};
    </update>


    <select id="getScaryNumber" parameterType="int" resultType="int">
        SELECT SCARY_NUMBER
        FROM TBL_POST
        WHERE POST_NO = #{postNo}
    </select>

    <select id="getNotScaryNumber" parameterType="int" resultType="int">
        SELECT NOT_SCARY_NUMBER
        FROM TBL_POST
        WHERE POST_NO = #{postNo}
    </select>

    <insert id="insertPost" parameterType="com.ohgiraffers.mergyping.post.model.dto.SelectPostDTO">
        INSERT INTO TBL_POST (
        POST_TITLE,
        POST_CONTENTS,
        POST_CATEGORY,
        POST_WRITER,
        POST_IMAGE_FIRST,
        POST_IMAGE_SECOND
        )
        VALUES (
        #{postTitle},
        #{postContent},
        #{postCategory},
        #{postWriter},
        #{postImageFirst},
        #{postImageSecond}
        );
    </insert>

    <select id="getMaxPostNo" resultType="int">
        SELECT
        MAX(POST_NO)
        FROM TBL_POST
    </select>


</mapper>