<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인 페이지</title>
    <link rel="stylesheet" href="../../../static/css/admin.css">
</head>
<body>

<div class="container">
    <img class = "img" src="/static/images/serene-garden-scene-rainy-night-illuminated-by-lamp-post-generative-ai 1.png">
    <header>
        <nav class="nav">
            <ul>
                <li id="intro"><a href="#">소개</a></li>
                <li id="notice"><a href="#">공지사항</a></li>
                <li id="post"><a href="#">게시판</a></li>
                <li id="mbti"><a href="#">mbti 검사</a></li>
                <li id="mypage"><a href="#">마이페이지</a></li>
                <li id="logout"><a href="#">로그아웃</a></li>
                <li id="signup"><a href="#">회원가입</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="management-buttons">
            <div class="button-row">
                <button id="btn1">공지사항 관리</button>
                <button id="btn2">게시물 관리</button>
            </div>
            <div class="button-r"></div>
            <button id="btn3">회원 관리</button>
            <button id="btn4">신고 관리</button>
        </div>

        <div class="profile-section">
            <div id="profile-pic"></div>
            <button id="profile-button">프로필 변경</button>
            <p id="hello">OOO 관리자님 안녕하세요!</p>
        </div>
    </main>
</div>
</body>
</html>