<!DOCTYPE html>
<HTML LANG="EN">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세조회</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminpostdetail.css}">
    <style>

        .ellipsis {
            white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
        }

        .blur{
            filter: blur(7.5px);
        }
    </style>
</head>
<body>
<header>
    <nav>
        <!-- 네비바 -->
        <img th:src="@{/images/notice/nav-logo-dark.png}" alt="상단 로고" onclick="window.location.href='/'">
        <span onclick="location.href='/intro'">소개</span>
        <span onclick="location.href='/notice'">공지사항</span>
        <span onclick="location.href='/post'">게시판</span>
        <span>MBTI 검사</span>
        <span>마이페이지</span>
        <span>로그인</span>
        <span>회원가입</span>
    </nav>
</header>
<main>
    <div class="post">
        <div id="header">
            <span th:text="${postDetail.postNo}" id="no"></span>
            <span th:text="${postDetail.postTitle}" id="title"></span>
            <script>
                window.addEventListener('load', () => {
                    const title = document.getElementById("title");
                    const no = document.getElementById("no");

                    const checkTitleWidth = () => {
                        const titleWidth = title.offsetWidth;
                        if (titleWidth > 1000) {
                            title.style.fontSize = '35px';
                            title.style.marginTop='15px';
                            no.style.marginTop='15px';
                            title.style.marginLeft='130px';
                            no.style.fontSize = '35px';
                        } else {
                            title.style.fontSize = ''; // 기본 폰트 크기로 되돌림
                        }
                    };

                    // 페이지 로드 시 및 윈도우 리사이즈 시 폰트 크기 체크
                    checkTitleWidth();
                    window.addEventListener('resize', checkTitleWidth);
                });

            </script>
            <span>작성날짜 : </span>
            <span th:text="${#temporals.format(postDetail.postDate, 'yyyy-MM-dd')}"></span>
        </div>
        <div class="line"></div>
        <div id="content">
            <span th:text="${postDetail.postContent}"></span>

<!--             이미지 경로 설정-->
<!--            <img th:src="@{${post.postImageFirst}}" class="blur" id="img1" alt="첫 번째 이미지">-->
<!--            <img th:src="@{${post.postImageSecond}}" class="blur" id="img2" alt="두 번째 이미지">-->

        </div>

        <script>

            const img1 = document.getElementById("img1");
            const img2 = document.getElementById("img2");

            if (img1 !== null) {
                img1.addEventListener('click', () => {
                    img1.classList.toggle("blur");
                });
            }

            if (img2 !== null) {
                img2.addEventListener('click', () => {
                    img2.classList.toggle("blur");
                });
            }
        </script>

<!--        <div id="box">-->
<!--            <div id="writer">-->
<!--                <img th:src="@{/images/post/selectpost/profile-img.png}">-->
<!--                <span th:text="${postDetail.postWriter}"></span>-->
<!--                <span th:text="${postDetail.postWriter}"></span>-->
<!--                <span> <img th:src="@{/images/post/selectpost/badge.png}">-->
<!--            </span> <div> <span th:text="${post.postCategory}"></span>-->
<!--            </div>-->
<!--            </div>-->
<!--            <div id="scary">-->
<!--                <img th:src="@{/images/post/selectpost/scary-btn-before.png}" th:if="${!post.scary}"-->
<!--                     th:attr="data-postNo=${post.postNo}"-->
<!--                     class="scary-icon" onclick="toggleScary(this)">-->
<!--                <img th:src="@{/images/post/selectpost/scary-btn-after.png}" th:if="${post.scary}"-->
<!--                     th:attr="data-postNo=${post.postNo}"-->
<!--                     class="scary-icon" onclick="toggleScary(this)">-->
<!--                <div>-->
<!--                    <span>무서워요</span>-->
<!--                </div>-->
<!--                <span th:text="${post.scaryNumber}"></span>-->
<!--            </div>-->

<!--            <div id="notscary">-->
<!--                <img th:src="@{/images/post/selectpost/not-scary-btn-before.png}" th:if="${!post.notScary}"-->
<!--                     th:attr="data-postNo=${post.postNo}"-->
<!--                     class="notscary-icon" onclick="toggleNotScary(this)">-->
<!--                <img th:src="@{/images/post/selectpost/not-scary-btn-after.png}" th:if="${post.notScary}"-->
<!--                     th:attr="data-postNo=${post.postNo}"-->
<!--                     class="notscary-icon" onclick="toggleNotScary(this)">-->
<!--                <div>-->
<!--                    <span>안무서워요</span>-->
<!--                </div>-->
<!--                <span th:text="${post.notScaryNumber}"></span>-->
<!--            </div>-->



<!--            <div class="line2"></div>-->
<!--            <input type="text" value="&nbsp; &nbsp; &nbsp; 댓글을 작성해주세요">-->
<!--            <button type="submit">댓글 작성</button>-->
<!--            <div id="comment">-->
<!--                <img th:src="@{/images/post/selectpost/profile-img.png}">-->
<!--                <span th:text="${post.postWriter}"></span>-->
<!--                <span>-->
<!--                <img th:src="@{/images/post/selectpost/like-btn-before.png}">-->
<!--            </span>-->
<!--                <span>좋아요</span>-->
<!--                <img th:src="@{/images/post/selectpost/reportbtn.png}">-->
<!--                <span>신고</span>-->
<!--                <span class="ellipsis" th:text="${post.postTitle}"></span>-->
<!--            </div>-->
<!--            <div id="recomment">-->
<!--                <img  th:src="@{/images/post/selectpost/arrow.png}">-->
<!--                <img th:src="@{/images/post/selectpost/profile-img.png}">-->
<!--                <span th:text="${post.postWriter}"></span>-->
<!--                <span>-->
<!--                <img th:src="@{/images/post/selectpost/like-btn-before.png}">-->
<!--            </span>-->
<!--                <span>좋아요</span>-->
<!--                <img th:src="@{/images/post/selectpost/reportbtn.png}">-->
<!--                <span>신고</span>-->
<!--                <span class=".ellipsis" th:text="${post.postTitle}"></span>-->
<!--            </div>-->
<!--            <div class="hidden">-->
<!--                <span>댓글 더보기</span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    </div>
    <div class="bg"></div>
</main>
<footer>
    <div class="footer">
        <p>ⓒ 2024 MergePing. All right reserved. </p>
    </div>
</footer>




<script>
    window.addEventListener('load', () => {
        const box = document.getElementById('box');
        const footer = document.querySelector('footer .footer');

        const boxHeight = box.offsetHeight;
        const boxTop = box.offsetTop;
        const footerTop = boxTop + boxHeight + 50; // 박스와의 간격을 50px로 설정

        const img = document.getElementById('img2');
        const imgBottom = img.getBoundingClientRect().bottom;
        const contentBottom = content.getBoundingClientRect().bottom;
        const minTop = imgBottom + 10;
        const defaultTop1 = 250;
        const defaultTop2 = 150;
        if (contentBottom<1480){
            box.style.top = `${Math.max(minTop, defaultTop1)}px`;

        }

        if (contentBottom>1480){
            box.style.top = `${Math.min(minTop, defaultTop2)}px`;
        }

        setTimeout(() => {
            const boxTop = box.getBoundingClientRect().top + window.scrollY;
            const footerTop = boxTop + box.scrollHeight + 10;
            footer.style.position = 'absolute';
            footer.style.top = `${footerTop}px`;
        }, 100);
    });



</script>
</body>
</html>