<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>게시판</title>
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/post/post.css}">
  <style>
    .post {
      position: relative;
    }
  </style>
</head>
<body>
<header>
  <nav>
    <!-- 네비게이션 바 -->
    <img th:src="@{/images/notice/nav-logo-dark.png}" alt="상단 로고" onclick="window.location.href='/'">
    <span onclick="location.href='/intro'">소개</span>
    <span onclick="location.href='/notice'">공지사항</span>
    <span onclick="location.href='/post'">게시판</span>
    <span>MBTI 검사</span>
    <span>마이페이지</span>
    <span>로그인</span>
    <span>회원가입</span>
  </nav>
</header>

<main>
  <!-- 배경 이미지 -->
  <img th:src="@{/images/post/post-bg-dark.png}" id="bg">

  <!-- 분류 -->
  <div class="select">
    <p>분류</p>
  </div>

  <!-- 검색 -->
  <input type="search" placeholder="검색어를 입력하세요">
  <label><img th:src="@{/images/post/Search-dark.png}"></label>

  <!-- 게시물 리스트 헤더 -->
  <div class="sell">
    <span>번호</span>
    <span></span>
    <span>게시물 제목</span>
    <span>카테고리</span>
    <span>등록날짜</span>
    <span>무서워요</span>
    <span>댓글</span>
  </div>

  <!-- 게시물 리스트 -->
  <div class="post1" id="postContainer">
    <div class="post" th:each="post, iterStat : ${postList}" th:attr="style=${'top: ' + (iterStat.index * 80) + 'px;'}">
      <span th:text="${post.postNo}"></span>
      <a th:href="@{/selectpost/{postNo}(postNo=${post.postNo})}">
        <span th:text="${post.postTitle}"></span>
      </a>
      <div><span th:text="${post.postCategory}"></span></div>
      <span th:text="${#temporals.format(post.postDate, 'yyyy-MM-dd')}"></span>
      <span th:text="${post.scaryNumber}"></span>
      <span th:text="${post.commentNumber}"></span>
    </div>
  </div>
</main>
</body>
<script>
  // JavaScript 영역 - 필요한 경우 여기에 추가하세요.
</script>
</html>