<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</head>
<body>
<img th:src="@{/images/admin/background.png}" id="background">
<header>
    <nav>
        <img th:src="@{/images/notice/nav-logo-dark.png}" alt="상단 로고" onclick="window.location.href='/'">
        <span onclick="location.href='/intro'">소개</span>
        <span onclick="location.href='/notice'">공지사항</span>
        <span onclick="location.href='/post'">게시판</span>
        <span>MBTI 검사</span>
        <span>마이페이지</span>
        <span>로그인</span>
        <span>회원가입</span>
    </nav>
</header>

<main id="mainContent">


    <!-- 메인 관리 버튼 -->
    <div class="management-section">
        <div class="management-buttons">
            <div class="button-row">
                <button id="btn1" onclick="location.href='/admin/notice'">공지사항 관리</button>
                <button id="btn2" onclick="location.href='/admin/post'">게시물 관리</button>
            </div>
            <div class="button-row">
                <button id="btn3" onclick="location.href='/admin/user'">회원 관리</button>
                <button id="btn4" onclick="location.href='/admin/report'">신고 관리</button>
            </div>
        </div>
    </div>

    <!-- 프로필 섹션 -->
    <div class="profile-section">
        <div id="profile-pic"></div>
        <button id="profile-button" onclick="openModal()">프로필 변경</button>
        <p id="hello">OOO 관리자님 안녕하세요!</p>
    </div>
</main>

<!-- 모달 -->
<div id="modal" class="modal">
    <div class="modal-content">
        <h2>사진을 업로드해주세요</h2>
        <input type="file" id="fileInput">
        <div class="modal-buttons">
            <button class="cancel-btn" onclick="closeModal()">취소</button>
            <button class="upload-btn">등록</button>
        </div>
    </div>
</div>

<script>
    function openModal() {
        document.getElementById("modal").style.display = "flex";
    }

    function closeModal() {
        document.getElementById("modal").style.display = "none";
    }
</script>
</body>
</html>