<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 입력</title>
    <link rel="stylesheet" th:href="@{/css/signup/signupMain.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
</head>
<body>
<div class="resolution">
    <img class="background01" th:src="@{/images/login/background01.png}" alt="배경">
    <img class="background02" th:src="@{/images/login/background02.png}" alt="배경">
    <nav>
        <!--네비바-->
        <img th:src="@{/images/main/nav-logo-dark.png}" alt="상단 로고" onclick="location.href='/'">
        <span onclick="location.href='/intro'">소개</span>
        <span onclick="location.href='/notice'">공지사항</span>
        <span>게시판</span>
        <span>MBTI 검사</span>
        <span>마이페이지</span>
        <span>로그인</span>
        <span>회원가입</span>
    </nav>
    <div class="uiBackSign"></div>
    <p class="signupInfoText">회원가입</p>
    <p class="signupGuideText">* 은 필수 입력 사항입니다.</p>
    <form th:action="@{/auth/signup}" method="post" id="confirm">
    <label for="id" class="idLabel">* 아이디 : </label><input type="text" id="id" class="idInput" name="userId" placeholder="영문, 숫자, 특수문자로 자유롭게 최대 12글자 입력해주세요." maxlength="12" minlength="4" required><p id="idCheckMessage"></p>
        <label for="password" class="pwdLabel">* 비밀번호 : </label><input type="password" id="password" class="pwdInput" name="userPass" placeholder="영문, 숫자, 특수문자 조합 8 ~ 15자로 입력해주세요." maxlength="15" minlength="8" required><p id="pwdCheckMessage" ></p><span id="togglePassword" class="toggle-eye"><img src="/images/icon/closeEye.png" alt="비밀번호 보기" id="togglePasswordIcon"></span>
        <label for="passwordConfirm" class="pwdConfirmLabel">* 비밀번호 확인 : </label><input type="password" id="passwordConfirm" class="pwdConfirmInput" name="passwordConfirm" placeholder="비밀번호와 동일하게 입력해주세요." maxlength="15" minlength="1" required><p id="pwdConfirmMessage"></p><span id="togglePasswordConfirm" class="toggle-eye"><img src="/images/icon/closeEye.png" alt="비밀번호 확인 보기" id="togglePasswordConfirmIcon"></span>
    <label for="nickname" class="nicknameLabel">* 닉네임 : </label><input type="text" id="nickname" name="userName" class="nicknameInput" placeholder="한글, 영문, 숫자, 특수문자 등 최대 14글자로 입력해주세요." maxlength="14" minlength="1" required><p id="nicknameCheckMessage"></p>


    <label for="email" class="emailLabel">* 이메일 : </label><input type="text" id="email" class="emailInput" name="emailInput" minlength="1" required>
    <p class="emailMain">@</p>
    <input class="box" id="domain-txt" type="text"/>
    <select class="box" id="domain-list">
        <option class="sopText" value="type">직접 입력</option>
        <option class="sop" value="naver.com">naver.com</option>
        <option class="sop" value="google.com">google.com</option>
        <option class="sop" value="daum.net">hanmail.net</option>
        <option class="sop" value="nate.com">nate.com</option>
        <option class="sop" value="kakao.com">kakao.com</option>
        </select>
    <button type="button" id="authEmail" class="authEmail" onclick="sendAuthCode()">인증</button>
        <button type="button" id="authConfirm" class="authConfirm">완료</button>
        <input type="hidden" id="hidden-email" name="userEmail"/>
        <input type="hidden" id="duplicate-hidden-email"/>
        <p id="duplicateEmailCheck"></p>

    <!-- 인증 모달 -->
    <div class="modalBlur">
        <div class="modalGuide">
            <h1 style="color:white;">이메일 인증</h1>
            <label for="authNumber" class="authNumber">인증 번호 : </label><input id="authNumber" type="text" name="authNumber" placeholder="인증번호 입력" maxlength="6" ><p id="emailCheckMessage"></p>
        </div>
    </div>

    <p class="birthday">생년월일 : </p>
    <div class="info" id="info_birth">
        <select class="box1" id="birth-year">
            <option disabled selected>출생 연도</option>
        </select>
        <select class="box1" id="birth-month">
            <option disabled selected>월</option>
        </select>
        <select class="box1" id="birth-day">
            <option disabled selected>일</option>
        </select>
    </div>
        <div class="error-msg"></div>
        <!--   select쪽이 input이 아니라 안담기는 것 같아서 생성    -->
        <input type="hidden" name="userBirth" id="birthDate">
    <button type="button" id="resetBirth">초기화</button>

    <label class="gender">성별 : </label><label for="man" class="man">남 </label><input type="radio" id="man" name="userGender" value="MALE">
    <label for="woman" class="woman">여 </label><input type="radio" id="woman" name="userGender" value="FEMALE">
    <label for="none" class="none">비밀</label><input type="radio" id="none" name="userGender" value="OTHER" checked>

    <button id="next" type="submit" class="next">다음</button>
    </form>
</div>
<script>
    const userIdInput = document.getElementById('id');
    const passwordInput = document.getElementById('password');
    const passwordConfirmInput = document.getElementById('passwordConfirm');
    const nicknameInput = document.getElementById('nickname');
    const emailInput = document.getElementById('email');
    const emailDomainInput = document.getElementById('domain-txt');
    const emailSelectInput = document.getElementById('domain-list');
    const birthYear = document.getElementById('birth-year');
    const birthMonth = document.getElementById('birth-month');
    const birthDay = document.getElementById('birth-day');
    const man = document.getElementById('man');
    const woman = document.getElementById('woman');
    const other = document.getElementById('none');
    const authButton = document.getElementById('authEmail');
    const nextButton = document.getElementById('next');
    const modal = document.querySelector('.modalBlur');
    const btnOpenModal = document.querySelector('.authEmail');
    const authConfirmButton = document.getElementById('authConfirm');

    nextButton.disabled = true;
    passwordInput.disabled = true;
    passwordConfirmInput.disabled = true;
    nicknameInput.disabled = true;
    emailInput.disabled = true;
    emailDomainInput.disabled = true;
    emailSelectInput.disabled = true;
    birthYear.disabled = true;
    birthMonth.disabled = true;
    birthDay.disabled = true;
    man.disabled = true;
    woman.disabled = true;
    other.disabled = true;
    authButton.disabled = true;

    // 마지막 submit 버튼 제출시 막기용
    function stopSubmit(event) {
        const submitButton = document.getElementById('next');
        setTimeout(function() {
            submitButton.disabled = true;  // 버튼 비활성화
        }, 0);
    }

    // submit 순차 적용
    document.getElementById('confirm').addEventListener('submit', stopSubmit);

    // 모달 속도때문에 넣어둬야 함
    btnOpenModal.addEventListener("click", () => {
        modal.style.display = "flex";
    })

    // 모달 끄는 버튼 생성해야 해서 넣어둬야 함 -> X버튼 생성하고 사용할것임
    if (modal.style.display === "flex") {
        modal.addEventListener("click", () => {
            modal.style.display = "none";
        });
    }

    function subOn() {
        birthYear.disabled = false;
        birthMonth.disabled = false;
        birthDay.disabled = false;
        man.disabled = false;
        woman.disabled = false;
        other.disabled = false;
    }

    // 이메일 인증
    function sendAuthCode() {
        const emailPrefix = document.getElementById('email').value;
        const emailDomain = document.getElementById('domain-txt').value || document.getElementById('domain-list').value;

        if (!emailPrefix || !emailDomain) {
            alert("이메일을 정확하게 입력해주세요.");
            nextButton.disabled = true;
            return;
        }

        const userEmail = emailPrefix + '@' + emailDomain;

        fetch('/auth/sendauthCode', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({email: userEmail}),
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    openAuthModal();
                } else {
                    alert("인증 번호 전송에 실패했습니다.");
                    nextButton.disabled = true;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("서버와의 통신에 실패했습니다.");
                nextButton.disabled = true;
            });
    }

    function checkAuthCode() {
        const authCodeInput = document.getElementById('authNumber').value;

        const emailPrefix = document.getElementById('email').value;
        const emailDomain = document.getElementById('domain-txt').value || document.getElementById('domain-list').value;
        const userEmail = emailPrefix + '@' + emailDomain;

        if (authCodeInput.length === 6) {
            fetch('/auth/verifyauthCode', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    email: userEmail,
                    authCode: authCodeInput
                }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        closeAuthModal();
                        enableNextButton();
                        subOn();
                        nextButton.disabled = false;
                        authConfirmButton.style.display = "none";
                    } else {
                        document.getElementById('emailCheckMessage').innerText = "인증 번호가 잘못되었습니다.";
                        nextButton.disabled = true;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("서버와의 통신에 실패했습니다.");
                    nextButton.disabled = true;
                });
        }

        console.log(authCodeInput);
    }

    function openAuthModal() {
        const modal = document.querySelector('.modalBlur');
        modal.style.display = 'flex';
    }

    function closeAuthModal() {
        const modal = document.querySelector('.modalBlur');
        modal.style.display = 'none';
    }

    function enableNextButton() {
        const nextButton = document.getElementById('next');
        nextButton.disabled = false;
        document.getElementById('email').readOnly = true;
        document.getElementById('domain-txt').readOnly = true;
        document.getElementById('domain-list').readOnly = true;
    }

    document.getElementById('authNumber').addEventListener('input', checkAuthCode);


    // 비밀번호 눈모양
    function togglePasswordVisibility(id) {
        const passwordField = document.getElementById(id);
        const icon = document.getElementById('toggle' + id.charAt(0).toUpperCase() + id.slice(1) + 'Icon');

        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            icon.src = '/images/icon/openEye.png';
        } else {
            passwordField.type = 'password';
            icon.src = '/images/icon/closeEye.png';
        }
    }

    document.getElementById('togglePassword').addEventListener('click', function () {
        togglePasswordVisibility('password');
    });

    document.getElementById('togglePasswordConfirm').addEventListener('click', function () {
        togglePasswordVisibility('passwordConfirm');
    });


    // 아이디 체크
    document.getElementById('id').addEventListener('input', function () {
        const passwordField = document.getElementById('password');
        const userIdInput = this;
        const userId = this.value;
        const messageElement = document.getElementById('idCheckMessage');
        const hasKorean = /[^a-zA-Z0-9-_]/.test(userId);
        if (hasKorean) {
            userIdInput.value = userId.replace(/[^a-zA-Z0-9-_]/g, '');
            messageElement.textContent = "사용할 수 없는 단어가 포함 돼 있습니다.";
            messageElement.style.color = "#FD3C3C";
            passwordField.disabled = true;
            passwordConfirmInput.disabled = true;
            return;
        } else {
            messageElement.textContent = "";
        }

        if (userId.length < 3 && userId.length > 0) {
            messageElement.textContent = "아이디는 최소 4자리 이상이어야 합니다.";
            messageElement.style.color = "#FD3C3C";
            passwordField.disabled = true;
            passwordConfirmInput.disabled = true;
            return;
        } else {
            messageElement.textContent = "";
        }

        if (userId.length > 3) {
            fetch(`/auth/checkId?userId=${userId}`)
                .then(response => response.json())
                .then(isAvailable => {
                    if (isAvailable) {
                        messageElement.textContent = "사용 가능한 아이디입니다.";
                        messageElement.style.color = "#6EBA4A";
                        passwordField.disabled = false;
                        passwordConfirmInput.disabled = false;
                    } else {
                        messageElement.textContent = "이미 사용 중인 아이디입니다.";
                        messageElement.style.color = "#FD3C3C";
                        passwordField.disabled = true;
                        passwordConfirmInput.disabled = true;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    messageElement.textContent = "사용 불가한 아이디입니다.";
                    messageElement.style.color = "#FD3C3C";
                    passwordField.disabled = true;
                    passwordConfirmInput.disabled = true;
                });
        } else {
            messageElement.textContent = "";
            passwordField.disabled = true;
            passwordConfirmInput.disabled = true;
        }
    });

    // 비밀번호 체크
    document.getElementById('password').addEventListener('input', function () {
        const userPwd = this.value;
        const messageElement = document.getElementById('pwdCheckMessage');
        const passwordConfirmInput = document.getElementById('passwordConfirm');
        const rule = /[^a-zA-Z0-9-_!@#$%^&*()+|{};':.,/?<>]/.test(userPwd);
        const kor = /[ㄱ-ㅎ가-힣]/.test(userPwd)

        if (rule || kor) {
            messageElement.textContent = "사용할 수 없는 단어가 포함 돼 있습니다.";
            messageElement.style.color = "#FD3C3C";
            passwordConfirmInput.disabled = true;
            return;
        } else {
            messageElement.textContent = "";
        }

        if (userPwd.length < 8 && userPwd.length > 0) {
            messageElement.textContent = "비밀번호는 최소 8자리 이상이어야 합니다.";
            messageElement.style.color = "#FD3C3C";
            passwordConfirmInput.disabled = true;
            return;
        } else {
            messageElement.textContent = "";
        }

        if (userPwd.length > 7) {
            fetch(`/auth/checkPassword?userPwd=${encodeURIComponent(userPwd)}`) // 오른쪽이 GetMapping에서 RequestParam으로 불러올 공간
                .then(response => response.json())
                .then(isAvailable => {
                    if (isAvailable) {
                        messageElement.textContent = "사용 가능한 비밀번호입니다.";
                        messageElement.style.color = "#6EBA4A";
                        passwordConfirmInput.disabled = false;
                    } else {
                        messageElement.textContent = "사용 불가한 비밀번호입니다.";
                        messageElement.style.color = "#FD3C3C";
                        passwordConfirmInput.disabled = true;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    messageElement.textContent = "사용 불가한 비밀번호입니다.";
                    messageElement.style.color = "#FD3C3C";
                    passwordConfirmInput.disabled = true;
                });
        } else {
            messageElement.textContent = "";
        }
    });

    // 비밀번호 확인 체크
    document.getElementById('passwordConfirm').addEventListener('input', function () {
        const userConfirmPwd = this.value;
        const userPwd = document.getElementById('password').value;
        const passwordInput = document.getElementById('password');
        const messageElement = document.getElementById('pwdConfirmMessage');
        if (userPwd.length === 0) {
            messageElement.textContent = "비밀번호를 먼저 입력하세요.";
            messageElement.style.color = "#FD3C3C";
            nicknameInput.disabled = true;
            return;
        }

        if (userPwd.length > 7) {
            fetch(`/auth/passwordConfirm?userPwd=${encodeURIComponent(userPwd)}&confirmPwd=${encodeURIComponent(userConfirmPwd)}`)
                .then(response => response.json())
                .then(isAvailable => {
                    if (isAvailable) {
                        messageElement.textContent = "동일한 비밀번호입니다.";
                        messageElement.style.color = "#6EBA4A";
                        nicknameInput.disabled = false;

                    } else {
                        messageElement.textContent = "동일하지 않은 비밀번호입니다.";
                        messageElement.style.color = "#FD3C3C";
                        nicknameInput.disabled = true;

                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    messageElement.textContent = "동일하지 않은 비밀번호입니다.";
                    messageElement.style.color = "#FD3C3C";
                    nicknameInput.disabled = true;
                });
        } else {
            messageElement.textContent = "";
        }
    });

    function emailOn(){
        emailInput.disabled = false;
        emailDomainInput.disabled = false;
        emailSelectInput.disabled = false;
    }

    function emailOff(){
        emailInput.disabled = true;
        emailDomainInput.disabled = true;
        emailSelectInput.disabled = true;
    }

    // 닉네임 중복 테스트
    document.getElementById('nickname').addEventListener('input', function () {
        const userNickInput = this;
        const userNick = this.value;
        const messageElement = document.getElementById('nicknameCheckMessage');
        const rules = /[^가-힣ㄱ-ㅎa-zA-Z0-9-_!@#$%^&*()+|{};':.,/?<>]/.test(userNick);
        if (rules) {
            userNickInput.value = userNick.replace(/[^가-힣ㄱ-ㅎa-zA-Z0-9-_!@#$%^&*()+|{};':.,/?<>]/g, '');
            messageElement.textContent = "사용할 수 없는 단어가 포함 돼 있습니다.";
            messageElement.style.color = "#FD3C3C"
            emailOff();
            return;
        } else {
            messageElement.textContent = "";
        }

        if (userNick.length > 0) {
            fetch(`/auth/checkNick?userNick=${userNick}`)
                .then(response => response.json())
                .then(isAvailable => {
                    if (isAvailable) {
                        messageElement.textContent = "사용 가능한 닉네임입니다.";
                        messageElement.style.color = "#6EBA4A";
                        emailOn();
                    } else {
                        messageElement.textContent = "이미 사용 중인 닉네임입니다.";
                        messageElement.style.color = "#FD3C3C";
                        emailOff();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    messageElement.textContent = "사용 불가한 닉네임입니다.";
                    messageElement.style.color = "#FD3C3C";
                    emailOff();
                });
        } else {
            messageElement.textContent = "";
            emailOff();
        }
    });

    function notEnter() {
        document.addEventListener('keydown', function(event) { if (event.key === 'Enter') { event.preventDefault(); } });
    }

    // 이메일 부분 로직
    notEnter();
    const form = document.querySelector('form');
    form.addEventListener('submit', function (event) {
        const emailInput = document.querySelector('#email');
        const domainInput = document.querySelector('#domain-txt');
        const domainSelect = document.querySelector('#domain-list');

        const frontEmail = emailInput.value.split('@')[0];
        emailInput.value = frontEmail;

        const hiddenEmailField = document.getElementById('hidden-email');
        hiddenEmailField.value = emailInput.value;

        if (domainSelect.value !== "type") {
            hiddenEmailField.value += "@" + domainSelect.value;
        } else {
            hiddenEmailField.value += "@" + domainInput.value;
        }
    });

    // 날짜
    form.addEventListener('submit', function (event) {
        notEnter();
        const year = document.querySelector('#birth-year').value;
        const month = document.querySelector('#birth-month').value;
        const day = document.querySelector('#birth-day').value;

        if (year && month && day) {
            // DATE 객체에서 month는 1로 선택해도 0으로 인식되어 -1이 들어가야함 // 일에서도 문제가 생기는데 일 부분에서 수정해서 정상적으로 됨 // 이상하게 다른것도 다같이 해결됐다. 일석이조
            const birthDate = new Date(year, month - 1, day);
            const formattedDate = birthDate.toISOString().split('T')[0]; // 자료형이 DATE라서 STRING으로 변경 split T를 통해 24-11-04 이런식으로 저장
            document.querySelector('#birthDate').value = formattedDate;
        }
    });

    form.addEventListener('submit', function (event) {
        notEnter();
        const genderInput = document.querySelector('input[name="gender"]:checked');
        const formattedGender = genderInput ? genderInput.value : null;
    });


    // 회원가입 메시지 => 나중에 모달로 변경하면 좋을듯?
    const message = `[[${message}]]`
    if (message) {
        alert(message);
    }

    // 이메일 domain 선택 시 같아지게 (change)
    const domainListEl = document.querySelector('#domain-list')
    const domainInputEl = document.querySelector('#domain-txt')
    domainListEl.addEventListener('change', (event) => {
        if (event.target.value !== "type") {
            domainInputEl.value = event.target.value
            domainInputEl.disabled = true
        } else {
            domainInputEl.value = ""
            domainInputEl.disabled = false
        }
    })

    // 연
    const birthYearEl = document.querySelector('#birth-year')
    isYearOptionExisted = false;
    birthYearEl.addEventListener('focus', function () {
        if (!isYearOptionExisted) {
            isYearOptionExisted = true
            for (var i = 1940; i <= 2024; i++) {
                const YearOption = document.createElement('option')
                YearOption.setAttribute('value', i)
                YearOption.innerText = i
                this.appendChild(YearOption);
            }
        }
    });

    // 월
    const birthMonthEl = document.querySelector('#birth-month')
    isMonthOptionExisted = false;
    birthMonthEl.addEventListener('focus', function () {
        if (!isMonthOptionExisted) {
            isMonthOptionExisted = true
            for (var i = 1; i <= 12; i++) {
                const MonthOption = document.createElement('option')
                MonthOption.setAttribute('value', i)
                MonthOption.innerText = i
                this.appendChild(MonthOption);
            }
        }
    });

    // 일
    const birthDayEl = document.querySelector('#birth-day')
    isDayOptionExisted = false;
    birthDayEl.addEventListener('focus', function () {
        if (!isDayOptionExisted) {
            isDayOptionExisted = true
            for (var i = 0; i <= 31; i++) {
                const DayOption = document.createElement('option')
                DayOption.setAttribute('value', i + 1)
                DayOption.innerText = i
                this.appendChild(DayOption);
            }
        }
    });

    // 리셋버튼
    const resetAllButton = document.querySelector('#resetBirth');
    resetAllButton.addEventListener('click', function () {
        isYearOptionExisted = false;
        isMonthOptionExisted = false;
        isDayOptionExisted = false;

        birthYearEl.innerHTML = '<option value="year">출생 연도</option>';
        birthMonthEl.innerHTML = '<option value="month">월</option>';
        birthDayEl.innerHTML = '<option value="day">일</option>';
    });

    // 이메일 중복을 비교하기 위해 숨겨진 곳에 중복비교를 위한 곳 생성 (기존의 hiddne-email을 사용할 수 있으나 뭔가 로직이 꼬이는지 문제가생겨서 일단 이렇게 하고 추후 최적화 시 사용
    document.getElementById('email').addEventListener('input', updateEmail);
    document.getElementById('domain-txt').addEventListener('input', updateEmail);
    document.getElementById('domain-list').addEventListener('change', updateEmail);
    document.getElementById('duplicate-hidden-email').addEventListener('change', updateEmail);

    function updateEmail() {
        const emailInput = document.querySelector('#email');
        const domainInput = document.querySelector('#domain-txt');
        const domainSelect = document.querySelector('#domain-list');

        const frontEmail = emailInput.value + '@' + domainInput.value;
        const hiddenEmailField = document.getElementById('duplicate-hidden-email');

        let domain = '';

        if (domainSelect.value !== "type") {
            domain = domainSelect.value;
        } else {
            domain = domainInput.value;
        }

        if (domain) {
            hiddenEmailField.value = frontEmail;

            const emailInput = document.querySelector('#email');
            const domainInput = document.querySelector('#domain-txt');
            const userEmail = frontEmail;
            const messageElement = document.getElementById('duplicateEmailCheck');
            if (userEmail.length > 0) {
                fetch(`/auth/checkemail?userEmail=${encodeURIComponent(userEmail)}`)
                    .then(response => response.json())
                    .then(isAvailable => {
                        if (isAvailable) {
                            messageElement.textContent = "사용 가능한 이메일입니다.";
                            messageElement.style.color = "#6EBA4A";
                            emailInput.style.outline = "5px #6EBA4A solid";
                            domainInput.style.outline = "5px #6EBA4A solid";
                            authButton.disabled = false;
                        } else {
                            messageElement.textContent = "중복된 이메일입니다.";
                            messageElement.style.color = "#FD3C3C";
                            emailInput.style.outline = "5px #FD3C3C solid";
                            domainInput.style.outline = "5px #FD3C3C solid";
                            authButton.disabled = true;
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        messageElement.textContent = "사용 불가한 이메일입니다.";
                        messageElement.style.color = "#FD3C3C";
                        emailInput.style.outline = "5px #FD3C3C solid";
                        domainInput.style.outline = "5px #FD3C3C solid";
                        authButton.disabled = true;
                    });
            } else {
                messageElement.textContent = "";
                authButton.disabled = true;
            }
        } else {
            hiddenEmailField.value = '';
            authButton.disabled = true;
        }
    }

</script>
</body>
</html>