<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>휴대폰 인증</title>
    <link rel="stylesheet" href="/static/css/signup.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
    <div class="resolution">
        <img class="background" src="/static/images/signup/background.png" alt="배경">
        <img class="character" src="/static/images/signup/character.png" alt="캐릭터">
        <img class="tree" src="/static/images/signup/tree.png"/>
        <div class="nav">
            <div class="nav2">
                <img class="logo" src="/static/images/login/logo.png">
                <p class="notice">공지사항</p>
                <p class="info">소개</p>
                <p class="mbti">mbti검사</p>
                <p class="myPage">마이페이지</p>
                <p class="login">로그인</p>
                <p class="sign">회원가입</p>
                <p class="post">게시판</p>
            </div>
        </div>
        <div class="uiBack"></div>
        <input class="phoneNumber" type="text" name="phone" id="phone" placeholder="휴대폰 번호를 입력해주세요." oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="13">
        <input class="authNumber" type="text" name="authNumber" id="authNumber" placeholder="인증번호를 입력해주세요." oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="6">
        <p class="signupText">회원 가입 인증</p>
        <p class="signupGuide">휴대폰 본인 확인을 완료해주세요.</p>
        <button onclick="" class="authButton" type="submit">인증하기</button>
        <!--모달 -->
        <div class="modalBlur">
            <div class="modalGuide">
                <h1 style="color:white;">인증번호가 발급되었습니다.</h1>
            </div>
        </div>
        <button onclick="" class="authConfirm" type="submit">인증번호 확인</button>
    </div>

    <div class="modalBlur2">
        <div class="modalGuide2">
            <h1 style="color:white;">이미 가입한 휴대폰 번호입니다. 로그인 창으로 이동합니다. </h1>
        </div>
    </div>

    <div class="modalBlur3">
        <div class="modalGuide3">
            <h1 style="color:white;">탈퇴 후 7일 이후부터 재가입이 가능합니다.</h1>
        </div>
    </div>
<script>
    // 휴대폰 번호
    function autoHypenPhone(str){
        str = str.replace(/[^0-9]/g, '');
        var tmp = '';
        if( str.length < 4){
            return str;
        }else if(str.length < 7){
            tmp += str.substr(0, 3);
            tmp += '-';
            tmp += str.substr(3);
            return tmp;
        }else if(str.length < 11){
            tmp += str.substr(0, 3);
            tmp += '-';
            tmp += str.substr(3, 3);
            tmp += '-';
            tmp += str.substr(6);
            return tmp;
        }else{
            tmp += str.substr(0, 3);
            tmp += '-';
            tmp += str.substr(3, 4);
            tmp += '-';
            tmp += str.substr(7);
            return tmp;
        }
        return str;
    }

    var phone = document.getElementById('phone');
    phone.onkeyup = function(event){
        event = event || window.event;
        var _val = this.value.trim();
        this.value = autoHypenPhone(_val) ;
    }
    // 모달창 (기본)
    const modal = document.querySelector('.modalBlur');
    const btnOpenModal=document.querySelector('.authButton');
    const btnCloseModal=document.querySelector('.modalBlur');
    const newButton=document.querySelector('.authConfirm');

    btnOpenModal.addEventListener("click", ()=>{
        newButton.style.display = "block";
    })

    btnOpenModal.addEventListener("click", ()=>{
        modal.style.display="flex";
        if (modal.style.display === "flex") {
            btnCloseModal.addEventListener("click", () => {
                modal.style.display = "none";
            });
        }
    });

    // 모달창 (이미 가입한 휴대폰 번호일 때)
    const modal2 = document.querySelector('.modalBlur2');
    const btnOpenModal2=document.querySelector('.authButton');
    const btnCloseModal2=document.querySelector('.modalBlur2');
    const newButton2=document.querySelector('.authConfirm');

    btnOpenModal2.addEventListener("click", ()=>{
        newButton2.style.display = "block";
    })

    btnOpenModal2.addEventListener("click", ()=>{
        modal2.style.display="flex";
        if (modal2.style.display === "flex") {
            btnCloseModal2.addEventListener("click", () => {
                modal.style.display = "none";
            });
        }
    });
    // 모달창 (탈퇴 후 재가입 불가)
    const modal3 = document.querySelector('.modalBlur3');
    const btnOpenModal3=document.querySelector('.authButton3');
    const btnCloseModal3=document.querySelector('.modalBlur3');
    const newButton3=document.querySelector('.authConfirm3');

    btnOpenModal3.addEventListener("click", ()=>{
        newButton3.style.display = "block";
    })

    btnOpenModal3.addEventListener("click", ()=>{
        modal3.style.display="flex";
        if (modal3.style.display === "flex") {
            btnCloseModal3.addEventListener("click", () => {
                modal.style.display = "none";
            });
        }
    });
</script>
</body>
</html>