<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>약관 동의</title>
  <link rel="stylesheet" href="/static/css/signup.css">
  <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
<div class="resolution">
  <img class="background" src="/static/images/signup/background.png" alt="배경">
  <img class="character" src="/static/images/signup/character.png" alt="캐릭터">
  <img class="tree" src="/static/images/signup/tree.png"/>
  <div class="nav">
    <div class="nav2">
      <img class="logo" src="/static/images/login/logo.png">
      <p class="notice">공지사항</p>
      <p class="info">소개</p>
      <p class="mbti">mbti검사</p>
      <p class="myPage">마이페이지</p>
      <p class="login">로그인</p>
      <p class="sign">회원가입</p>
      <p class="post">게시판</p>
    </div>
  </div>
  <div class="uiBack"></div>
  <p class="TermsOfUse">이용약관 동의</p>
  <p class="agree">노는 게 제일 좋아 친구들 모여라 언제나 즐거워 개구쟁이 뽀로로 눈 덮인 숲 속 마을 꼬마 펭귄 나가신다 언제나 즐거워 오늘은 또 무슨 일이 생길까 뽀로로를 불러봐요 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀롱뽀롱 뽀롱뽀롱 뽀롱 뽀로로 노는 게 제일 좋아 친구들 모여라 언제나 즐거워 뽀롱 뽀롱 뽀롱 뽀롱 뽀로로...
    노는 게 제일 좋아 친구들 모여라 언제나 즐거워 개구쟁이 뽀로로 눈 덮인 숲 속 마을 꼬마 펭귄 나가신다 언제나 즐거워 오늘은 또 무슨 일이 생길까 뽀로로를 불러봐요 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀롱뽀롱 뽀롱뽀롱 뽀롱 뽀로로 노는 게 제일 좋아 친구들 모여라 언제나 즐거워 뽀롱 뽀롱 뽀롱 뽀롱 뽀로로...노는 게 제일 좋아 친구들 모여라 언제나 즐거워 개구쟁이 뽀로로 눈 덮인 숲 속 마을 꼬마 펭귄 나가신다 언제나 즐거워 오늘은 또 무슨 일이 생길까 뽀로로를 불러봐요 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀롱뽀롱 뽀롱뽀롱 뽀롱 뽀로로 노는 게 제일 좋아 친구들 모여라 언제나 즐거워 뽀롱 뽀롱 뽀롱 뽀롱 뽀로로...
    노는 게 제일 좋아 친구들 모여라 언제나 즐거워 개구쟁이 뽀로로 눈 덮인 숲 속 마을 꼬마 펭귄 나가신다 언제나 즐거워 오늘은 또 무슨 일이 생길까 뽀로로를 불러봐요 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀롱뽀롱 뽀롱뽀롱 뽀롱 뽀로로 노는 게 제일 좋아 친구들 모여라 언제나 즐거워 뽀롱 뽀롱 뽀롱 뽀롱 뽀로로...</p>
  <p class="agree2">노는 게 제일 좋아 친구들 모여라 언제나 즐거워 개구쟁이 뽀로로 눈 덮인 숲 속 마을 꼬마 펭귄 나가신다 언제나 즐거워 오늘은 또 무슨 일이 생길까 뽀로로를 불러봐요 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀롱뽀롱 뽀롱뽀롱 뽀롱 뽀로로 노는 게 제일 좋아 친구들 모여라 언제나 즐거워 뽀롱 뽀롱 뽀롱 뽀롱 뽀로로...
    노는 게 제일 좋아 친구들 모여라 언제나 즐거워 개구쟁이 뽀로로 눈 덮인 숲 속 마을 꼬마 펭귄 나가신다 언제나 즐거워 오늘은 또 무슨 일이 생길까 뽀로로를 불러봐요 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀롱뽀롱 뽀롱뽀롱 뽀롱 뽀로로 노는 게 제일 좋아 친구들 모여라 언제나 즐거워 뽀롱 뽀롱 뽀롱 뽀롱 뽀로로...노는 게 제일 좋아 친구들 모여라 언제나 즐거워 개구쟁이 뽀로로 눈 덮인 숲 속 마을 꼬마 펭귄 나가신다 언제나 즐거워 오늘은 또 무슨 일이 생길까 뽀로로를 불러봐요 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀롱뽀롱 뽀롱뽀롱 뽀롱 뽀로로 노는 게 제일 좋아 친구들 모여라 언제나 즐거워 뽀롱 뽀롱 뽀롱 뽀롱 뽀로로...
    노는 게 제일 좋아 친구들 모여라 언제나 즐거워 개구쟁이 뽀로로 눈 덮인 숲 속 마을 꼬마 펭귄 나가신다 언제나 즐거워 오늘은 또 무슨 일이 생길까 뽀로로를 불러봐요 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀롱뽀롱 뽀롱뽀롱 뽀롱 뽀로로 노는 게 제일 좋아 친구들 모여라 언제나 즐거워 뽀롱 뽀롱 뽀롱 뽀롱 뽀로로...</p>
  <p class="agree3">노는 게 제일 좋아 친구들 모여라 언제나 즐거워 개구쟁이 뽀로로 눈 덮인 숲 속 마을 꼬마 펭귄 나가신다 언제나 즐거워 오늘은 또 무슨 일이 생길까 뽀로로를 불러봐요 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀롱뽀롱 뽀롱뽀롱 뽀롱 뽀로로 노는 게 제일 좋아 친구들 모여라 언제나 즐거워 뽀롱 뽀롱 뽀롱 뽀롱 뽀로로...
    노는 게 제일 좋아 친구들 모여라 언제나 즐거워 개구쟁이 뽀로로 눈 덮인 숲 속 마을 꼬마 펭귄 나가신다 언제나 즐거워 오늘은 또 무슨 일이 생길까 뽀로로를 불러봐요 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀롱뽀롱 뽀롱뽀롱 뽀롱 뽀로로 노는 게 제일 좋아 친구들 모여라 언제나 즐거워 뽀롱 뽀롱 뽀롱 뽀롱 뽀로로...노는 게 제일 좋아 친구들 모여라 언제나 즐거워 개구쟁이 뽀로로 눈 덮인 숲 속 마을 꼬마 펭귄 나가신다 언제나 즐거워 오늘은 또 무슨 일이 생길까 뽀로로를 불러봐요 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀롱뽀롱 뽀롱뽀롱 뽀롱 뽀로로 노는 게 제일 좋아 친구들 모여라 언제나 즐거워 뽀롱 뽀롱 뽀롱 뽀롱 뽀로로...
    노는 게 제일 좋아 친구들 모여라 언제나 즐거워 개구쟁이 뽀로로 눈 덮인 숲 속 마을 꼬마 펭귄 나가신다 언제나 즐거워 오늘은 또 무슨 일이 생길까 뽀로로를 불러봐요 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀로로 뽀롱뽀롱 뽀롱뽀롱 뽀롱뽀롱 뽀롱 뽀로로 노는 게 제일 좋아 친구들 모여라 언제나 즐거워 뽀롱 뽀롱 뽀롱 뽀롱 뽀로로...</p>
  <button class="agreeButton">모두 동의</button>
  <button class="agreeButton2">모두 동의</button>
  <button class="agreeButton3">모두 동의</button>
  <button class="agreeAllButton">전체 동의</button>
  <button class="next">다음</button>

  <div class="modalBlur">
    <div class="modalGuide">
      <h1 style="color:white;">만 12세 이하의 어린이는 콘텐츠 이용에 주의가 필요합니다.</h1>
    </div>
  </div>

  <div class="modalBlur2">
    <div class="modalGuide2">
      <h1 style="color:white;">약관에 동의하지 않았습니다.</h1>
    </div>
  </div>
</div>
<script>
  const $buttons = document.querySelectorAll('.agreeButton, .agreeButton2, .agreeButton3');
  const $all = document.querySelector('.agreeAllButton');

  const modal = document.querySelector('.modalBlur');
  const btnOpenModal=document.querySelector('.next');
  const btnCloseModal=document.querySelector('.modalBlur');

  const modal2 = document.querySelector('.modalBlur2');
  const btnOpenModal2=document.querySelector('.next');
  const btnCloseModal2=document.querySelector('.modalBlur2');

  $buttons.forEach(button => {
    button.addEventListener('click', () => {
      button.classList.toggle('active');
      updateAllButtonState();
    });
  });

  $all.addEventListener('click', () => {
    const allActive = !$all.classList.contains('active');
    $buttons.forEach(button => {
      button.classList.toggle('active', allActive);
    });
    $all.classList.toggle('active', allActive);
  });

  function updateAllButtonState() {
    const allActive = Array.from($buttons).every(button => button.classList.contains('active'));
    $all.classList.toggle('active', allActive);
  }

  // 모달
  btnOpenModal.addEventListener("click", () => {
    const allActive = Array.from($buttons).every(button => button.classList.contains('active'));

    if (allActive) {
      modal.style.display = "flex";
      setTimeout(() => {
        window.location.href = "signup4.html";
              }, 1500);
    } else {
      modal2.style.display = "block";
      btnCloseModal2.addEventListener("click", () => {
        modal2.style.display = "none";
      });
    }
  });
</script>
</body>
</html>