<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입 완료</title>
    <link rel="stylesheet" th:href="@{/css/signup/signupMain.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
</head>
<body>
<div class="resolution">
    <img class="background01" th:src="@{/images/login/background01.png}" alt="배경">
    <img class="background02" th:src="@{/images/login/background02.png}" alt="배경">
    <nav>
        <!--네비바-->
        <img th:src="@{/images/main/nav-logo-dark.png}" alt="상단 로고" onclick="location.href='/main'">
        <span onclick="window.location.href='/intro/intro.html'">소개</span>
        <span onclick="window.location.href='/notice/notice.html'">공지사항</span>
        <span>게시판</span>
        <span>MBTI 검사</span>
        <span>마이페이지</span>
        <span>로그인</span>
        <span>회원가입</span>
    </nav>
    <div class="uiBackSignConfirm">
    </div>
    <p class="confirmGuide">회원가입 완료</p>
    <button id="mainButton" class="button">
        <p class="main">메인으로</p>
    </button>
    <button id="mbtiButton" class="button">MBTI검사</button>

</div>
</body>
</html>