<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>휴대폰 인증 시작</title>
    <link rel="stylesheet" th:href="@{/css/signup/signup.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
</head>
<body>
    <div class="resolution">
        <img class="background" th:src="@{/images/signup/background.png}" alt="배경">
        <img class="character" th:src="@{/images/signup/character.png}" alt="캐릭터">
        <img class="tree" src="/static/images/signup/tree.png"/>
        <div class="nav">
            <div class="nav2">
                <img class="logo" th:src=@{/images/login/logo.png}">
                <p class="notice">공지사항</p>
                <p class="info">소개</p>
                <p class="mbti">mbti검사</p>
                <p class="myPage">마이페이지</p>
                <p class="login">로그인</p>
                <p class="sign">회원가입</p>
                <p class="post">게시판</p>
            </div>
        </div>
        <div class="uiBack"></div>
        <img onclick="location.href=`signup2`" class="phone" src="/static/images/signup/phone.png">
        <p class="signupText">회원 가입 인증</p>
        <p class="signupGuide">휴대폰 본인인증을 완료해주세요.</p>
    </div>
</body>
</html>