@charset "UTF-8";
body{
    width: 100%;
    max-width: 1920px;
    height: auto;
    color: #000000;
    overflow-x: hidden;
}

.dn{
    display: none;
}

.tr{
    transition: all 0.7s;
}

button {
    cursor: pointer;
}

/*---------------nav------------------*/
nav{
    position: fixed;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.5);
    z-index: 999;
}


nav img{
    /* 남호정 */
    position: absolute;
    width: 82px;
    height: 45px;
    left: 48px;
    top: 18px;
    cursor: pointer;
}

nav span:nth-child(2) {
    /* 소개 */
    position: absolute;
    width: 42px;
    height: 26px;
    left: 1036px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #A3DA87;
    transition: all 1s;
    cursor: pointer;
}


nav span:nth-child(3){
    /* 공지사항 */
    position: absolute;
    width: 82px;
    height: 26px;
    left: 1135px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
    cursor: pointer;
}


nav span:nth-child(4){
    /* 게시판 */
    position: absolute;
    width: 62px;
    height: 26px;
    left: 1274px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
    cursor: pointer;
}


nav span:nth-child(5){
    /* mbti검사 */
    position: absolute;
    width: 101px;
    height: 26px;
    left: 1393px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
    cursor: pointer;
}


nav span:nth-child(6){
    /* 마이페이지 */
    position: absolute;
    width: 102px;
    height: 26px;
    left: 1536px;
    top: 26px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
    cursor: pointer;
}


nav span:nth-child(7){
    /* 로그인 */
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1692px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
    cursor: pointer;
}


nav span:nth-child(8){
    /* 회원가입 */
    position: absolute;
    width: 67px;
    height: 21px;
    left: 1772px;
    top: 29px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
    cursor: pointer;
}


nav span:hover{
    color: #A3DA87;
    scale: 130%;
}

main .qickBtn img{
    position: absolute;
    width: 109px;
    height: 109px;
    left: 1759px;
    top: 780px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


main .qickBtn img:first-child{
    z-index: 55;
    top: 780px;
}


main .qickBtn .clikbtn img:first-child{
    /* Upward Arrow */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1768px;
    top: 664px;
    filter: drop-shadow(0px 8px 5.1px rgba(0, 0, 0, 0.25));
}


main .qickBtn .clikbtn img:nth-child(2){
    /* Sun */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1768px;
    top: 560px;
    filter: drop-shadow(0px 8px 5.1px rgba(0, 0, 0, 0.25));
}


main .qickBtn .clikbtn img:nth-child(3){
    /* Test Results */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1768px;
    top: 456px;
    filter: drop-shadow(0px 8px 5.1px rgba(0, 0, 0, 0.25));
}


main .qickBtn{
    position: sticky;
    top: -50px;
    z-index: 9999;
}


/*---------------main------------------*/


main{
    transition: all 1s;
}


main #bg{
    position: absolute;
    width: 1920px;
    top: 39px;
    z-index: -5;
}


main #mainlogo{
    /* 남호정 */
    position: absolute;
    width: 361px;
    top: 150px;
    left: 775px;
}


main #introduce{
    position: absolute;
    width: 1500px;
    top: 420px;
    font-family: 'SUIT';
    font-weight: 800;
    font-size: 30px;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: center;
    left: 200px;
}

main #introduce2{
    position: absolute;
    width: 1250px;
    top: 750px;
    font-family: 'SUIT';
    font-weight: 800;
    font-size: 30px;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: center;
    left: 300px;
}


main #btn{
    position: absolute;
    width: 235px;
    height: 84px;
    top: 889px;
    background: #0E2913;
    border-radius: 50px;
    left: 840px;
    transition: all 1s;
}

main #btn p{
    /* 확인 */
    position: absolute;
    width: 90px;
    font-family: 'SUIT';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    z-index: 2;
    left: 77px;
    top: 18px;
}

main #btn:hover{
    color: black;
    background: #6EBA4A;
}

/*---------------footer------------------*/
footer .footer{
    position: absolute;
    width: 1920px;
    height: 69px;
    top: 1080px;
    background: #0E2913;
    box-shadow: 0px -8px 22.4px rgba(0, 0, 0, 0.25);
}

footer .footer p{
    position: absolute;
    height: 31px;
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.05em;
    color: #D5D5D5;
    left: 750px;
    top: 20px;
}

#intro {
    width: 150px;  /* 원하는 크기로 이미지 크기 조정 */
    height: auto;
    margin-right: 20px; /* 이미지와 텍스트 사이에 간격 추가 */
    position: absolute;
    top:350px;
    left:270px;
}

/*#person {*/
/*    width: 150px;  !* 원하는 크기로 이미지 크기 조정 *!*/
/*    height: auto;*/
/*    margin-right: 20px; !* 이미지와 텍스트 사이에 간격 추가 *!*/
/*    position: absolute;*/
/*}*/

/*#people {*/
/*    width: 150px;  !* 원하는 크기로 이미지 크기 조정 *!*/
/*    height: auto;*/
/*    margin-right: 20px; !* 이미지와 텍스트 사이에 간격 추가 *!*/
/*    position: absolute;*/
/*    top:400px;*/
/*}*/