<!DOCTYPE html>
<HTML LANG="EN">
<head>
  <meta charset="UTF-8">
  <title>게시글 작성</title>
<!--  <link rel="stylesheet" th:href="@{/css/reset.css}">-->
  <link rel="stylesheet" href="../../static/css/reset.css">
  <link rel="stylesheet" th:href="@{/css/post/newpost.css}">
  <link rel="stylesheet" href="../../static/css/post/newpost.css">
  <style>
    /*손전등*/
    /*:root {*/
    /*    --cursorX: 70vw;*/
    /*    --cursorY: 70vh;*/
    /*}*/
    /*:root:before {*/
    /*    content: '';*/
    /*    display: block;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    position: fixed;*/
    /*    pointer-events: none;*/
    /*    z-index: 999999;*/
    /*    background: radial-gradient(*/
    /*            circle 15vmax at var(--cursorX) var(--cursorY),*/
    /*            rgba(0,0,0,0) 0%,*/
    /*            rgba(0,0,0,.5) 80%,*/
    /*            rgba(0,0,0,.95) 100%)*/
    /*}*/

    /** {*/
    /*    box-sizing: border-box;*/
    /*    text-rendering: optimizeLegibility;*/
    /*    -webkit-font-smoothing: antialiased;*/
    /*    -moz-osx-font-smoothing: grayscale;*/
    /*    font-kerning: auto;*/
    /*}*/

    .ellipsis {
      white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    }

  </style>
</head>
<body>
<header>
  <nav>
    <!-- 네비바 -->
<!--    <img th:src="@{/images/notice/nav-logo-dark.png}" alt="상단 로고" onclick="window.location.href='/'">-->
    <img src="../../static/images/notice/nav-logo-dark.png" alt="상단 로고" onclick="window.location.href='/'">
    <span onclick="location.href='/intro'">소개</span>
    <span onclick="location.href='/notice'">공지사항</span>
    <span onclick="location.href='/post'">게시판</span>
    <span>MBTI 검사</span>
    <span>마이페이지</span>
    <span>로그인</span>
    <span>회원가입</span>
  </nav>
</header>
<main>
  <div class="qickBtn">
    <!--플로팅 버튼-->
<!--    <img th:src="@{/images/notice/folating-btn-dark.png}" id="light" class="tr" alt="플로팅 버튼">-->
    <img src="../../static/images/notice/folating-btn-dark.png" id="light" class="tr" alt="플로팅 버튼">
<!--    <img th:src="@{/images/notice/folating-btn-click-dark.png}" class="dn tr" id="dark" alt="플로팅 버튼 클릭">-->
    <img src="../../static/images/notice/folating-btn-click-dark.png" class="dn tr" id="dark" alt="플로팅 버튼 클릭">
    <div class="clikbtn tr">
<!--      <img th:src="@{/images/notice/top-btn-dark.png}" class="dn" id="top" alt="탑버튼">-->
      <img src="../../static/images/notice/top-btn-dark.png" class="dn" id="top" alt="탑버튼">
<!--      <img th:src="@{/images/notice/light-btn-dark.png}" class="dn" id="mode" alt="테마 변경">-->
      <img src="../../static/images/notice/light-btn-dark.png" class="dn" id="mode" alt="테마 변경">
<!--      <img th:src="@{/images/notice/test-btn-dark.png}" class="dn" id="test" alt="MBTI 테스트">-->
      <img src="../../static/images/notice/test-btn-dark.png" class="dn" id="test" alt="MBTI 테스트">
    </div>
  </div>
  <div class="post">
    <div id="header">
      <span id="no">14</span>
      <span id="title">
        <input type="text" value="게시글 제목을 입력해 주세요">
      </span>

      <script>
        window.addEventListener('load', () => {
          const title = document.getElementById("title");
          const no = document.getElementById("no");

          const checkTitleWidth = () => {
            const titleWidth = title.offsetWidth;
            if (titleWidth > 1000) {
              title.style.fontSize = '35px';
              title.style.marginTop='15px';
              no.style.marginTop='15px';
              title.style.marginLeft='130px';
              no.style.fontSize = '35px';
            } else {
              title.style.fontSize = ''; // 기본 폰트 크기로 되돌림
            }
          };

          // 페이지 로드 시 및 윈도우 리사이즈 시 폰트 크기 체크
          checkTitleWidth();
          window.addEventListener('resize', checkTitleWidth);
        });
      </script>
    </div>

    <div class="line"></div>
    <div id="content">
      <pre>
        <b>* 게시글 작성 시 유의사항 안내 *</b>
        1. 다른 사람의 개인정보(이름, 주소, 전화번호 등)를 포함한 게시글은 금지합니다. 이는 개인정보 보호법 위반에 해당되며  심각한 법적 문제를 초래할 수 있습니다.
        2. 특정인에 대한 괴롭힘을 조장하는 내용, 욕설이나 악의적인 내용, 상업적인 홍보 등은 사이트 운영규칙 위반에 해당되어 관리자가 삭제할 수 있습니다.
        3. 다른 사람의 창작물이나 저작권이 있는 자료를 허가 없이 사용하거나 게시하지 마세요. 이는 저작권법을 위반하는 행위로, 법적 문제를 일으킬 수 있습니다.
      </pre>
      <textarea  name="contents" id="contents" rows="1">
   이곳에 게시글을 작성 해주세요
      </textarea>
      <script>
        const textarea = useRef();

        const handleResizeHeight = () => {
          textarea.current.style.height = 'auto'; //height 초기화
          textarea.current.style.height = textarea.current.scrollHeight + 'px';};
      </script>
      <!--      <img th:src="@{/images/post/newpost/img-insert.png}" id="img1">-->
      <img src="../../static/images/post/newpost/img-insert.png" id="img1">
<!--      <img th:src="@{/images/post/newpost/img-insert.png}" id="img2">-->
      <img src="../../static/images/post/newpost/img-insert.png" id="img2">
    </div>

    <div id="box">
      <div id="writer">
        <img src="../../static/images/post/selectpost/profile-img.png">
        <span id="level"></span>
        <span id="nickname"></span>
        <span>
          <img src="../../static/images/post/selectpost/badge.png">
        </span>
      </div>

      <div class="line2"></div>
      <div id="category">
        <span>SF</span>
        <span>실화</span>
        <span>괴담</span>
        <span>스릴러</span>
        <span>미스테리</span>
      </div>
    </div>
  </div>
  <div class="bg"></div>
</main>
<footer>
  <div class="footer">
    <p>ⓒ 2024 MergePing. All right reserved. </p>
  </div>
</footer>
<script>
  window.addEventListener('load', () => {
    const box = document.getElementById('box');
    const footer = document.querySelector('footer .footer');

    const boxHeight = box.offsetHeight;
    const boxTop = box.offsetTop;
    const footerTop = boxTop + boxHeight + 50; // 박스와의 간격을 50px로 설정

    const img = document.getElementById('img2');
    const imgBottom = img.getBoundingClientRect().bottom;
    const contentBottom = content.getBoundingClientRect().bottom;
    const minTop = imgBottom + 10;
    const defaultTop1 = 250;
    const defaultTop2 = 150;
    box.style.top = `${Math.min(minTop, defaultTop1)}px`;

    if (contentBottom>1480){
      box.style.top = `${Math.min(minTop, defaultTop2)}px`;
    }

    setTimeout(() => {
      const boxTop = box.getBoundingClientRect().top + window.scrollY;
      const footerTop = boxTop + box.scrollHeight + 10;
      footer.style.position = 'absolute';
      footer.style.top = `${footerTop}px`;
    }, 100);
  });
</script>

<script>
  const floatBtn1 = document.getElementById("light");
  const floatBtn2 = document.getElementById("dark");
  const qickMenu1 =document.getElementById("top");
  const qickMenu2 =document.getElementById("mode");
  const qickMenu3 =document.getElementById("test");

  <!--플로팅 버튼 클릭시 퀵메뉴 display block-->
  floatBtn1.addEventListener('click',function (){
    floatBtn1.classList.toggle('dn');
    floatBtn2.classList.toggle('dn');
    qickMenu1.classList.toggle('dn');
    qickMenu2.classList.toggle('dn');
    qickMenu3.classList.toggle('dn');
  });


  <!--플로팅 버튼 클릭시 퀵메뉴 display none-->
  floatBtn2.addEventListener('click',function (){
    floatBtn1.classList.toggle('dn');
    floatBtn2.classList.toggle('dn');
    qickMenu1.classList.toggle('dn');
    qickMenu2.classList.toggle('dn');
    qickMenu3.classList.toggle('dn');

  });

  <!--top 버튼 클릭시 화면 상단이동-->
  setTimeout(function() {
    qickMenu1.addEventListener('click', function() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    });
  }, 3000);

</script>
</body>
</html>