<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/post/post.css}">
    <style>
        /*손전등*/
        /*:root {*/
        /*    --cursorX: 70vw;*/
        /*    --cursorY: 70vh;*/
        /*}*/
        /*:root:before {*/
        /*    content: '';*/
        /*    display: block;*/
        /*    width: 100%;*/
        /*    height: 100%;*/
        /*    position: fixed;*/
        /*    pointer-events: none;*/
        /*    z-index: 999999;*/
        /*    background: radial-gradient(*/
        /*            circle 15vmax at var(--cursorX) var(--cursorY),*/
        /*            rgba(0,0,0,0) 0%,*/
        /*            rgba(0,0,0,.5) 80%,*/
        /*            rgba(0,0,0,.95) 100%)*/
        /*}*/

        /** {*/
        /*    box-sizing: border-box;*/
        /*    text-rendering: optimizeLegibility;*/
        /*    -webkit-font-smoothing: antialiased;*/
        /*    -moz-osx-font-smoothing: grayscale;*/
        /*    font-kerning: auto;*/
        /*}*/

    </style>
</head>
<body>

<header>

    <nav>
        <!--네비바-->
        <img th:src="@{/images/notice/nav-logo-dark.png}" alt="상단 로고" onclick="window.location.href='/'">
        <span onclick="location.href='/intro'">소개</span>
        <span onclick="location.href='/notice'">공지사항</span>
        <span onclick="location.href='/post'">게시판</span>
        <span>MBTI 검사</span>
        <span>마이페이지</span>
        <span>로그인</span>
        <span>회원가입</span>
    </nav>

</header>

<main>
    <div class="qickBtn">
        <!--플로팅 버튼-->
        <img th:src="@{/images/notice/folating-btn-dark.png}" id="light" class="tr" alt="플로팅 버튼">
        <img th:src="@{/images/notice/folating-btn-click-dark.png}" class="dn tr" id="dark" alt="플로팅 버튼 클릭">
        <div class="clikbtn tr">
            <img th:src="@{/images/notice/top-btn-dark.png}" class="dn" id="top" alt="탑버튼">
            <img th:src="@{/images/notice/light-btn-dark.png}" class="dn" id="mode" alt="테마 변경">
            <img th:src="@{/images/notice/test-btn-dark.png}" class="dn" id="test" alt="MBTI 테스트">
        </div>
    </div>

    <img th:src="@{/images/post/post-bg-dark.png}" id="bg">

    <div class="write">
        <p>게시글 작성</p>
    </div>

    <div class="select">
        <p>분류</p>
    </div>

    <input type="search" value="&nbsp; &nbsp; &nbsp;검색어를 입력하세요">
    <label><img th:src="@{/images/post/Search-dark.png}"></label>


    <div class="sell">
        <span>번호</span>
        <span>즐겨찾기</span>
        <span>게시물 제목</span>
        <span>카테고리</span>
        <span>등록날짜</span>
        <span>무서워요</span>
        <span>댓글</span>
    </div>
<div class="post1">
    <div class="post">
        <span th:text="${postList[12].postNo}"></span>
        <span> <img th:src="@{/images/post/best-dark.png}"
                    th:if="${postList[12].postFavorite}"
                    th:attr="data-postNo=${postList[12].postNo}"
                    class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}"
                 th:unless="${postList[12].postFavorite}"
                 th:attr="data-postNo=${postList[12].postNo}"
                 class="favorite-icon" onclick="toggleFavorite(this)">
        </span>
        <span th:text="${postList[12].postTitle}" onclick="location.href='/selectpost'"></span>
        <div><span th:text="${postList[12].postCategory}"></span></div>
        <span th:text="${postList[12].formattedDate}"></span>
        <span th:text="${postList[12].scaryNumber}"></span>
        <span th:text="${postList[12].commentNumber}"></span>
    </div>

    <div class="post" style="top: 80px;">
        <span th:text="${postList[11].postNo}"></span>
        <span><img th:src="@{/images/post/best-dark.png}"
                   th:if="${postList[11].postFavorite}"
                   th:attr="data-postNo=${postList[11].postNo}"
                   class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}"
                 th:unless="${postList[11].postFavorite}"
                 th:attr="data-postNo=${postList[11].postNo}"
                 class="favorite-icon" onclick="toggleFavorite(this)">
        </span>
        <span th:text="${postList[11].postTitle}"></span>
        <div><span th:text="${postList[11].postCategory}"></span></div>
        <span th:text="${postList[11].formattedDate}"></span>
        <span th:text="${postList[11].scaryNumber}"></span>
        <span th:text="${postList[11].commentNumber}"></span>
    </div>

    <div class="post" style="top: 160px;">
        <span th:text="${postList[10].postNo}"></span>
        <span><img th:src="@{/images/post/best-dark.png}"
                   th:if="${postList[10].postFavorite}"
                   th:attr="data-postNo=${postList[10].postNo}"
                   class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}"
                 th:unless="${postList[10].postFavorite}"
                 th:attr="data-postNo=${postList[10].postNo}"
                 class="favorite-icon" onclick="toggleFavorite(this)">
        </span>
        <span th:text="${postList[10].postTitle}"></span>
        <div><span th:text="${postList[10].postCategory}"></span></div>
        <span th:text="${postList[10].formattedDate}"></span>
        <span th:text="${postList[10].scaryNumber}"></span>
        <span th:text="${postList[10].commentNumber}"></span>
    </div>

    <div class="post" style="top: 240px;">
        <span th:text="${postList[9].postNo}"></span>
        <span><img th:src="@{/images/post/best-dark.png}"
                   th:if="${postList[9].postFavorite}"
                   th:attr="data-postNo=${postList[9].postNo}"
                   class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}"
                 th:unless="${postList[9].postFavorite}"
                 th:attr="data-postNo=${postList[9].postNo}"
                 class="favorite-icon" onclick="toggleFavorite(this)">
        </span>
        <span th:text="${postList[9].postTitle}"></span>
        <div><span th:text="${postList[9].postCategory}"></span></div>
        <span th:text="${postList[9].formattedDate}"></span>
        <span th:text="${postList[9].scaryNumber}"></span>
        <span th:text="${postList[9].commentNumber}"></span>
    </div>

    <div class="post" style="top: 320px;">
        <span th:text="${postList[8].postNo}"></span>
        <span><img th:src="@{/images/post/best-dark.png}"
                   th:if="${postList[8].postFavorite}"
                   th:attr="data-postNo=${postList[8].postNo}"
                   class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}"
                 th:unless="${postList[8].postFavorite}"
                 th:attr="data-postNo=${postList[8].postNo}"
                 class="favorite-icon" onclick="toggleFavorite(this)">
        </span>
        <span th:text="${postList[8].postTitle}"></span>
        <div><span th:text="${postList[8].postCategory}"></span></div>
        <span th:text="${postList[8].formattedDate}"></span>
        <span th:text="${postList[8].scaryNumber}"></span>
        <span th:text="${postList[8].commentNumber}"></span>
    </div>

    <div class="post" style="top: 400px;">
        <span th:text="${postList[7].postNo}"></span>
        <span><img th:src="@{/images/post/best-dark.png}"
                   th:if="${postList[7].postFavorite}"
                   th:attr="data-postNo=${postList[7].postNo}"
                   class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}"
                 th:unless="${postList[7].postFavorite}"
                 th:attr="data-postNo=${postList[7].postNo}"
                 class="favorite-icon" onclick="toggleFavorite(this)">
        </span>
        <span th:text="${postList[7].postTitle}"></span>
        <div><span th:text="${postList[7].postCategory}"></span></div>
        <span th:text="${postList[7].formattedDate}"></span>
        <span th:text="${postList[7].scaryNumber}"></span>
        <span th:text="${postList[7].commentNumber}"></span>
    </div>

    <div class="post" style="top: 480px;">
        <span th:text="${postList[6].postNo}"></span>
        <span><img th:src="@{/images/post/best-dark.png}"
                   th:if="${postList[6].postFavorite}"
                   th:attr="data-postNo=${postList[6].postNo}"
                   class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}"
                 th:unless="${postList[6].postFavorite}"
                 th:attr="data-postNo=${postList[6].postNo}"
                 class="favorite-icon" onclick="toggleFavorite(this)">
        </span>
        <span th:text="${postList[6].postTitle}"></span>
        <div><span th:text="${postList[6].postCategory}"></span></div>
        <span th:text="${postList[6].formattedDate}"></span>
        <span th:text="${postList[6].scaryNumber}"></span>
        <span th:text="${postList[6].commentNumber}"></span>
    </div>
</div>

    <div class="post2 dn">
        <div class="post">
            <span th:text="${postList[5].postNo}"></span>
            <span><img th:src="@{/images/post/best-dark.png}"
                       th:if="${postList[5].postFavorite}"
                       th:attr="data-postNo=${postList[5].postNo}"
                       class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}"
                 th:unless="${postList[5].postFavorite}"
                 th:attr="data-postNo=${postList[5].postNo}"
                 class="favorite-icon" onclick="toggleFavorite(this)">
            </span>
            <span th:text="${postList[5].postTitle}"></span>
            <div><span th:text="${postList[5].postCategory}"></span></div>
            <span th:text="${postList[5].formattedDate}"></span>
            <span th:text="${postList[5].scaryNumber}"></span>
            <span th:text="${postList[5].commentNumber}"></span>
        </div>

        <div class="post" style="top: 80px;">
            <span th:text="${postList[4].postNo}"></span>
            <span><img th:src="@{/images/post/best-dark.png}"
                       th:if="${postList[4].postFavorite}"
                       th:attr="data-postNo=${postList[4].postNo}"
                       class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}"
                 th:unless="${postList[4].postFavorite}"
                 th:attr="data-postNo=${postList[4].postNo}"
                 class="favorite-icon" onclick="toggleFavorite(this)">
            </span>
            <span th:text="${postList[4].postTitle}"></span>
            <div><span th:text="${postList[4].postCategory}"></span></div>
            <span th:text="${postList[4].formattedDate}"></span>
            <span th:text="${postList[4].scaryNumber}"></span>
            <span th:text="${postList[4].commentNumber}"></span>
        </div>

        <div class="post" style="top: 160px;">
            <span th:text="${postList[3].postNo}"></span>
            <span><img th:src="@{/images/post/best-dark.png}"
                       th:if="${postList[3].postFavorite}"
                       th:attr="data-postNo=${postList[3].postNo}"
                       class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}"
                 th:unless="${postList[3].postFavorite}"
                 th:attr="data-postNo=${postList[3].postNo}"
                 class="favorite-icon" onclick="toggleFavorite(this)">
            </span>
            <span th:text="${postList[3].postTitle}"></span>
            <div><span th:text="${postList[3].postCategory}"></span></div>
            <span th:text="${postList[3].formattedDate}"></span>
            <span th:text="${postList[3].scaryNumber}"></span>
            <span th:text="${postList[3].commentNumber}"></span>
        </div>

        <div class="post" style="top: 240px;">
            <span th:text="${postList[2].postNo}"></span>
            <span><img th:src="@{/images/post/best-dark.png}"
                       th:if="${postList[2].postFavorite}"
                       th:attr="data-postNo=${postList[2].postNo}"
                       class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}"
                 th:unless="${postList[2].postFavorite}"
                 th:attr="data-postNo=${postList[2].postNo}"
                 class="favorite-icon" onclick="toggleFavorite(this)">
            </span>
            <span th:text="${postList[2].postTitle}"></span>
            <div><span th:text="${postList[2].postCategory}"></span></div>
            <span th:text="${postList[2].formattedDate}"></span>
            <span th:text="${postList[2].scaryNumber}"></span>
            <span th:text="${postList[2].commentNumber}"></span>
        </div>

        <div class="post" style="top: 320px;">
            <span th:text="${postList[1].postNo}"></span>
            <span><img th:src="@{/images/post/best-dark.png}"
                       th:if="${postList[1].postFavorite}"
                       th:attr="data-postNo=${postList[1].postNo}"
                       class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}"
                 th:unless="${postList[1].postFavorite}"
                 th:attr="data-postNo=${postList[1].postNo}"
                 class="favorite-icon" onclick="toggleFavorite(this)">
            </span>
            <span th:text="${postList[1].postTitle}"></span>
            <div><span th:text="${postList[1].postCategory}"></span></div>
            <span th:text="${postList[1].formattedDate}"></span>
            <span th:text="${postList[1].scaryNumber}"></span>
            <span th:text="${postList[1].commentNumber}"></span>
        </div>

        <div class="post" style="top: 400px;">
            <span th:text="${postList[0].postNo}"></span>
            <span><img th:src="@{/images/post/best-dark.png}"
                       th:if="${postList[0].postFavorite}"
                       th:attr="data-postNo=${postList[0].postNo}"
                       class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}"
                 th:unless="${postList[0].postFavorite}"
                 th:attr="data-postNo=${postList[0].postNo}"
                 class="favorite-icon" onclick="toggleFavorite(this)">
            </span>
            <span th:text="${postList[0].postTitle}"></span>
            <div><span th:text="${postList[0].postCategory}"></span></div>
            <span th:text="${postList[0].formattedDate}"></span>
            <span th:text="${postList[0].scaryNumber}"></span>
            <span th:text="${postList[0].commentNumber}"></span>
        </div>
    </div>

    <div class="pageNum">
        <img th:src="@{/images/notice/pre-btn.png}" id="img1">
        <div class="tab">
            <p id="tab1">1</p>
            <p id="tab2">2</p>
        </div>
        <img th:src="@{/images/notice/next-btn.png}" id="img2">
    </div>


</main>

<footer>
    <div class="footer"><p>ⓒ 2024 MergePing. All right reserved.  </p></div>
</footer>
</body>
<script> function toggleFavorite(element) {
    const postNo = element.getAttribute('data-postNo');
    const isFavorite = element.getAttribute('src').includes('best-dark.png');
    fetch(`/toggleFavorite`, {
        method: 'POST', headers: {
            'Content-Type': 'application/json'
        }, body: JSON.stringify({ postNo: postNo, isFavorite: !isFavorite }) })
        .then(response => response.json()) .then(data => { if (data.success) {
            element.src = isFavorite ? '/images/post/best-none-dark.png' : '/images/post/best-dark.png';
        } }) .catch(error => console.error('Error:', error)); }
</script>
<script>
    const tab1 = document.getElementById("tab1");
    const tab2 = document.getElementById("tab2");
    const post1 = document.querySelectorAll(".post1");
    const post2 = document.querySelectorAll(".post2");
    const img1 = document.getElementById("img1");
    const img2 = document.getElementById("img2");

    tab1.addEventListener('click',()=>{
        post1.forEach(click => click.classList.remove("dn"));
        post2.forEach(click => click.classList.add("dn"));
        tab1.style.color="#fff";
        tab2.style.color="#BEBEBE";
    });

    img1.addEventListener('click',()=>{
        post1.forEach(click => click.classList.remove("dn"));
        post2.forEach(click => click.classList.add("dn"));
        tab1.style.color="#fff";
        tab2.style.color="#BEBEBE";
    });

    tab2.addEventListener('click',()=>{
        post2.forEach(click => click.classList.remove("dn"));
        post1.forEach(click => click.classList.add("dn"));
        tab2.style.color="#fff";
        tab1.style.color="#BEBEBE";
    });

    img2.addEventListener('click',()=>{
        post2.forEach(click => click.classList.remove("dn"));
        post1.forEach(click => click.classList.add("dn"));
        tab2.style.color="#fff";
        tab1.style.color="#BEBEBE";
    });

</script>

<script>
    const floatBtn1 = document.getElementById("light");
    const floatBtn2 = document.getElementById("dark");
    const qickMenu1 =document.getElementById("top");
    const qickMenu2 =document.getElementById("mode");
    const qickMenu3 =document.getElementById("test");

    <!--플로팅 버튼 클릭시 퀵메뉴 display block-->
    floatBtn1.addEventListener('click',function (){
        floatBtn1.classList.toggle('dn');
        floatBtn2.classList.toggle('dn');
        qickMenu1.classList.toggle('dn');
        qickMenu2.classList.toggle('dn');
        qickMenu3.classList.toggle('dn');
    });


    <!--플로팅 버튼 클릭시 퀵메뉴 display none-->
    floatBtn2.addEventListener('click',function (){
        floatBtn1.classList.toggle('dn');
        floatBtn2.classList.toggle('dn');
        qickMenu1.classList.toggle('dn');
        qickMenu2.classList.toggle('dn');
        qickMenu3.classList.toggle('dn');

    });

    <!--top 버튼 클릭시 화면 상단이동-->
    setTimeout(function() {
        qickMenu1.addEventListener('click', function() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    }, 3000);

</script>
<script>
    function update(e){
        var x = e.clientX || e.touches[0].clientX
        var y = e.clientY || e.touches[0].clientY

        document.documentElement.style.setProperty('--cursorX', x + 'px')
        document.documentElement.style.setProperty('--cursorY', y + 'px')}

    document.addEventListener('mousemove',update)
    document.addEventListener('touchmove',update)
</script>
</html>