<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" id="theme-stylesheet" th:href="@{/css/post/post-light.css}">
    <link rel="stylesheet" id="theme-stylesheet-mypage" th:href="@{/css/mypage/mypage-light.css}">
    <style>
        .post {
            position: relative;
        }
        .dn{
            display: none;
        }
    </style>
</head>
<body>
<header>
    <nav>
        <!--네비바-->
        <img th:src="@{/images/main/nav-logo-light.png}" alt="상단 로고" onclick="location.href='/'">
        <span onclick="location.href='/intro'">소개</span>
        <span onclick="location.href='/notice'">공지사항</span>
        <span onclick="location.href='/post'">게시판</span>
        <span onclick="location.href='/mbti'">MBTI 검사</span>
        <span id="mypageBtn">마이페이지</span>
        <form th:action="@{/auth/logout}" method="post">
            <button id="logoutNav" type="submit">로그아웃</button>
        </form>
        <span onclick="location.href='/auth/signupterms'">회원가입</span>
    </nav>
</header>

<aside id="myPageAside">
    <img th:src="@{${userInfo.profileImage != null ? userInfo.profileImage : '/images/mypageimages/profile.png'}}" alt="프로필 사진" class="profile-photo" id="profilePhoto">
    <p id="nickname" class="nicknamefont">닉네임 : <span th:text="${myPageDTO.userName}"></span></p>
    <p id="rank" class="rankfont">등급: <span th:text="${userLevel}"></span></p>
    <p class="infofont" id="info">개인 정보</p>
    <p class="activefont" id="active">활동 기록</p>
    <p class="MBTIfont" id="mbtiButton">MBTI</p>
    <div id="mbtiContent" style="display: none;">
        <div id="myMBTI" class="mbti-item">
            -- 나의 MBTI
        </div>
        <div class="mbti-item2" onclick="location.href='/mbti'">-- MBTI 검사</div>
    </div>
    <form th:action="@{/auth/logout}" method="post">
        <button class="logoutFont" type="submit">로그아웃</button>
    </form>
</aside>
<div class="rankpopup" id="rank-popup">
    <p class="scorefont">출석 횟수 : <span th:text="${attendanceCount}"></span></p>
    <p class="nextfont">다음 등급 : <span th:text="${nextLevelName}"></span></p>
    <p class="needfont">필요 출석 : <span th:text="${nextLevelRequiredAttendance}"></span></p>
</div>

<div class="modal-background" id="modal-background">
    <div class="pwdpopup" id="pwd-popup">
        <p class="pwdfont">비밀번호를 입력하여 본인임을 확인해 주세요!</p>
        <div class="pwd-container">
            <span class="pwdfont2">비밀번호</span> <input type="password" id="pwdInput" placeholder="영문,숫자,특수문자 8~12자리">
            <span class="toggle-password" id="togglePassword"><img id="passwordIcon" src="/images/icon/closeEye.png" alt="eye-icon" /></span>
        </div>

        <div class="popup-buttons">
            <button id="closePopupBtn" class="cancle-btn">취소</button>
            <button id="submitPasswordBtn" class="confirm-btn">확인</button>
        </div>

    </div>
</div>
<div class="mbtipopup" id="mbtiPopup">
    <p class="horrormbti">나의 공포 MBTI</p>
    <p class="mbticategory" th:text="${mbtiInfo.MBTI_TYPE}"></p>
    <div class="mbtiexp">
        <p class="mtbtiexp2" th:text="${mbtiInfo.MBTI_INFO}"></p>
    </div>
</div>


<main>
    <div class="qickBtn">
        <!--플로팅 버튼-->
        <img th:src="@{/images/main/folating-btn-light.png}" id="light" class="tr" alt="플로팅 버튼">
        <img th:src="@{/images/main/folating-btn-click-light.png}" class="dn tr" id="dark" alt="플로팅 버튼 클릭">
        <div class="clikbtn tr">
            <img th:src="@{/images/main/top-btn-light.png}" class="dn" id="top" alt="탑버튼">
            <img th:src="@{/images/main/light-btn-light.png}" class="dn" id="mode" onclick="toggleMode()" alt="테마 변경">
            <img th:src="@{/images/main/test-btn-light.png}" class="dn" id="test" alt="MBTI 테스트">
        </div>
    </div>
    <img th:src="@{/images/post/post-bg-light.png}" id="bg">

    <div class="write" onclick="location.href='/newpost'">
        <p >게시글 작성</p>
    </div>

    <div class="select">
        <button>분류</button>
    </div>
    <div class="modal dn">
        <div class="modalContent">
            <button id="modalSelect">분류</button>
            <div id="category">
                <button id="modalCategory">카테고리</button>
                <div class="categoryBox dn">
                    <button id="real">실화</button>
                    <button id="mystery">미스테리</button>
                    <button id="sf">SF</button>
                    <button id="thrill">스릴러</button>
                    <button id="ghost">괴담</button>
                </div>
            </div>
            <button id="modalComment">댓글순</button>
            <button id="modalScary">인기순</button>
            <button id="modalNew">작성순</button>
            <button id="modalFavorite">즐겨찾기</button>
        </div>
    </div>


    <input type="search" id="searchInput" placeholder="&nbsp; &nbsp; &nbsp;검색어를 입력하세요">
    <label><img th:src="@{/images/post/Search-dark.png}" id="searchBtn"></label>


    <div class="sell">
        <span>번호</span>
        <span>즐겨찾기</span>
        <span>게시물 제목</span>
        <span>카테고리</span>
        <span>등록날짜</span>
        <span>무서워요</span>
        <span>댓글</span>
    </div>
    <div class="post1" id="postContainer">
        <div class="post" th:each="post, iterStat : ${postList}" th:attr="style=${'top: ' + (iterStat.index * 80) + 'px;'}">
            <span th:text="${post.postNo}" id="postNo"></span>
            <span>
            <img th:src="@{/images/post/best-dark.png}" th:if="${post.postFavorite}"
                 th:attr="data-postNo=${post.postNo}" class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}" th:unless="${post.postFavorite}"
                 th:attr="data-postNo=${post.postNo}" class="favorite-icon" onclick="toggleFavorite(this)">
            </span>
            <a th:href="@{/selectpost/{postNo}(postNo=${post.postNo})}">
                <span th:text="${post.postTitle}"></span>
            </a>
            <div><span th:text="${post.postCategory}"></span></div>
            <span th:text="${post.postDate}"></span>
            <span th:text="${post.scaryNumber}"></span>
            <span th:text="${post.commentNumber}"></span>
        </div>
    </div>

    <div class="pageNum">
        <!--        <img th:src="@{/images/notice/pre-btn.png}" id="img1" alt="Previous">-->
        <div class="tab" id="tabContainer"></div>
        <!--        <img th:src="@{/images/notice/next-btn.png}" id="img2" alt="Next">-->
    </div>

</main>




<footer>
    <div class="footer"><p>ⓒ 2024 MergePing. All right reserved.  </p></div>
</footer>

</body>

<!--즐겨찾기-->
<script>
    function toggleFavorite(element) {
        const postNo = element.getAttribute('data-postNo');
        const isFavorite = element.getAttribute('src').includes('best-dark.png');
        fetch(`/toggleFavorite`, {
            method: 'POST', headers: {
                'Content-Type': 'application/json'
            }, body: JSON.stringify({ postNo: postNo, isFavorite: !isFavorite }) })
            .then(response => response.json()) .then(data => { if (data.success) {
            element.src = isFavorite ? '/images/post/best-none-dark.png' : '/images/post/best-dark.png';
        } }) .catch(error => console.error('Error:', error)); }

    // 테마 변경 시 즐겨찾기 이미지 업데이트
    function updateFavoriteImage(element, isFavorite) {
        const mode = localStorage.getItem('theme-mode') || 'light'; // 현재 테마 상태 (light 또는 dark)

        // 테마에 맞는 이미지 경로를 설정
        const cacheBuster = `?v=${new Date().getTime()}`;  // 캐시 우회를 위한 쿼리 문자열

        if (mode === 'dark') {
            element.setAttribute('src', isFavorite ? '/images/post/best-none-dark.png' : '/images/post/best-dark.png');
        } else {
            element.setAttribute('src', isFavorite ? '/images/post/best-none-light.png' : '/images/post/best-light.png');
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        const savedMode = localStorage.getItem('theme-mode') || 'light';
        const themeStylesheet = savedMode === 'dark' ? '/css/post/post-dark.css' : '/css/post/post-light.css';
        document.getElementById('theme-stylesheet').setAttribute('href', themeStylesheet);
        document.getElementById('theme-stylesheet').addEventListener('load', () => {
            updateImages(savedMode);
        });
        updateImages(savedMode);
    });
    function updateImages(mode) {
        const cacheBuster = `?v=${new Date().getTime()}`;

        const navLogo = document.getElementById('nav-logo');
        if (navLogo) {
            navLogo.setAttribute('src', mode === 'dark' ? `/images/main/nav-logo-dark.png${cacheBuster}` : `/images/main/nav-logo-light.png${cacheBuster}`);
        }

        const light = document.getElementById('light');
        if (light) {
            light.setAttribute('src', mode === 'dark' ? `/images/main/folating-btn-dark.png${cacheBuster}` : `/images/main/folating-btn-light.png${cacheBuster}`);
        }

        const dark = document.getElementById('dark');
        if (dark) {
            dark.setAttribute('src', mode === 'dark' ? `/images/main/folating-btn-click-dark.png${cacheBuster}` : `/images/main/folating-btn-click-light.png${cacheBuster}`);
        }

        const top = document.getElementById('top');
        if (top) {
            top.setAttribute('src', mode === 'dark' ? `/images/main/top-btn-dark.png${cacheBuster}` : `/images/main/top-btn-light.png${cacheBuster}`);
        }

        const modeImg = document.getElementById('mode');
        if (modeImg) {
            modeImg.setAttribute('src', mode === 'dark' ? `/images/main/light-btn-dark.png${cacheBuster}` : `/images/main/light-btn-light.png${cacheBuster}`);
        }

        const test = document.getElementById('test');
        if (test) {
            test.setAttribute('src', mode === 'dark' ? `/images/main/test-btn-dark.png${cacheBuster}` : `/images/main/test-btn-light.png${cacheBuster}`);
        }

        const bg = document.getElementById('bg');
        if (bg) {
            bg.setAttribute('src', mode === 'dark' ? `/images/post/post-bg-dark.png${cacheBuster}` : `/images/post/post-bg-light.png${cacheBuster}`);
        }

        const fav = document.getElementById('fav');
        if (fav) {
            fav.setAttribute('src', mode === 'dark' ? `/images/post/best-dark.png${cacheBuster}` : `/images/post/best-light.png${cacheBuster}`);
        }

        const nofav = document.getElementById('nofav');
        if (nofav) {
            nofav.setAttribute('src', mode === 'dark' ? `/images/post/best-none-dark.png${cacheBuster}` : `/images/post/best-none-light.png${cacheBuster}`);
        }
    }

    function toggleMode() {
        const currentTheme = document.getElementById('theme-stylesheet').getAttribute('href');
        let newMode = '';

        // 현재 테마에 따라 새 테마 결정
        if (currentTheme.includes('post-light.css')) {
            newMode = 'dark';
        } else {
            newMode = 'light';
        }

        // 테마 모드 저장
        localStorage.setItem('theme-mode', newMode);

        // selectpost와 mypage에 새로운 테마 파일을 적용
        const newTheme = newMode === 'dark' ? '/css/post/post-dark.css' : '/css/post/post-light.css';
        const newThemeM = newMode === 'dark' ? '/css/mypage/mypage-dark.css' : '/css/mypage/mypage-light.css';
        document.getElementById('theme-stylesheet-mypage').setAttribute('href', newThemeM);

        document.getElementById('theme-stylesheet').setAttribute('href', newTheme);

        // 테마에 맞는 이미지들 업데이트
        updateImages(newMode);
    }
</script>

<!--검색-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchBtn = document.getElementById('searchBtn');
        searchBtn.addEventListener('click', function() {
            const keyword = String(document.getElementById('searchInput').value);
            fetchPosts(keyword);
        });

        function fetchPosts(keyword) {
            fetch(`/searchpost?keyword=${encodeURIComponent(keyword)}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    const postContainer = document.getElementById('postContainer');
                    postContainer.innerHTML = '';

                    if (data && data.posts && Array.isArray(data.posts)) {
                        const posts = data.posts;

                        if (posts.length === 0) {
                            const noResultsMessage = document.createElement('p');
                            noResultsMessage.textContent = '검색 결과가 없습니다.';
                            postContainer.appendChild(noResultsMessage);
                        } else {
                            posts.forEach((post, index) => {
                                if (post !== null) {
                                    addNewPost(post, index);
                                }
                            });
                        }
                    }
                })
                .catch(error => {
                    console.error('Error fetching posts:', error);
                });
        }

        function addNewPost(post, index) {
            const postContainer = document.getElementById('postContainer');
            const newPost = document.createElement('div');
            newPost.classList.add('post');
            newPost.setAttribute('style', `top: ${index * 80}px`);
            newPost.innerHTML = `
            <span>${post.postNo}</span>
            <span>
                <img src="/images/post/best-${post.postFavorite ? 'dark-light' : 'none-dark-light'}.png"
                     data-postNo="${post.postNo}" class="favorite-icon" onclick="toggleFavorite(this)">
            </span>
            <a href="/selectpost/${post.postNo}">
                <span>${post.postTitle}</span>
            </a>
            <div><span>${post.postCategory}</span></div>
            <span>${post.postDate}</span>
            <span>${post.scaryNumber}</span>
            <span>${post.commentNumber}</span>
        `;
            postContainer.appendChild(newPost);
        }
    });



</script>

<!--    카테고리 분류-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const modal = document.querySelector(".modal");
        const modalBtn = document.querySelector(".select button");
        const select = document.getElementById("modalSelect");
        const category = document.getElementById("modalCategory");
        const categoryBox = document.querySelector(".categoryBox");
        const real = document.getElementById("real");
        const mystery = document.getElementById("mystery");
        const sf = document.getElementById("sf");
        const thrill = document.getElementById("thrill");
        const ghost = document.getElementById("ghost");
        const comment = document.getElementById("modalComment");
        const scary = document.getElementById("modalScary");
        const New = document.getElementById("modalNew");
        const favorite = document.getElementById("modalFavorite");

        let currentPage = 1;
        const pageSize = 7;
        let totalPageCount = 3;
        const maxVisibleTabs = 5;
        let currentOrderBy = "POST_NO";
        let currentCategory = null;

        function updatePosts(orderBy, category, page = 1) {
            let url = `/post/sort?orderBy=${encodeURIComponent(orderBy)}&page=${page}&pageSize=${pageSize}`;
            if (category) {
                url += `&category=${encodeURIComponent(category)}`;
            }
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    renderPosts(data);
                    updateTabButtons(orderBy, category);
                })
                .catch(error => console.error('Error fetching posts:', error));
        }

        function renderPosts(posts) {
            const postContainer = document.getElementById('postContainer');
            postContainer.innerHTML = '';
            posts.forEach((post, index) => {
                if (post !== null) {
                    addNewPost(post, index);
                }
            });


            function addNewPost(post, index) {
                const postContainer = document.getElementById('postContainer');
                const newPost = document.createElement('div');
                newPost.classList.add('post');
                newPost.setAttribute('style', `top: ${index * 80}px`);

                // 현재 테마 모드를 가져옵니다.
                const mode = localStorage.getItem('theme-mode') || 'light'; // 기본값은 'light'

                // 테마에 맞는 즐겨찾기 이미지 경로 설정
                const favoriteIcon = post.postFavorite
                    ? mode === 'dark' ? '/images/post/best-dark.png' : '/images/post/best-light.png'
                    : mode === 'dark' ? '/images/post/best-none-dark.png' : '/images/post/best-none-light.png';

                newPost.innerHTML = `
                <span>${post.postNo}</span>
                <span>
                    <img src="${favoriteIcon}" data-postNo="${post.postNo}" class="favorite-icon" onclick="toggleFavorite(this)">
                </span>
                <a href="/selectpost/${post.postNo}">
                    <span>${post.postTitle}</span>
                </a>
                <div><span>${post.postCategory}</span></div>
                <span>${post.postDate}</span>
                <span>${post.scaryNumber}</span>
                <span>${post.commentNumber}</span>
            `;

                postContainer.appendChild(newPost);
            }
        }

        function updateTabButtons(orderBy, category) {
            const tabContainer = document.getElementById('tabContainer');
            tabContainer.innerHTML = '';

            fetch(`/post/count?category=${encodeURIComponent(category)}`)
                .then(response => response.json())
                .then(postCount => {
                    const totalPostCount = postCount;
                    totalPageCount = Math.ceil(totalPostCount / pageSize);

                    let start = Math.max(1, currentPage - Math.floor(maxVisibleTabs / 2));
                    let end = Math.min(totalPageCount, start + maxVisibleTabs - 1);

                    if (end - start + 1 < maxVisibleTabs) {
                        start = Math.max(1, end - maxVisibleTabs + 1);
                    }

                    if (start < 1) start = 1;
                    if (end > totalPageCount) end = totalPageCount;

                    // 현재 테마 확인
                    const currentMode = localStorage.getItem('theme-mode') || 'light';  // 기본값 'light'

                    // 페이지 버튼 생성
                    for (let i = start; i <= end; i++) {
                        const tab = document.createElement('p');
                        tab.id = `tab${i}`;
                        tab.textContent = `${i}`;
                        tab.addEventListener('click', () => {
                            currentPage = i;
                            updatePosts(orderBy, category, i);
                        });

                        // 라이트 모드일 때는 '#000', 다크 모드일 때는 '#fff'로 색상 변경
                        tab.style.color = i === currentPage ? (currentMode === 'light' ? '#000' : '#fff') : '#BEBEBE';

                        tab.classList.add('pageNum');
                        tabContainer.appendChild(tab);
                    }

                    updateVisibility();  // 페이지 업데이트 후, 화면에 요소가 보이도록 처리
                });
        }
        function prevBtnClickHandler(){
            if (currentPage>1){
                currentPage-=1;
                updatePosts(currentOrderBy,currentCategory,currentPage)
                updateVisibility(currentOrderBy,currentCategory,currentPage)
            }
        }

        function nextBtnClickHandler(){
            if (currentPage>1){
                currentPage-=1;
                updatePosts(currentOrderBy,currentCategory,currentPage);
                updateVisibility(currentOrderBy,currentCategory,currentPage)
            }
        }


        function updateVisibility() {
            let start = Math.max(1, currentPage - Math.floor(maxVisibleTabs / 2));
            let end = Math.min(totalPageCount, start + maxVisibleTabs - 1);

            const prevBtn = document.getElementById('img1');
            const nextBtn = document.getElementById('img2');

            prevBtn.style.opacity = currentPage > 1 ? '1' : '0.5';
            nextBtn.style.opacity = currentPage < totalPageCount ? '1' : '0.5';

            prevBtn.removeEventListener('click', prevBtnClickHandler);
            nextBtn.removeEventListener('click', nextBtnClickHandler);
            prevBtn.addEventListener('click', prevBtnClickHandler);
            nextBtn.addEventListener('click', nextBtnClickHandler);


            prevBtn.addEventListener('click', () => {
                if (currentPage > 1) {
                    currentPage -= 1;
                    updatePosts(currentOrderBy,currentCategory, currentPage);
                }

            });

            nextBtn.addEventListener('click', () => {
                if (currentPage < totalPageCount) {
                    currentPage += 1;
                    updatePosts(currentOrderBy, currentCategory, currentPage);
                }

            });
        }

        modalBtn.addEventListener('click', () => {
            modal.classList.toggle("dn");
        });
        select.addEventListener('click', () => {
            modal.classList.toggle("dn");
        });

        category.addEventListener('click', () => {
            categoryBox.classList.toggle("dn");
            modalBtn.innerText = "카테고리";
            select.innerText = "카테고리";
            toggleCategoryButtons();
            select.addEventListener('click',()=>{
                select.innerText="분류";
                toggleCategoryButtons()
                categoryBox.classList.toggle("dn")})
        });

        function toggleCategoryButtons() {
            comment.classList.toggle("dn");
            scary.classList.toggle("dn");
            New.classList.toggle("dn");
            favorite.classList.toggle("dn");
            category.classList.toggle("dn");
        }

        comment.addEventListener('click', () => {
            modal.classList.toggle("dn");
            modalBtn.innerText = "댓글순";
            updatePosts("COMMENTS_NUMBER", null);
        });

        scary.addEventListener('click', () => {
            modal.classList.toggle("dn");
            modalBtn.innerText = "인기순";
            updatePosts("SCARY_NUMBER", null);
        });

        New.addEventListener('click', () => {
            modal.classList.toggle("dn");
            modalBtn.innerText = "작성순";
            updatePosts("POST_DATE", null);
        });

        favorite.addEventListener('click', () => {
            modal.classList.toggle("dn");
            modalBtn.innerText = "즐겨찾기순";
            updatePosts("POST_FAVORITE", null);
        });

        real.addEventListener('click', () => {
            modal.classList.toggle("dn");
            modalBtn.innerText = "실화";
            updatePosts("POST_NO", "실화");
        });

        mystery.addEventListener('click', () => {
            modal.classList.toggle("dn");
            modalBtn.innerText = "미스테리";
            updatePosts("POST_NO", "미스테리");
        });

        sf.addEventListener('click', () => {
            modal.classList.toggle("dn");
            modalBtn.innerText = "SF";
            updatePosts("POST_NO", "SF");
        });

        thrill.addEventListener('click', () => {
            modal.classList.toggle("dn");
            modalBtn.innerText = "스릴러";
            updatePosts("POST_NO", "스릴러");
        });

        ghost.addEventListener('click', () => {
            modal.classList.toggle("dn");
            modalBtn.innerText = "괴담";
            updatePosts("POST_NO", "괴담");
        });

// 초기 데이터 렌더링
        updatePosts(currentOrderBy, currentCategory);
    });
</script>

<script>
    // JavaScript로 토글 기능 추가
    const mypageBtn = document.getElementById("mypageBtn");
    const myPageAside = document.getElementById("myPageAside");

    // 버튼 클릭 시 aside 창 표시/숨김 전환
    mypageBtn.addEventListener("click", () => {
        if (myPageAside.classList.contains("show")) {
            // 보이는 상태라면 숨기기
            myPageAside.classList.remove("show");
            setTimeout(() => {
                myPageAside.style.display = "none"; // 애니메이션 후 display를 none으로
            }, 400); // transition과 동일한 시간 설정
        } else {
            // 숨겨진 상태라면 보이게 하기
            myPageAside.style.display = "block"; // 먼저 display를 block으로 설정
            setTimeout(() => {
                myPageAside.classList.add("show");
            }, 10); // 약간의 지연 시간 후에 show 클래스 추가
        }
    });

    const gradeElement = document.getElementById('rank');
    const popup = document.getElementById('rank-popup');

    gradeElement.addEventListener('mouseenter', () => {
        popup.style.display = 'block'; // 팝업 표시
    });

    gradeElement.addEventListener('mouseleave', () => {
        popup.style.display = 'none'; // 팝업 숨기기
    });

    const personalInfoBtn = document.getElementById('info');
    const passwordPopup = document.getElementById('pwd-popup');
    const closePopupBtn = document.getElementById('closePopupBtn');
    const togglePassword = document.getElementById('togglePassword');
    const passwordInput = document.getElementById('pwdInput');
    const submitPasswordBtn = document.getElementById('submitPasswordBtn');
    const modal = document.querySelector('.modal-background');
    const passwordIcon = document.getElementById('passwordIcon');

    //모달
    personalInfoBtn.addEventListener('click', () => {
        passwordPopup.style.display = 'block';// 비밀번호 팝업 표시
        document.body.style.overflow = "hidden"; // 스크롤 비활성화
    });

    personalInfoBtn.addEventListener("click", () => {
        modal.style.display = "flex";
        if (modal.style.display === "flex") {
            closePopupBtn.addEventListener("click", () => {
                modal.style.display = "none";
                document.body.style.overflow = "auto"; // 스크롤 다시 활성화
            });
        }
    });


    // 비밀번호 보기/숨기기 토글
    togglePassword.addEventListener('click', () => {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        passwordIcon.src = type === 'password' ? '/images/icon/closeEye.png' : '/images/icon/openEye.png';
    });


    submitPasswordBtn.addEventListener('click', () => {
        const inputPassword = passwordInput.value;

        // 비밀번호 검증 요청
        fetch('/verifyPassword', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({ inputPassword })
        })
            .then(response => response.json())
            .then(isPasswordCorrect => {
                if (isPasswordCorrect) {
                    // 비밀번호가 맞으면 개인정보 페이지로 이동
                    location.href = '/userinfo';
                } else {
                    // 비밀번호가 틀리면 경고 메시지 표시
                    alert('비밀번호가 일치하지 않습니다.');
                }
            })
            .catch(error => {
                console.error('비밀번호 검증 요청 실패:', error);
                alert('비밀번호 확인 중 오류가 발생했습니다.');
            });
    });

    const activebtn = document.getElementById('active');
    activebtn.addEventListener('click', () => {
        // URL을 원하는 주소로 변경하세요
        location.href = '/useractive';
    });

    const mbtiButton = document.getElementById("mbtiButton");
    const mbtiContent = document.getElementById("mbtiContent");
    const myMBTI = document.getElementById("myMBTI");
    const mbtiPopup = document.getElementById("mbtiPopup");

    // MBTI 버튼 클릭 시 MBTI 콘텐츠 표시
    mbtiButton.addEventListener("click", () => {
        // 콘텐츠 표시 상태를 토글
        mbtiContent.style.display = mbtiContent.style.display === "none" ? "block" : "none";
    });

    // 나의 MBTI 요소에 마우스 올렸을 때 팝업 표시
    myMBTI.addEventListener("mouseenter", () => {
        mbtiPopup.style.display = "block";
    });

    // 나의 MBTI 요소에서 마우스 나갔을 때 팝업 숨기기
    myMBTI.addEventListener("mouseleave", () => {
        mbtiPopup.style.display = "none";
    });
</script>


<!--플로팅 버튼-->
<script>
    const floatBtn1 = document.getElementById("light");
    const floatBtn2 = document.getElementById("dark");
    const qickMenu1 =document.getElementById("top");
    const qickMenu2 =document.getElementById("mode");
    const qickMenu3 =document.getElementById("test");

    <!--플로팅 버튼 클릭시 퀵메뉴 display block-->
    floatBtn1.addEventListener('click',function (){
        floatBtn1.classList.toggle('dn');
        floatBtn2.classList.toggle('dn');
        qickMenu1.classList.toggle('dn');
        qickMenu2.classList.toggle('dn');
        qickMenu3.classList.toggle('dn');
    });


    <!--플로팅 버튼 클릭시 퀵메뉴 display none-->
    floatBtn2.addEventListener('click',function (){
        floatBtn1.classList.toggle('dn');
        floatBtn2.classList.toggle('dn');
        qickMenu1.classList.toggle('dn');
        qickMenu2.classList.toggle('dn');
        qickMenu3.classList.toggle('dn');

    });

    <!--top 버튼 클릭시 화면 상단이동-->
    setTimeout(function() {
        qickMenu1.addEventListener('click', function() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    }, 3000);

</script>
<script>
    function update(e){
        var x = e.clientX || e.touches[0].clientX
        var y = e.clientY || e.touches[0].clientY

        document.documentElement.style.setProperty('--cursorX', x + 'px')
        document.documentElement.style.setProperty('--cursorY', y + 'px')}

    document.addEventListener('mousemove',update)
    document.addEventListener('touchmove',update)
</script>
</html>