<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/post/post.css}">
    <style>
        .post {
            position: relative;
        }
    </style>
</head>
<body>

<header>

    <nav>
        <!--네비바-->
        <img th:src="@{/images/notice/nav-logo-dark.png}" alt="상단 로고" onclick="window.location.href='/'">
        <span onclick="location.href='/intro'">소개</span>
        <span onclick="location.href='/notice'">공지사항</span>
        <span onclick="location.href='/post'">게시판</span>
        <span>MBTI 검사</span>
        <span>마이페이지</span>
        <span>로그인</span>
        <span>회원가입</span>
    </nav>

</header>

<main>
    <div class="qickBtn">
        <!--플로팅 버튼-->
        <img th:src="@{/images/notice/folating-btn-dark.png}" id="light" class="tr" alt="플로팅 버튼">
        <img th:src="@{/images/notice/folating-btn-click-dark.png}" class="dn tr" id="dark" alt="플로팅 버튼 클릭">
        <div class="clikbtn tr">
            <img th:src="@{/images/notice/top-btn-dark.png}" class="dn" id="top" alt="탑버튼">
            <img th:src="@{/images/notice/light-btn-dark.png}" class="dn" id="mode" alt="테마 변경">
            <img th:src="@{/images/notice/test-btn-dark.png}" class="dn" id="test" alt="MBTI 테스트">
        </div>
    </div>

    <img th:src="@{/images/post/post-bg-dark.png}" id="bg">

    <div class="write" onclick="location.href='/writepost'">
        <p >게시글 작성</p>
    </div>

    <div class="select">
        <p>분류</p>
    </div>

    <input type="search" value="&nbsp; &nbsp; &nbsp;검색어를 입력하세요">
    <label><img th:src="@{/images/post/Search-dark.png}"></label>


    <div class="sell">
        <span>번호</span>
        <span>즐겨찾기</span>
        <span>게시물 제목</span>
        <span>카테고리</span>
        <span>등록날짜</span>
        <span>무서워요</span>
        <span>댓글</span>
    </div>
    <div class="post1" id="postContainer">
        <div class="post" th:each="post, iterStat : ${postList}" th:attr="style=${'top: ' + (iterStat.index * 80) + 'px;'}">
            <span th:text="${post.postNo}"></span>
            <span>
            <img th:src="@{/images/post/best-dark.png}" th:if="${post.postFavorite}"
                 th:attr="data-postNo=${post.postNo}" class="favorite-icon" onclick="toggleFavorite(this)">
            <img th:src="@{/images/post/best-none-dark.png}" th:unless="${post.postFavorite}"
                 th:attr="data-postNo=${post.postNo}" class="favorite-icon" onclick="toggleFavorite(this)">
            </span>
            <a th:src="@{/selectpost/{postNo}(postNo=${post.postNo})}">
                <span th:text="${post.postTitle}"></span>
            </a>
            <div><span th:text="${post.postCategory}"></span></div>
            <span th:text="${post.postDate}"></span>
            <span th:text="${post.scaryNumber}"></span>
            <span th:text="${post.commentNumber}"></span>
        </div>
    </div>

    <div class="pageNum">
        <img th:src="@{/images/notice/pre-btn.png}" id="img1">
        <div class="tab" id="tabContainer">
        </div>
        <img th:src="@{/images/notice/next-btn.png}" id="img2">
    </div>


</main>

<footer>
    <div class="footer"><p>ⓒ 2024 MergePing. All right reserved.  </p></div>
</footer>

</body>

<script>
    function toggleFavorite(element) {
        const postNo = element.getAttribute('data-postNo');
        const isFavorite = element.getAttribute('src').includes('best-dark.png');
        fetch(`/toggleFavorite`, {
            method: 'POST', headers: {
                'Content-Type': 'application/json'
            }, body: JSON.stringify({ postNo: postNo, isFavorite: !isFavorite }) })
            .then(response => response.json()) .then(data => { if (data.success) {
            element.src = isFavorite ? '/images/post/best-none-dark.png' : '/images/post/best-dark.png';
        } }) .catch(error => console.error('Error:', error)); }
</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        let currentPage = 1;
        const pageSize = 7;
        let totalPageCount = 0;

        function loadPosts(page) {
            if (page < 1 || (totalPageCount+1 > 0 && page > totalPageCount+1)) return;
            currentPage = page;
            fetch(`/post/page?page=${page}&pageSize=${pageSize}`)
                .then(response => response.json())
                .then(posts => {
                    const postContainer = document.getElementById('postContainer');
                    postContainer.innerHTML = '';
                    posts.forEach((post, index) => addNewPost(post, index));
                    updateTabButtons();
                })

        }

        function addNewPost(post, index) {
            const postContainer = document.getElementById('postContainer');
            const newPost = document.createElement('div');
            newPost.classList.add('post');
            newPost.setAttribute('style', `top: ${index * 80}px`);
            newPost.innerHTML = `
            <span>${post.postNo}</span>
            <span>
                <img src="/images/post/best-${post.postFavorite ? 'dark' : 'none-dark'}.png"
                    data-postNo="${post.postNo}" class="favorite-icon" onclick="toggleFavorite(this)">
            </span>
            <a href="/selectpost/${post.postNo}">
                <span>${post.postTitle}</span>
            </a>
            <div><span>${post.postCategory}</span></div>
            <span>${post.postDate}</span>
            <span>${post.scaryNumber}</span>
            <span>${post.commentNumber}</span>
        `;
            postContainer.appendChild(newPost);
        }

        function updateTabButtons() {
            const tabContainer = document.getElementById('tabContainer');
            tabContainer.innerHTML = '';

            fetch('/post/page?page=1&pageSize=1')
                .then(response => response.json())
                .then(postList => {
                    const postCount = postList.length;
                    totalPageCount = Math.ceil(postCount / pageSize);

                    for (let i = 1; i <= totalPageCount + 1; i++) {
                        const tab = document.createElement('p');
                        tab.id = `tab${i}`;
                        tab.textContent = `${i}`;
                        tab.addEventListener('click', () => loadPosts(i));
                        tab.style.color = i === currentPage ? '#fff' : '#BEBEBE';
                        tabContainer.appendChild(tab);
                    }
                })
        }

        document.getElementById('img1').addEventListener('click', () => loadPosts(currentPage - 1));
        document.getElementById('img2').addEventListener('click', () => loadPosts(currentPage + 1));
        loadPosts(1);
    });



</script>



<script>
    const floatBtn1 = document.getElementById("light");
    const floatBtn2 = document.getElementById("dark");
    const qickMenu1 =document.getElementById("top");
    const qickMenu2 =document.getElementById("mode");
    const qickMenu3 =document.getElementById("test");

    <!--플로팅 버튼 클릭시 퀵메뉴 display block-->
    floatBtn1.addEventListener('click',function (){
        floatBtn1.classList.toggle('dn');
        floatBtn2.classList.toggle('dn');
        qickMenu1.classList.toggle('dn');
        qickMenu2.classList.toggle('dn');
        qickMenu3.classList.toggle('dn');
    });


    <!--플로팅 버튼 클릭시 퀵메뉴 display none-->
    floatBtn2.addEventListener('click',function (){
        floatBtn1.classList.toggle('dn');
        floatBtn2.classList.toggle('dn');
        qickMenu1.classList.toggle('dn');
        qickMenu2.classList.toggle('dn');
        qickMenu3.classList.toggle('dn');

    });

    <!--top 버튼 클릭시 화면 상단이동-->
    setTimeout(function() {
        qickMenu1.addEventListener('click', function() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    }, 3000);

</script>

</html>