<!DOCTYPE html>
<HTML LANG="EN">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/post/selectpost.css}">
    <style>
        /*손전등*/
        /*:root {*/
        /*    --cursorX: 70vw;*/
        /*    --cursorY: 70vh;*/
        /*}*/
        /*:root:before {*/
        /*    content: '';*/
        /*    display: block;*/
        /*    width: 100%;*/
        /*    height: 100%;*/
        /*    position: fixed;*/
        /*    pointer-events: none;*/
        /*    z-index: 999999;*/
        /*    background: radial-gradient(*/
        /*            circle 15vmax at var(--cursorX) var(--cursorY),*/
        /*            rgba(0,0,0,0) 0%,*/
        /*            rgba(0,0,0,.5) 80%,*/
        /*            rgba(0,0,0,.95) 100%)*/
        /*}*/

        /** {*/
        /*    box-sizing: border-box;*/
        /*    text-rendering: optimizeLegibility;*/
        /*    -webkit-font-smoothing: antialiased;*/
        /*    -moz-osx-font-smoothing: grayscale;*/
        /*    font-kerning: auto;*/
        /*}*/

        .ellipsis {
            white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
        }

        .blur{
            filter: blur(7.5px);
        }
    </style>
</head>
<body>
<header>
    <nav>
        <!-- 네비바 -->
        <img th:src="@{/images/notice/nav-logo-dark.png}" alt="상단 로고" onclick="window.location.href='/'">
        <span onclick="location.href='/intro'">소개</span>
        <span onclick="location.href='/notice'">공지사항</span>
        <span onclick="location.href='/post'">게시판</span>
        <span>MBTI 검사</span>
        <span>마이페이지</span>
        <span>로그인</span>
        <span>회원가입</span>
    </nav>
</header>
<main>
    <div class="post">
        <div id="header">
            <span>
                <img th:src="@{/images/post/best-dark.png}" th:if="${post.postFavorite}" th:attr="data-postNo=${post.postNo}"
                     class="favorite-icon" onclick="toggleFavorite(this)">
                <img th:src="@{/images/post/best-none-dark.png}" th:unless="${post.postFavorite}" th:attr="data-postNo=${post.postNo}"
                     class="favorite-icon" onclick="toggleFavorite(this)">
            </span>
            <span th:text="${post.postNo}" id="no"></span>
            <span th:text="${post.postTitle}" id="title"></span>
            <script>
                window.addEventListener('load', () => {
                    const title = document.getElementById("title");
                    const no = document.getElementById("no");

                    const checkTitleWidth = () => {
                        const titleWidth = title.offsetWidth;
                        if (titleWidth > 1000) {
                            title.style.fontSize = '35px';
                            title.style.marginTop='15px';
                            no.style.marginTop='15px';
                            title.style.marginLeft='130px';
                            no.style.fontSize = '35px';
                        } else {
                            title.style.fontSize = ''; // 기본 폰트 크기로 되돌림
                        }
                    };

                    // 페이지 로드 시 및 윈도우 리사이즈 시 폰트 크기 체크
                    checkTitleWidth();
                    window.addEventListener('resize', checkTitleWidth);
                });

            </script>
            <span>작성날짜 : </span>
            <span th:text="${post.postDate}"></span>
            <span> <img th:src="@{/images/post/selectpost/reportbtn.png}"> </span>
            <span>신고</span>
        </div>
        <div class="line"></div>
        <div id="content">
            <span th:text="${post.postContent}"></span>
            <img th:src="@{/images/post/selectpost/img1.png}" class="blur" id="img1">
            <img th:src="@{/images/post/selectpost/img2.png}" class="blur" id="img2">
        </div>
        <script>
            const img1 = document.getElementById("img1")
            const img2 = document.getElementById("img2");

            img1.addEventListener('click',()=>{
                img1.classList.toggle("blur");
            })

            img2.addEventListener('click',()=>{
                img2.classList.toggle("blur");
            })


        </script>
        <div id="box">
            <div id="writer">
                <img th:src="@{/images/post/selectpost/profile-img.png}">
                <span th:text="${post.postWriter}"></span>
                <span th:text="${post.postWriter}"></span>
                <span> <img th:src="@{/images/post/selectpost/badge.png}">
            </span> <div> <span th:text="${post.postCategory}"></span>
            </div>
            </div>
            <div id="scary">
                <img th:src="@{/images/post/selectpost/scary-btn-before.png}" th:if="${!post.scary}"
                     th:attr="data-postNo=${post.postNo}"
                     class="scary-icon" onclick="toggleScary(this)">
                <img th:src="@{/images/post/selectpost/scary-btn-after.png}" th:if="${post.scary}"
                     th:attr="data-postNo=${post.postNo}"
                     class="scary-icon" onclick="toggleScary(this)">
                <div>
                    <span>무서워요</span>
                </div>
                <span th:text="${post.scaryNumber}"></span>
            </div>

            <div id="notscary">
                <img th:src="@{/images/post/selectpost/not-scary-btn-before.png}" th:if="${!post.notScary}"
                     th:attr="data-postNo=${post.postNo}"
                     class="notscary-icon" onclick="toggleNotScary(this)">
                <img th:src="@{/images/post/selectpost/not-scary-btn-after.png}" th:if="${post.notScary}"
                     th:attr="data-postNo=${post.postNo}"
                     class="notscary-icon" onclick="toggleNotScary(this)">
                <div>
                    <span>안무서워요</span>
                </div>
                <span th:text="${post.notScaryNumber}"></span>
            </div>



            <div class="line2"></div>
            <input type="text" value="&nbsp; &nbsp; &nbsp; 댓글을 작성해주세요">
            <button type="submit">댓글 작성</button>
            <div id="comment">
                <img th:src="@{/images/post/selectpost/profile-img.png}">
                <span th:text="${post.postWriter}"></span>
                <span>
                <img th:src="@{/images/post/selectpost/like-btn-before.png}">
            </span>
                <span>좋아요</span>
                <img th:src="@{/images/post/selectpost/reportbtn.png}">
                <span>신고</span>
                <span class="ellipsis" th:text="${post.postTitle}"></span>
            </div>
            <div id="recomment">
                <img  th:src="@{/images/post/selectpost/arrow.png}">
                <img th:src="@{/images/post/selectpost/profile-img.png}">
                <span th:text="${post.postWriter}"></span>
                <span>
                <img th:src="@{/images/post/selectpost/like-btn-before.png}">
            </span>
                <span>좋아요</span>
                <img th:src="@{/images/post/selectpost/reportbtn.png}">
                <span>신고</span>
                <span class=".ellipsis" th:text="${post.postTitle}"></span>
            </div>
            <div class="hidden">
                <span>댓글 더보기</span>
            </div>
        </div>
    </div>
    <div class="bg"></div>
</main>
<footer>
    <div class="footer">
        <p>ⓒ 2024 MergePing. All right reserved. </p>
    </div>
</footer>
<script>
    function toggleFavorite(element) {
        const postNo = element.getAttribute('data-postNo');
        const isFavorite = element.getAttribute('src').includes('best-dark.png');
        fetch(`/toggleFavorite`, {
            method: 'POST', headers: {
                'Content-Type': 'application/json'
            }, body: JSON.stringify({ postNo: postNo, isFavorite: !isFavorite }) })
            .then(response => response.json()) .then(data => { if (data.success) {
            element.src = isFavorite ? '/images/post/best-none-dark.png' : '/images/post/best-dark.png';
        } }) }
</script>

<script>
    window.addEventListener('load', () => {
        const box = document.getElementById('box');
        const footer = document.querySelector('footer .footer');

        const boxHeight = box.offsetHeight;
        const boxTop = box.offsetTop;
        const footerTop = boxTop + boxHeight + 50; // 박스와의 간격을 50px로 설정

        const img = document.getElementById('img2');
        const imgBottom = img.getBoundingClientRect().bottom;
        const contentBottom = content.getBoundingClientRect().bottom;
        const minTop = imgBottom + 10;
        const defaultTop1 = 250;
        const defaultTop2 = 150;
        box.style.top = `${Math.min(minTop, defaultTop1)}px`;

        if (contentBottom>1480){
            box.style.top = `${Math.min(minTop, defaultTop2)}px`;
        }

        setTimeout(() => {
            const boxTop = box.getBoundingClientRect().top + window.scrollY;
            const footerTop = boxTop + box.scrollHeight + 10;
            footer.style.position = 'absolute';
            footer.style.top = `${footerTop}px`;
        }, 100);
    });



</script>

<script>
    function toggleScary(element) {
        const postNo = element.getAttribute('data-postNo');
        const isScary = element.getAttribute('src').includes('scary-btn-after.png');

        fetch(`/toggleScary`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ postNo: postNo, isScary: !isScary })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    element.src = isScary ? '/images/post/selectpost/scary-btn-before.png' : '/images/post/selectpost/scary-btn-after.png';
                    document.querySelector('#scary>span').textContent = data.scaryNumber;
                }
            })
    }

    function toggleNotScary(element) {
        const postNo = element.getAttribute('data-postNo');
        const isNotScary = element.getAttribute('src').includes('not-scary-btn-after.png');

        fetch(`/toggleNotScary`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ postNo: postNo, isNotScary: !isNotScary })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    element.src = isNotScary ? '/images/post/selectpost/not-scary-btn-before.png' : '/images/post/selectpost/not-scary-btn-after.png';
                    document.querySelector('#notscary>span').textContent = data.notScaryNumber;
                }
            })
    }

</script>
</body>
</html>