@charset "UTF-8";
body{
    width: 100%;
    max-width: 1920px;
    height: auto;
    color: #000000;
    overflow-x: hidden;
}
.dn{
    display: none;
}
.tr{
    transition: all 0.7s;
}
/*---------------nav------------------*/
nav{
    position: fixed;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.5);
    z-index: 999;
}


nav img{
    /* 남호정 */
    position: absolute;
    width: 82px;
    height: 45px;
    left: 48px;
    top: 18px;

}

nav span:nth-child(2) {
    /* 소개 */
    position: absolute;
    width: 42px;
    height: 26px;
    left: 1036px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
}


nav span:nth-child(3){
    /* 공지사항 */
    position: absolute;
    width: 82px;
    height: 26px;
    left: 1135px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
}


nav span:nth-child(4){
    /* 게시판 */
    position: absolute;
    width: 62px;
    height: 26px;
    left: 1274px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
}


nav span:nth-child(5){
    /* mbti검사 */
    position: absolute;
    width: 101px;
    height: 26px;
    left: 1393px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
}


nav span:nth-child(6){
    /* 마이페이지 */
    position: absolute;
    width: 102px;
    height: 26px;
    left: 1536px;
    top: 26px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
}


nav span:nth-child(7){
    /* 로그인 */
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1692px;
    top: 29px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
}


nav span:nth-child(8){
    /* 회원가입 */
    position: absolute;
    width: 67px;
    height: 21px;
    left: 1772px;
    top: 29px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
}


.logo img{
    position: absolute;
    width: 451px;
    height: 250px;
    left: 169px;
    top: 231px;
}

main{
    transition: all 1s;
}




main #bg{
    position: absolute;
    width: 1920px;
    top: 39px;
    z-index: -5;
}


.search-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 668px; /* 크기를 조정 */
    height: 53px;
    margin: 20px auto; /* 중앙에 위치시키기 위한 자동 마진 */
    background: #0E2913;
    border-radius: 40px;
    padding: 10px;
    left: calc(50% - 668px/2 + 314px);
    top: calc(50% - 53px/2 - 369.5px);
    margin-bottom: 100px;
}

.search-box {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    background-color: #1A4314;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}




/* 헤더와 같은 스타일의 회원 항목 */
.member-item {
    display: flex;
    justify-content: space-around;
    width: 90%;
    font-size: 20px;
    font-family: 'Cafe24Ssurroundair';
    color: #C9E6CA;
    position: relative;
    margin-top: 80px;

}

.member-item span:nth-child(1){
    position: absolute;
    top: 250px;
    left: 340px;
}

.member-item span:nth-child(2){
    position: absolute;
    top: 250px;
    left: 500px;
}

.member-item span:nth-child(3){
    position: absolute;
    top: 250px;
    left: 700px;
}

.member-item span:nth-child(4){
    position: absolute;
    top: 250px;
    left: 900px;
}

.member-item span:nth-child(5){
    position: absolute;
    top: 250px;
    left: 1325px;
}

.member-item span:nth-child(6){
    position: absolute;
    top: 250px;
    left: 1525px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* 페이지 위치 고정 */
    left: 960px;
    top: 950px;
    z-index: 10; /* 다른 요소 위로 보이게 설정 */
}

.pagination-btn {
    margin: 0 5px; /* 버튼 간 간격 추가 */
    padding: 10px 15px; /* 버튼 크기 조정 */
    cursor: pointer;
}

.pagination-btn:hover {
    background-color: #ddd;
}

/* CSS for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
}

.modal-content {
    position: relative;
    width: 35%;
    height: 65%;
    background-color: #3B572D;
    border-radius: 10px;
    color: #C9E6CA;
    padding: 20px;
    margin: 10px auto;
    margin-top: 125px;
}


.user-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.profile-photo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile-photo {
    width: 168px;
    height: 168px;
    border-radius: 100%;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.deleteUser-btn {
    box-sizing: border-box;
    position: absolute;
    width: 114px;
    height: 51px;
    top: 38px;
    right: 39px;
    background: rgba(200, 0, 0, 0.9);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;

}

.deleteUser-btn:hover {
    background: rgba(200, 0, 0, 0.9);
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 20px; /* 버튼 간의 간격 */
    position: absolute;
    bottom: 20px; /* 모달 하단에서 떨어진 거리 */
    left: 0;
    width: 100%;
}

/* 수정하기 버튼 스타일 */
.edit-btn, .close-btn {
    width: 100px;
    height: 40px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* 취소 버튼 스타일 */
.close-btn {
    background-color: #f44336;
}

/* 버튼 hover 효과 */
.edit-btn:hover {
    background-color: #45a049;
}
.close-btn:hover {
    background-color: #d32f2f;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.user-info label {
    font-size: 18px;
    margin-bottom: 10px;
}

#nicknameInput, #modalReportCount {
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
}

#deleteConfirmModal .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#deleteConfirmModal h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

#deleteConfirmModal p {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: "Cafe24 Ssurround air";
}

#deleteConfirmModal button {
    width: 100px;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    align-content: center;
}


.confirm-btn {
    width: 100px;
    height: 40px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.cancel-btn {
    width: 100px;
    height: 40px;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;;
}




main input {
    position: absolute;
    width: 1119px;
    height: 53px;
    background: #0A1611;
    border-radius: 40px;
    font-family: 'Cafe24Ssurroundair';
    font-weight: lighter;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 200px;
    border: none;
    left: 450px;
}


main label img{
    position: absolute;
    width: 39px;
    height: 39px;
    left: 1599px;
    top: 210px;
}

.top-nav {
    font-size: 25px;
    font-family: BMJUA;
    color: #FFFFFF;
}


.top-nav span:nth-child(1) {
    position: absolute;
    top: 275px;
    left: 300px;
}

.top-nav span:nth-child(2) {
    position: absolute;
    top: 275px;
    left: 500px;
}

.top-nav span:nth-child(3) {
    position: absolute;
    top: 275px;
    left: 675px;
}

.top-nav span:nth-child(4) {
    position: absolute;
    top: 275px;
    left: 910px;
}

.top-nav span:nth-child(5) {
    position: absolute;
    top: 275px;
    left: 1300px;
}

.top-nav span:nth-child(6) {
    position: absolute;
    top: 275px;
    left: 1500px;
}