body{
    width: 100%;
    max-width: 1920px;
    height: auto;
    color: #000000;
    overflow-x: hidden;
}

.dn{
    display: none;
}

.tr{
    transition: all 0.7s;
}

/*---------------nav------------------*/
nav{
    position: fixed;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.5);
    z-index: 999;
}


nav img{
    /* 남호정 */
    position: absolute;
    width: 82px;
    height: 45px;
    left: 48px;
    top: 18px;

}

nav span:nth-child(2) {
    /* 소개 */
    position: absolute;
    width: 42px;
    height: 26px;
    left: 1036px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(3){
    /* 공지사항 */
    position: absolute;
    width: 82px;
    height: 26px;
    left: 1135px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #A3DA87;
    transition: all 1s;
}


nav span:nth-child(4){
    /* 게시판 */
    position: absolute;
    width: 62px;
    height: 26px;
    left: 1274px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(5){
    /* mbti검사 */
    position: absolute;
    width: 101px;
    height: 26px;
    left: 1393px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(6){
    /* 마이페이지 */
    position: absolute;
    width: 102px;
    height: 26px;
    left: 1536px;
    top: 26px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(7){
    /* 로그인 */
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1692px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(8){
    /* 회원가입 */
    position: absolute;
    width: 67px;
    height: 21px;
    left: 1772px;
    top: 29px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:hover{
    color: #A3DA87;
    scale: 130%;
}


.logo img{
    position: absolute;
    width: 451px;
    height: 250px;
    left: 169px;
    top: 231px;
}


/* ---------main--------*/
main{
    transition: all 1s;
}


main #box{
    position: absolute;
    width: 1707px;
    top: 200px;
    z-index: -1;
}


main #bg{
    position: absolute;
    width: 1920px;
    top: 39px;
    z-index: -5;
}

.notice-detail{
    position: relative;
    width: 90%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}

main .notice.active{
    display: block;
}

.title{

    position: absolute;
    width: 547px;
    height: 52px;
    left: 550px;
    top: 373px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;

    color: #FFFFFF;


}
.content {
    position: absolute;
    top: 469px;
    left: 427px;
    max-width: 40em;
    padding: 10px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;

    white-space: normal; /* 줄바꿈 허용 */
    overflow-wrap: break-word; /* 단어 단위로 줄바꿈 */
}
.date{

    position: absolute;
    width: 153px;
    height: 33px;
    left: 1371px;
    top: 382px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;

    color: #FFFFFF;
    white-space: nowrap;
}
.category{
    position: absolute;
    width: 547px;
    height: 52px;
    left: 427px;
    top: 373px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;

    color: #FFFFFF;


}
