@charset "UTF-8";
body{
    width: 100%;
    max-width: 1920px;
    height: auto;
    color: #000000;
    overflow-x: hidden;
}

.dn{
    display: none;
}

.tr{
    transition: all 0.7s;
}

/*---------------nav------------------*/
nav{
    position: fixed;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.5);
    z-index: 999;
}


nav img{
    /* 남호정 */
    position: absolute;
    width: 82px;
    height: 45px;
    left: 48px;
    top: 18px;

}

nav span:nth-child(2) {
    /* 소개 */
    position: absolute;
    width: 42px;
    height: 26px;
    left: 1036px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(3){
    /* 공지사항 */
    position: absolute;
    width: 82px;
    height: 26px;
    left: 1135px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(4){
    /* 게시판 */
    position: absolute;
    width: 62px;
    height: 26px;
    left: 1274px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #A3DA87;
    transition: all 1s;
}


nav span:nth-child(5){
    /* mbti검사 */
    position: absolute;
    width: 101px;
    height: 26px;
    left: 1393px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(6){
    /* 마이페이지 */
    position: absolute;
    width: 102px;
    height: 26px;
    left: 1536px;
    top: 26px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(7){
    /* 로그인 */
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1692px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(8){
    /* 회원가입 */
    position: absolute;
    width: 67px;
    height: 21px;
    left: 1772px;
    top: 29px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:hover{
    color: #A3DA87;
    scale: 130%;
}


.logo img{
    position: absolute;
    width: 451px;
    height: 250px;
    left: 169px;
    top: 231px;
}



/*---------------main------------------*/

.main{
    transition: all 1s;
}

#bg {
    position: absolute;
    width: 1920px;
    top: 39px;
    z-index: -5;
}

/* 공통 스타일 */
.sell-item {
    position: absolute;
    height: 31px;
    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 31px;
    color: #FFFFFF;
}

/* 개별 스타일 */
.sell-number {
    width: 50px;
    top: 275px;
    left: 250px;
}

.sell-title {
    width: 127px;
    top: 275px;
    left: 489px;
    white-space: nowrap; /* 줄넘김 방지 */
}

.sell-category {
    width: 98px;
    top: 275px;
    left: 997px;
}

.sell-date {
    width: 105px;
    top: 275px;
    left: 1204px;
}

.sell-scary {
    width: 97px;
    top: 275px;
    left: 1398px;
}

.sell-comment {
    width: 49px;
    top: 275px;
    left: 1587px;
    text-align: center;
}
/* 게시물 리스트 */
.post {
    display: flex;
    position: absolute;
    top: 250px; /* 첫 번째 항목의 시작 위치 */
    justify-content: space-between; /* 요소 간 간격 균등 조정 */
    align-items: center; /* 수직 중앙 정렬 */
    font-family: 'Cafe24SsurroundAir';
    font-size: 30px;
    gap: 0px; /* 항목 사이의 간격 추가 */
    padding: 20px;
}

/* 개별 항목 스타일 */
.post-item {
    text-align: center; /* 가운데 정렬 */
    color: #FFFFFF;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */

}

/* 특정 항목 조정 */
.post-item-number {
    flex: 0.5; /* 번호는 좁게 */
}

.post-item-title {
    flex: 2; /* 제목은 넓게 */
    text-align: left; /* 왼쪽 정렬 */
}

.post-item-category,
.post-item-date,
.post-item-scary,
.post-item-comment {
    flex: 1; /* 동일한 너비 */
}

.post-item-comment{
    flex: 0.1;
}

/* 간격 조정 */
.post1 {
    display: flex;
    flex-direction: column; /* 항목들을 수직으로 나열 */
    gap: 10px; /* 항목 간 간격 */
    padding: 10px; /* 리스트 전체 여백 */
}