<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>레벨 팝업용?</title>
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/level.css">
<!--  <link rel="stylesheet" th:href="@{/css/reset.css}">-->
<!--  <link rel="stylesheet" th:href="@{/css/level.css}">-->
  <style>
    #level{
      width: 1000px;
      height: 1000px;
      border:solid 5px black;
    }
  </style>
</head>
<body>
<div id="level">
  <div id="title">⭐정원사 등급표</div>
  <div id="level1">
<!--    th:src="@{/image/level/level1.png}" -->
    <img id="lv1" src="/static/images/level/level1.png">
    <p class="levelText" id="level1Text">Lv1</p>
    <p class="levelInfo" id="level1Info">인턴 정원사</p>
  </div>

    <div id="level2">
      <!--    th:src="@{/image/level/level2.png}" -->
      <img id="lv2" src="/static/images/level/level2.png">
      <p class="levelText" id="level2Text">Lv2</p>
      <p class="levelInfo" id="level2Info">초보 정원사</p>
    </div>

      <div id="level3">
        <!--    th:src="@{/image/level/level3.png}" -->
        <img id="lv3" src="/static/images/level/level3.png">
        <p class="levelText" id="level3Text">Lv3</p>
        <p class="levelInfo" id="level3Info">중급 정원사</p>
      </div>

  <div id="level4">
    <!--    th:src="@{/image/level/level3.png}" -->
    <img id="lv4" src="/static/images/level/level4.png">
    <p class="levelText" id="level4Text">Lv4</p>
    <p class="levelInfo" id="level4Info">숙련 정원사</p>
  </div>

  <div id="level5">
    <!--    th:src="@{/image/level/level5.png}" -->
    <img id="lv5" src="/static/images/level/level5.png">
    <p class="levelText" id="level5Text">Lv5</p>
    <p class="levelInfo" id="level5Info">전문 정원사</p>
  </div>

  <div id="level6">
    <!--    th:src="@{/image/level/level6.png}" -->
    <img id="lv6" src="/static/images/level/level6.png">
    <p class="levelText" id="level6Text">Lv6</p>
    <p class="levelInfo" id="level6Info">파마 정원사</p>
  </div>

  <div id="level7">
    <!--    th:src="@{/image/level/level7.png}" -->
    <img id="lv7" src="/static/images/level/level7.png">
    <p class="levelText" id="level7Text">Lv7</p>
    <p class="levelInfo" id="level7Info">단정한 정원사</p>
  </div>

  <div id="level8">
    <!--    th:src="@{/image/level/level8.png}" -->
    <img id="lv8" src="/static/images/level/level8.png">
    <p class="levelText" id="level8Text">Lv8</p>
    <p class="levelInfo" id="level8Info">덥수룩 정원사</p>
  </div>

  <div id="level9">
    <!--    th:src="@{/image/level/level9.png}" -->
    <img id="lv9" src="/static/images/level/level9.png">
    <p class="levelText" id="level9Text">Lv9</p>
    <p class="levelInfo" id="level9Info">신사 정원사</p>
  </div>

  <div id="level10">
    <!--    th:src="@{/image/level/level10png}" -->
    <img id="lv10" src="/static/images/level/level10.png">
    <p class="levelText" id="level10Text">Lv10</p>
    <p class="levelInfo" id="level10Info">고인물 정원사</p>
  </div>
</div>

</body>
</html>