<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>레벨 팝업용?</title>
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/level.css}">
  <style>
    #level{
      width: 1000px;
      height: 1000px;
      border:solid 5px black;
    }
  </style>
</head>
<body>
<div id="level">
  <div id="title">⭐정원사 등급표</div>
  <div id="level1">
    <img id="lv1" th:src="@{/image/level/level1.png}">
    <p class="levelText" id="level1Text">Lv1</p>
    <p class="levelInfo" id="level1Info">인턴 정원사</p>
  </div>

    <div id="level2">
      <img id="lv2" th:src="@{/image/level/level2.png}">
      <p class="levelText" id="level2Text">Lv2</p>
      <p class="levelInfo" id="level2Info">초보 정원사</p>
    </div>

      <div id="level3">
        <img id="lv3" th:src="@{/image/level/level3.png}">
        <p class="levelText" id="level3Text">Lv3</p>
        <p class="levelInfo" id="level3Info">중급 정원사</p>
      </div>

  <div id="level4">
    <img id="lv4" th:src="@{/image/level/level3.png}">
    <p class="levelText" id="level4Text">Lv4</p>
    <p class="levelInfo" id="level4Info">숙련 정원사</p>
  </div>

  <div id="level5">
    <img id="lv5" th:src="@{/image/level/level5.png}">
    <p class="levelText" id="level5Text">Lv5</p>
    <p class="levelInfo" id="level5Info">전문 정원사</p>
  </div>

  <div id="level6">
    <img id="lv6" th:src="@{/image/level/level6.png}">
    <p class="levelText" id="level6Text">Lv6</p>
    <p class="levelInfo" id="level6Info">파마 정원사</p>
  </div>

  <div id="level7">
    <img id="lv7" th:src="@{/image/level/level7.png}">
    <p class="levelText" id="level7Text">Lv7</p>
    <p class="levelInfo" id="level7Info">단정한 정원사</p>
  </div>

  <div id="level8">
    <img id="lv8" th:src="@{/image/level/level8.png}">
    <p class="levelText" id="level8Text">Lv8</p>
    <p class="levelInfo" id="level8Info">덥수룩 정원사</p>
  </div>

  <div id="level9">
    <img id="lv9" th:src="@{/image/level/level9.png}">
    <p class="levelText" id="level9Text">Lv9</p>
    <p class="levelInfo" id="level9Info">신사 정원사</p>
  </div>

  <div id="level10">
    <img id="lv10" th:src="@{/image/level/level10png}">
    <p class="levelText" id="level10Text">Lv10</p>
    <p class="levelInfo" id="level10Info">고인물 정원사</p>
  </div>
</div>

</body>
</html>