.container {

    position: relative;
    width: 1920px;
    height: 1080px;

    background: #FFFFFF;
}

.nav{

    position: absolute;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 0px;

    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.25);
}

.nav ul li a {
    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    text-decoration: none;
}

#intro {

    position: absolute;
    width: 82px;
    height: 26px;
    left: 1135px;
    top: 27px;
}



#notice {

    position: absolute;
    width: 42px;
    height: 26px;
    left: 1036px;
    top: 27px;
}


#post {

    position: absolute;
    width: 62px;
    height: 26px;
    left: 1274px;
    top: 27px;
}


#mbti {
    position: absolute;
    width: 86px;
    height: 26px;
    left: 1393px;
    top: 27px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */

    color: #C9E6CA;


}

#mypage {

    position: absolute;
    width: 102px;
    height: 26px;
    left: 1536px;
    top: 26px;

}

#logout {


    position: absolute;
    width: 65px;
    height: 21px;
    left: 1685px;
    top: 29px;

}
#signup {

    position: absolute;
    width: 67px;
    height: 21px;
    left: 1772px;
    top: 29px;

}

main {
    position: absolute;
    width: 1493px;
    height: 748px;
    left: 214px;
    top: 205px;

    background: #3B572D;
}

.input {


    position: absolute;
    width: 118px;
    height: 48px;
    left: 1589px;
    top: 139px;


}