#level {
    width:1000px;
    height:1000px;
    position: relative;
    background: darkseagreen;
    border-radius: 99px;
}

#title{
    font-family: 'SUIT-Regular';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    margin-left:290px;
}

#lv1 { /* 레벨 1 이미지 */
    position: absolute;
    width: 200px;
    height: 200px;
    left: 38px;
    top: 21px;
}

#lv2 { /* 레벨 2 이미지 */
    position: absolute;
    width: 200px;
    height: 200px;
    left: 38px;
    top: 212px;
}

#lv3 { /* 레벨 3 이미지 */
    position: absolute;
    width: 200px;
    height: 200px;
    left: 38px;
    top: 400px;
}
#lv4 { /* 레벨 4 이미지 */
    position: absolute;
    width: 200px;
    height: 200px;
    left: 38px;
    top: 600px;
}
#lv5 { /* 레벨 5 이미지 */
    position: absolute;
    width: 200px;
    height: 200px;
    left: 38px;
    top: 800px;
}
#lv6 { /* 레벨 6 이미지 */
    position: absolute;
    width: 200px;
    height: 200px;
    left: 490px;
    top: 21px;
}
#lv7 { /* 레벨 7 이미지 */
    position: absolute;
    width: 200px;
    height: 200px;
    left: 490px;
    top: 212px;
}
#lv8 { /* 레벨 8 이미지 */
    position: absolute;
    width: 200px;
    height: 200px;
    left: 490px;
    top: 400px;
}
#lv9 { /* 레벨 9 이미지 */
    position: absolute;
    width: 200px;
    height: 200px;
    left: 490px;
    top: 600px;
}
#lv10 { /* 레벨 10 이미지 */
    position: absolute;
    width: 200px;
    height: 200px;
    left: 490px;
    top: 800px;
}

/* 레벨 텍스트 (LV1) */
.levelText{
    font-family: 'SUIT-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
}

#level1Text{
    position: absolute;
    width: 53px;
    height: 44px;
    left: 50px;
    top: 76px;
}

#level2Text{
    position: absolute;
    width: 58px;
    height: 44px;
    left: 50px;
    top: 270px;
}

#level3Text{
    position: absolute;
    width: 59px;
    height: 44px;
    left: 50px;
    top: 461px;
}

#level4Text{
    position: absolute;
    width: 60px;
    height: 44px;
    left: 50px;
    top: 658px;
}

#level5Text{
    position: absolute;
    width: 59px;
    height: 44px;
    left: 50px;
    top: 864px;
}

#level6Text{
    position: absolute;
    width: 53px;
    height: 44px;
    left: 500px;
    top: 76px;
}
#level7Text{
    position: absolute;
    width: 58px;
    height: 44px;
    left: 500px;
    top: 270px;
}
#level8Text{
    position: absolute;
    width: 59px;
    height: 44px;
    left: 500px;
    top: 461px;
}
#level9Text{
    position: absolute;
    width: 60px;
    height: 44px;
    left: 500px;
    top: 658px;
}
#level10Text{
    position: absolute;
    width: 59px;
    height: 44px;
    left: 500px;
    top: 864px;
}

/* level 이름 (신입 정원사)*/
.levelInfo{
    font-family: 'SUIT-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
}

#level1Info{
    position: absolute;
    width: 190px;
    height: 44px;
    left: 238px;
    top: 105px;
}

#level2Info{
    position: absolute;
    width: 190px;
    height: 44px;
    left: 238px;
    top: 296px;
}

#level3Info{
    position: absolute;
    width: 192px;
    height: 44px;
    left: 238px;
    top: 484px;
}

#level4Info{
    position: absolute;
    width: 192px;
    height: 44px;
    left: 238px;
    top: 684px;
}

#level5Info{
    position: absolute;
    width: 192px;
    height: 44px;
    left: 238px;
    top: 884px;
}

#level6Info{
    position: absolute;
    width: 190px;
    height: 44px;
    left: 690px;
    top: 105px;
}

#level7Info{
    position: absolute;
    width: 230px;
    height: 44px;
    left: 690px;
    top: 296px;
}

#level8Info{
    position: absolute;
    width: 230px;
    height: 44px;
    left: 690px;
    top: 484px;
}

#level9Info{
    position: absolute;
    width: 230px;
    height: 44px;
    left: 690px;
    top: 684px;
}

#level10Info{
    position: absolute;
    width: 230px;
    height: 44px;
    left: 690px;
    top: 884px;
}
