.resolution{
    position: relative;
    width: 1920px;
    height: 1080px;
    z-index: 0;

    background: #FFFFFF;
}

.backgroundBasic{
    position: absolute;
    width: 1920px;
    height: 1041px;
    left: 0px;
    top: 40px;
    z-index: -1;

    background: #0B1B06;
}

button:hover {
    cursor:pointer;
}

/*---------------nav------------------*/
nav{
    position: fixed;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

nav img{
    /* 남호정 */
    position: absolute;
    width: 82px;
    height: 45px;
    left: 48px;
    top: 18px;
    cursor : pointer;

}

nav span:nth-child(2) {
    /* 소개 */
    position: absolute;
    width: 42px;
    height: 26px;
    left: 1036px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
    cursor : pointer;
}


nav span:nth-child(3){
    /* 공지사항 */
    position: absolute;
    width: 82px;
    height: 26px;
    left: 1135px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
    cursor : pointer;
}


nav span:nth-child(4){
    /* 게시판 */
    position: absolute;
    width: 62px;
    height: 26px;
    left: 1274px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
    cursor : pointer;
}


nav span:nth-child(5){
    /* mbti검사 */
    position: absolute;
    width: 101px;
    height: 26px;
    left: 1393px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
    cursor : pointer;
}


nav span:nth-child(6){
    /* 마이페이지 */
    position: absolute;
    width: 102px;
    height: 26px;
    left: 1536px;
    top: 26px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
    cursor : pointer;
}

nav span:nth-child(7){
    /* 로그인 */
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1692px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #A3DA87;
    transition: all 1s;
    cursor : pointer;
}

nav span:nth-child(8){
    /* 회원가입 */
    position: absolute;
    width: 67px;
    height: 21px;
    left: 1772px;
    top: 29px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
    cursor : pointer;
}


nav span:hover{
    color: #A3DA87;
    scale: 130%;
}

/*---------------main1------------------*/

.background01{
    position: absolute;
    width: 1920px;
    height: 995px;
    left: 0px;
    top: 86px;

    background-blend-mode: overlay;
    opacity: 0.9;
}

.background02{

    position: absolute;
    width: 1920px;
    height: 995px;
    left: 0px;
    top: 40px;

    background-blend-mode: overlay;

}

.loginDiv{
    box-sizing: border-box;

    position: absolute;
    width: 835.5px;
    height: 710px;
    left: calc(50% - 835.5px/2 - 0.25px);
    top: calc(50% - 710px/2 + 44px);

    background: #4A7236;
    border: 50px solid #407525;
}

#backLogin {
    box-sizing: border-box;

    position: absolute;
    width: 835.5px;
    height: 710px;
    left: calc(50% - 835.5px/2 - 0.25px);
    top: calc(50% - 710px/2 + 44px);
    opacity: 50%;
}

.loginBox{
    position: absolute;
    width: 150px;
    height: 100px;
    left: 1150px;
    top: 590px;
}

.loginBox:active{
    margin-left: 5px;
    margin-top: 5px;
}


#jumpLogin{
    display: none;
    position: absolute;
    z-index: 999;
    width: 720px;
    height: 370px;
    left: 600px;
    top: 577px;
}

.search{
    position: absolute;
    width: 176px;
    height: 26px;
    left: 850px;
    top: 844px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
    z-index: 1;
    cursor : pointer;

    color: #FFFFFF;
}

.search:hover{
    color:black;
}

.search:active{
    color:greenyellow;
}

.saveId {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 788px;
    top: 741px;

    border: 2px solid #FFFFFF;
    cursor : pointer;
}

.saveIdLabel {
    position: absolute;
    width: 120px;
    height: 26px;
    left: 829px;
    top: 747px;
    color:white;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
    cursor : pointer;
}

.idDiv{
    position: absolute;
    width: 340px;
    height: 59px;
    left: calc(50% - 340px/2 - 15px);
    top: 558px;
    padding-left: 20px;

    background: #A4A4A4;
    border-radius: 50px;
    border:black 2px solid;

    font-family: 'Cafe24SsurroundAir';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
}

.idDiv:focus{
    background: #D4D4D4;
}

.idDiv::placeholder {
    color: transparent;
}

.idDiv:focus::placeholder {
    color: #3F3F3F;
}

.pwdDiv {
    position: absolute;
    width: 340px;
    height: 59px;
    left: calc(50% - 340px/2 - 15px);
    top: 665px;
    padding-left: 20px;
    border:black 2px solid;


    background: #A4A4A4;
    border-radius: 50px;

    font-family: 'Cafe24SsurroundAir';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
}

.pwdDiv:focus{
    background: #D4D4D4;
}

.pwdDiv::placeholder {
    color: transparent;
}

.pwdDiv:focus::placeholder {
    color: #3F3F3F;
}

.id{
    position: absolute;
    width: 150px;
    height: 35px;
    left: 623px;
    top: 570px;

    font-family: 'Cafe24Ssurroundair';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    text-align: center;

    color: #FFFFFF;
}

.loginText{
    position: absolute;
    width: 146px;
    height: 62px;
    left: calc(50% - 146px/2);
    top: 301px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 62px;

    color: #FFFFFF;
}

.loginGuide{
    position: absolute;
    width: 754px;
    height: 44px;
    left: calc(50% - 754px/2 + 1px);
    top: 433px;

    font-family: 'SUIT-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;

    color: #FFFFFF;
}

.pwd{
    position: absolute;
    width: 133px;
    height: 35px;
    left: 617px;
    top: 683px;

    font-family: 'Cafe24Ssurroundair';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;

    color: #FFFFFF;
}

/* loginFail 부분*/
.searchButton{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    left: 1195px;
    top: 585px;

    background: #FF0000;
    border: 10px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    width: 130px;
    height: 26px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
    z-index: 1;

    color: #FFFFFF;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.searchButton:active{
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 3px 3px 3px black;
}

.warning {
    position: absolute;
    width: 369px;
    height: 26px;
    left: 760px;
    top: 796px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
    z-index: 1;

    color: #FF0000;
}

.modalGuide{
    box-sizing: border-box;

    position: absolute;
    width: 1008px;
    height: 285px;
    left: 456px;
    top: 481px;

    background: #3B572D;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 4px 17.8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    font-family: 'Cafe24Ssurroundair';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 175px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;

}
.modalBlur{
    position:absolute;
    display:none;
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index:7;
}

.modalBlur2, .modalBlur3{
    position:absolute;
    display:none;
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.0);
    z-index:10;
}

.modalGuide2, .modalGuide3 {
    display:none;
    box-sizing: border-box;

    position: absolute;
    width: 1008px;
    height: 285px;
    left: 456px;
    top: 481px;

    background: #3B572D;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 4px 17.8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    font-family: 'Cafe24Ssurroundair';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 285px;
    text-align: center;
    letter-spacing: 0.05em;
    z-index:11;

    color: #FFFFFF;
}
.modalGuide3{
    padding-top:70px;
    line-height: 70px;
}

.yes{
    box-sizing: border-box;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 10px;

    position: absolute;
    width: 147px;
    height: 81px;
    left: 700px;
    top: 625px;

    border: 5px solid #FFFFFF;
    border-radius: 100px;

    order: 0;
    flex-grow: 0;
    background: #3B572D;

    font-family: 'Jua';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;
    cursor:pointer;
}
.yes:active{
    box-shadow:2px 2px 2px black;
    margin-left: 1px;
    margin-top: 1px;
}

.no{
    box-sizing: border-box;
    color:white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 10px;

    position: absolute;
    width: 300px;
    height: 81px;
    left: 975px;
    top: 625px;

    border: 5px solid #FFFFFF;
    border-radius: 100px;

    flex: none;
    order: 0;
    flex-grow: 0;
    background: #3B572D;

    font-family: 'Jua';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;
    cursor:pointer;
}
.no:active{
    box-shadow:2px 2px 2px black;
    margin-left: 1px;
    margin-top: 1px;
}

.toggle-eye {
    position: absolute;
    scale:-10%;
    rotate: 180deg;
    left: 850px;
    top: 440px;
    cursor : pointer;
}

#findButton {
    display: none;
    position: absolute;
    z-index: 999;
    left: 1150px;
    top: 570px;
}

#findButton:active {
    margin-top: 1px;
    margin-left: 1px;
}