/*---------------nav------------------*/
nav{
    position: fixed;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.5);
    z-index: 999;
}


nav img{
    /* 남호정 */
    position: absolute;
    width: 82px;
    height: 45px;
    left: 48px;
    top: 18px;

}

nav span:nth-child(2) {
    /* 소개 */
    position: absolute;
    width: 42px;
    height: 26px;
    left: 1036px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(3){
    /* 공지사항 */
    position: absolute;
    width: 82px;
    height: 26px;
    left: 1135px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(4){
    /* 게시판 */
    position: absolute;
    width: 62px;
    height: 26px;
    left: 1274px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(5){
    /* mbti검사 */
    position: absolute;
    width: 101px;
    height: 26px;
    left: 1393px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(6){
    /* 마이페이지 */
    position: absolute;
    width: 102px;
    height: 26px;
    left: 1536px;
    top: 26px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}

/*nav span:nth-child(7){
    !* 로그인 *!
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1692px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}*/

#logoutNav{
    /* 로그아웃 */
    position: absolute;
    width: 100px;
    height: 21px;
    left: 1670px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
    background: none;
    border:none;
    text-align: center;
}

nav span:nth-child(8){
    /* 회원가입 */
    position: absolute;
    width: 67px;
    height: 21px;
    left: 1772px;
    top: 29px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:hover{
    color: #A3DA87;
    scale: 130%;
}


.logo img{
    position: absolute;
    width: 451px;
    height: 250px;
    left: 169px;
    top: 231px;
}

/* mbti basic */

.resolution{
    position: relative;
    width: 1920px;
    height: 1080px;

    background: #FFFFFF;
}

.background {
    position: relative;
    width: 1920px;
    height: 1107px;
}

/* mbti start */

#testBack {
    position: absolute;
    width: 1800px;
    height: 897px;
    left: 63px;
    top: 131px;
    box-sizing: border-box;
}

#testBack2 {
    position: absolute;
    width: 1545px;
    height: 774px;
    box-sizing: border-box;
    left: 180px;
    top: 200px;
    border: 10px solid #FFFFFF;
}

#bookIco{
    position: absolute;
    width: 105px;
    height: 105px;
    left: 607px;
    top: 384px;
}

#mbtiStart{
    position: absolute;
    width: 529px;
    height: 82px;
    left: 759px;
    top: 388px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 82px;
    text-align: center;

    color: #FFFFFF;
    z-index: 0;
}
#mbtiStart::before{
    content: attr(data-content);
    position: absolute;
    -webkit-text-stroke: 7px black;
    z-index: -1;
}

#mbtiStart2{
    position: absolute;
    width: 599px;
    height: 104px;
    left: 651px;
    top: 535px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 52px;
    text-align: center;
    z-index: 0;

    color: #FFFFFF;
}

#mbtiStart2::before{
    content: attr(data-content);
    position: absolute;
    -webkit-text-stroke: 7px black;
    z-index: -1;
}

#yes {
    position: absolute;
    width: 50px;
    height: 52px;
    left: 746px;
    top: 713px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 52px;
    color: #FFFFFF;
    background: none;
    border: none;
    z-index: 0;
    border-radius: 999px;
    cursor: pointer;
}
#yes::before{
    content: attr(data-content);
    position: absolute;
    -webkit-text-stroke: 7px black;
    z-index: -1;
}
#yes:hover{
    color:yellow;
}
#yes:active{
    margin-top: 2px;
    margin-left: 2px;
}

#no{
    position: absolute;
    width: 150px;
    height: 52px;
    left: 1038px;
    top: 713px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 52px;
    color: #FFFFFF;
    background: none;
    border: none;
    z-index: 0;
    border-radius: 999px;
    cursor: pointer;
}
#no::before{
    content: attr(data-content);
    position: absolute;
    -webkit-text-stroke: 7px black;
    z-index: -1;
}

#no:hover{
    color:yellow;
}
#no:active{
    margin-top: 2px;
    margin-left: 2px;
}

.hands{
    position: absolute;
    width: 1000px;
    height: 500px;
    left: 450px;
    top: 605px;
    animation: effect 0.35s ease-out;
}

@keyframes effect {
    from {
        opacity: 1;
        transform: translateY(100px);
    }
    to {
        opacity: 3;
        transform: none;
    }
}

/* mbtistart */

#question-text{
    position: absolute;
    width: 1000px;
    height: 104px;
    left: 400px;
    top: 535px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 52px;
    text-align: center;
    z-index: 0;

    color: #FFFFFF;
}

#question-img{
    position: absolute;
    width: 1545px;
    height: 774px;
    box-sizing: border-box;
    left: 180px;
    top: 200px;
    border: 10px solid #FFFFFF;
}

#question-text2{
    position: absolute;
    width: 1000px;
    height: 104px;
    left: 400px;
    top: 535px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 52px;
    text-align: center;
    z-index: 0;

    color: #FFFFFF;
}

#question-text3{
    position: absolute;
    width: 1000px;
    height: 104px;
    left: 400px;
    top: 535px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 52px;
    text-align: center;
    z-index: 0;

    color: #FFFFFF;
}
#question-text4{
    position: absolute;
    width: 1000px;
    height: 104px;
    left: 400px;
    top: 535px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 52px;
    text-align: center;
    z-index: 0;

    color: #FFFFFF;
}