body{
    width:1920px;
    height:1080px;

}
header{
    /*position: absolute;*/
    width: 1920px;
    height: 79px;
    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.25);
}

.infopopup{
    width: 669px;
    height: 818px;
    background: #3B572D;
    border-radius: 10px;
    margin-left: 625px;
    margin-top: 155px;

}



