.resolution{
    position: relative;
    width: 1920px;
    height: 1080px;

    background: #FFFFFF;
}

.background02{

    position: absolute;
    width: 1920px;
    height: 995px;
    left: 0px;
    top: 40px;

    background-blend-mode: overlay;
}

.searchUiBox{
    position: absolute;
    width: 1039px;
    height: 710px;
    left: calc(50% - 1039px/2 + 0.5px);
    top: calc(50% - 710px/2 + 44px);

    background: #0E2913;

}

.searchGuide{
    position: absolute;
    width: 513px;
    height: 62px;
    left: 825px;
    top: 332px;

    font-family: 'BM JUA_TTF';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 62px;

    color: #FFFFFF;
}

.searchGuide2{

    position: absolute;
    width: 731px;
    height: 44px;
    left: 760px;
    top: 414px;

    font-family: 'SUIT';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;

    color: #FFFFFF;
}

.searchId, .searchPwd{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 652px;
    top: 510px;

    background: #D9D9D9;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    font-family: 'BM JUA_TTF';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 62px;
    text-align: center;

    color: #000000;
}

.searchPwd{
    left:1011px;
}
.searchId:active, .searchPwd:active{
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: 1px 1px 1px black;
}

.authImg{
    position: absolute;
    width: 676px;
    height: 450px;
    left: 635px;
    top: 430px;
}

.authImg:hover{
    animation : rotate 1s ease-in-out;
}

@keyframes rotate  {
    0% {rotate: -10deg;}

    50% {rotate: 10deg}

    100% {rotate: 0deg}
}

.authimg:active{
    margin-left: 5px;
    margin-top: 5px;
    transform: scale(0.95);
}

.phoneNumber{
    position: absolute;
    width: 793px;
    height: 81px;
    left: calc(50% - 793px/2 + 0.5px);
    top: 500px;
    padding-left:20px;

    background: #a4a4a4;
    border-radius: 50px;


    font-family: 'SUIT';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;

    color: #333333;
}

.phoneNumber:focus{
    background: #D9D9D9;
}

.authNumber{
    position: absolute;
    width: 793px;
    height: 81px;
    left: calc(50% - 793px/2 + 0.5px);
    top: 620px;
    padding-left:20px;

    background: #a4a4a4;
    border-radius: 50px;

    font-family: 'SUIT';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;

    color: #333333;
}

.authNumber:focus{
    background: #D9D9D9;
}

.next{
    position: absolute;
    width: 161px;
    height: 48px;
    left: 877px;
    top: 800px;

    background: #0E2913;
    border-radius: 50px;
    border:white 2px solid;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}

.next:active{
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: 1px 1px 1px black;
}

.modalBlur{
    position:absolute;
    display:none;
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index:6;
}

.modalGuide, .modalGuide2{
    position:absolute;

    justify-content: center;

    font-family: 'SUIT';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px; padding-top: 50px;
    text-align: center;

    box-sizing: border-box;

    width: 1000px;
    height: 300px;
    top: 448.5px;

    background: #3B572D;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 4px 17.8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.modalGuide2{
    line-height: 100px;
}

.loginButton{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    background: #3B572D;
    border: 10px solid #FFFFFF;
    border-radius: 100px;
    top: 200px;
    left: 430px;

    width: 122px;
    height: 63px;

    font-family: 'BM JUA_OTF';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 100px;

    color: #FFFFFF;
}

.loginButton:active{
    margin-left: 2px;
    margin-top: 2px;
}

/*---------------nav------------------*/
nav{
    position: fixed;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

nav img{
    /* 남호정 */
    position: absolute;
    width: 82px;
    height: 45px;
    left: 48px;
    top: 18px;

}

nav span:nth-child(2) {
    /* 소개 */
    position: absolute;
    width: 42px;
    height: 26px;
    left: 1036px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #A3DA87;
    transition: all 1s;
}


nav span:nth-child(3){
    /* 공지사항 */
    position: absolute;
    width: 82px;
    height: 26px;
    left: 1135px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(4){
    /* 게시판 */
    position: absolute;
    width: 62px;
    height: 26px;
    left: 1274px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(5){
    /* mbti검사 */
    position: absolute;
    width: 101px;
    height: 26px;
    left: 1393px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(6){
    /* 마이페이지 */
    position: absolute;
    width: 102px;
    height: 26px;
    left: 1536px;
    top: 26px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(7){
    /* 로그인 */
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1692px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(8){
    /* 회원가입 */
    position: absolute;
    width: 67px;
    height: 21px;
    left: 1772px;
    top: 29px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:hover{
    color: #A3DA87;
    scale: 130%;
}


.logo img{
    position: absolute;
    width: 451px;
    height: 250px;
    left: 169px;
    top: 231px;
}

/* 이메일 인증 모달 */

/* 모달 배경 및 display 적용을 위한 공간 & 주변 부 블러 처리용 */
.modalBlur{
    position:absolute;
    display:none;
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index:6;
}

/* 클라이언트에게 비춰지는 모달 */
.modalGuide{
    position:absolute;
    justify-content: center;

    font-family: 'SUIT';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110px;
    text-align: center;

    box-sizing: border-box;

    width: 1150px;
    height: 400px;
    top: 300px;

    background: #3B572D;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 4px 17.8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

#authLabel{
    margin-top: -25px;
    margin-left: 40px;
}

.emailLabel{
    position: absolute;
    width: 150px;
    height: 35px;
    left: 30px;
    top: 175px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 39px;

    color: #FFFFFF;
}

.emailInput{
    position: absolute;
    width: 213px;
    height: 59px;
    left: 180px;
    top: 160px;

    background: #A4A4A4;
    border-radius: 50px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    padding-left: 20px;
    color: #3F3F3F;
    border:2px solid black;
}

.emailInput:focus{
    background: #D9D9D9;
}

.emailMain{
    position: absolute;
    width: 52px;
    height: 65px;
    left: 430px;
    top: 157px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 65px;

    color: #FFFFFF;
}

.authEmail{
    box-sizing: border-box;

    position: absolute;
    width: 100px;
    height: 60px;
    left: 1020px;
    top: 160px;

    background: #4B9D21;
    border: 2px solid #FFFFFF;
    border-radius: 50px;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;
}

.authEmail:active{
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: 2px 2px 2px black;
}

.authConfirm{
    box-sizing: border-box;

    position: absolute;
    width: 100px;
    height: 60px;
    left: 1020px;
    top: 160px;

    background: mediumspringgreen;
    outline : 10px solid greenyellow;
    border-radius: 50px;


    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 1000;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    display: none;
    z-index: 1;

    color: #FFFFFF;
}

input.box{
    box-sizing: border-box;
    margin-left: 5px;
    padding: 5px 0 5px 20px;
    border: 2px solid black;

    position: absolute;
    width: 290px;
    height: 59px;
    left: 485px;
    top: 160px;

    background: #A4A4A4;
    border-radius: 50px;
    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 65px;

    color: #FFFFFF;
}

select.box{
    box-sizing: border-box;
    margin-left: 5px;
    padding: 5px 0 5px 20px;
    border: 2px solid black;

    position: absolute;
    width: 210px;
    height: 59px;
    left: 790px;
    top: 160px;

    background: #A4A4A4;
    border-radius: 50px;
    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 65px;

    color: #FFFFFF;
}

option{
    font-size: 16px;
}

#domain-txt:focus{
    background: #D9D9D9;
}

.info .box#domain-list option {
    font-size: 14px;
    background-color: #ffffff;
}

.authNumber{
    position:absolute;
    left: 290px;
    top: 250px;
    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;

    color:white;
    background: none;
}

#authNumber{
    position: absolute;
    width: 205px;
    height: 59px;
    left: 793px;
    top: 240px;
    text-align: center;

    font-family: 'Cafe24 Ssurround air';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;

    color: #3F3F3F;


    background: #A4A4A4;
    border-radius: 50px;

    border: 0.3px solid #000000;
}

#authNumber:focus{
    background: #D9D9D9;
}

#exitButton{
    background: black;
    border-radius: 999px;
    font-family: 'Cafe24 Ssurround air';
    font-weight: 1000;
    width: 40px;
    height: 40px;
    top: 20px;
    left:1075px;
    position: absolute;
    justify-content: center;
    color:white;
    font-size:25px;
}

#emailCheckMessage{
    width: 400px;
    position: absolute;
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color:red;
    z-index: 999;
    top:275px;
    left:705px;
}

.idModal {
    display:none;
    position:absolute;
    z-index:99;
    width:100px;
    height:100px;
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    background: #3e8e41;
    color:white;
}