body{
    width:1920px;
    height:1080px;

}
header{
    /*position: absolute;*/
    width: 1920px;
    height: 79px;
    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.25);
}

nav span:nth-child(7){
    /*로그인 */
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1692px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}

.infobackground{
    position: relative;
}

.infopopup{
    width: 669px;
    height: 818px;
    background: #3B572D;
    border-radius: 10px;

    position: absolute;
    top: 250px;
    left: 600px;

}

.infopopup #fileInput{
    display: none;
}

.userfont{
    position: absolute;
    width: 106px;
    height: 31px;
    left: 60px;
    top: 40px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 31px;
    /* identical to box height */

    color: #FFFFFF;
}
.profile-photo{
    position: absolute;
    width: 164px;
    height: 164px;
    left: 250px;
    top: 40px;


    border-radius: 100px;
}

.btn-upload{

    position: absolute;
    width: 117px;
    height: 42px;
    background: #9CC787;
    border-radius: 10px;
    left: 275px;
    top: 220px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}
.mpname{
    position: absolute;
    width: 100px;
    height: 26px;
    left: 65px;
    top: 410px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */

    color: #FFFFFF;

}

#nickname{
    box-sizing: border-box;

    position: absolute;
    width: 336px;
    height: 49px;
    left: 170px;
    top: 400px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;

    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    padding-left: 20px;


    color: #000000;
}

.btn-check{
    position: absolute;
    width: 117px;
    height: 42px;
    left: 530px;
    top: 403px;

    background: #9CC787;
    border-radius: 10px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

#password{
    box-sizing: border-box;

    position: absolute;
    width: 336px;
    height: 49px;
    left: 170px;
    top: 510px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;

    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    padding-left: 20px;


    color: #000000;
}
.mppw{
    position: absolute;
    width: 100px;
    height: 26px;
    left: 60px;
    top: 520px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */

    color: #FFFFFF;
}

.mpchange{
    position: absolute;
    width: 117px;
    height: 42px;
    left: 530px;
    top: 510px;

    background: #9CC787;
    border-radius: 10px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.mpemail{
    position: absolute;
    width: 100px;
    height: 26px;
    left: 65px;
    top: 630px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */

    color: #FFFFFF;
}

#email{
    box-sizing: border-box;

    position: absolute;
    width: 336px;
    height: 49px;
    left: 170px;
    top: 620px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;

    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    padding-left: 20px;
    padding-top: 10px;


    color: #000000;
}

.btn-confirm{
    position: absolute;
    width: 117px;
    height: 42px;
    left: 530px;
    top: 513px;

    background: #9CC787;
    border-radius: 10px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.btn-cancel{
    position: absolute;
    width: 158px;
    height: 57px;
    left: 150px;
    top: 710px;

    background: #3F781A;
    border-radius: 10px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}
.btn-submit{
    position: absolute;
    width: 158px;
    height: 57px;
    left: 370px;
    top: 710px;

    background: #9CC787;
    border-radius: 10px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}
.toggle-password{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 460px;
    top: 510px;
}

.btn-delete{
    position: absolute;
    width: 117px;
    height: 42px;
    left: 530px;
    top: 40px;

    background: #9CC787;
    border-radius: 10px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.confirmno{
    position: absolute;
    width: 100px;
    height: 26px;
    left: 60px;
    top: 590px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */

    color: #FFFFFF;
}
#confirm-no{
    box-sizing: border-box;

    position: absolute;
    width: 336px;
    height: 49px;
    left: 170px;
    top: 580px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;

    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    padding-left: 20px;


    color: #000000;
}
.btn-confirm1{
    position: absolute;
    width: 117px;
    height: 42px;
    left: 530px;
    top: 583px;

    background: #9CC787;
    border-radius: 10px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}
#confirmpopup{
    display: none;
}

.modal-background{
    position:fixed;
    display:none;

    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index:2000;
}

.modifypopup {
    display: none;
    box-sizing: border-box;

    position: absolute;
    width: 767px;
    height: 351px;
    left: 550px;
    top: 400px;

    background: #1C6C2B;
    border: 1px solid #000000;
    border-radius: 10px;
}

.modifyfont{
    position: absolute;
    width: 275px;
    height: 39px;
    left: 250px;
    top: 100px;

    font-family: 'Cafe24Ssurroundair';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    /* identical to box height */

    color: #FFFFFF;


}

.submitBtn{
    position: absolute;
    width: 117px;
    height: 58px;
    left: 320px;
    top: 220px;

    background: #9CC787;
    border-radius: 10px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}
.deletepopup{
    display: none;
    box-sizing: border-box;

    position: absolute;
    width: 767px;
    height: 351px;
    left: 550px;
    top: 400px;

    background: #1C6C2B;
    border: 1px solid #000000;
    border-radius: 10px;
}

.deleteuser{
    position: absolute;
    width: 349px;
    height: 39px;
    left: 220px;
    top: 80px;

    font-family: 'Cafe24Ssurroundair';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    /* identical to box height */

    color: #FFFFFF;


}
.dangerous{
    position: absolute;
    width: 359px;
    height: 52px;
    left: 220px;
    top: 130px;

    font-family: 'Cafe24Ssurroundair';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;

    color: #FF0000;


}
.cancleBtn{
    position: absolute;
    width: 117px;
    height: 58px;
    left: 220px;
    top: 220px;

    background: #3F781A;
    border-radius: 10px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
    /* identical to box height */

    color: #000000;
}
.submitBtn2{
    position: absolute;
    width: 117px;
    height: 58px;
    left: 440px;
    top: 220px;

    background: #9CC787;
    border-radius: 10px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}
.modal-background2{
    position:fixed;
    display:none;

    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index:2001;
}
.modal-background3{
    position:fixed;
    display:none;

    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index:2001;
}

.deletefont{
    /* 회원 탈퇴가 완료되었습니다! */

    position: absolute;
    width: 369px;
    height: 39px;
    left: 200px;
    top: 100px;

    font-family: 'Cafe24Ssurroundair';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    /* identical to box height */

    color: #FFFFFF;

}

.duplicatemsg{
    position: absolute;
    width: 236px;
    height: 33px;
    left: 170px;
    top: 460px;

    font-family: 'Cafe24Ssurroundair';
    font-style: normal;
    font-weight: 1500;
    font-size: 25px;
    line-height: 32px;
}
.pwdfeedback{
    position: absolute;
    width: 400px;
    height: 33px;
    left: 170px;
    top: 570px;

    font-family: 'Cafe24Ssurroundair';
    font-style: normal;
    font-weight: 1500;
    font-size: 25px;
    line-height: 32px;
}

.mpId{
    position: absolute;
    width: 100px;
    height: 26px;
    left: 65px;
    top: 300px;

    font-family: 'BMJUA';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    /* identical to box height */

    color: #FFFFFF;

}
.userId{
    box-sizing: border-box;

    position: absolute;
    width: 336px;
    height: 49px;
    left: 170px;
    top: 290px;

    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;

    font-family: 'Cafe24SsurroundAir';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    padding-left: 20px;
    padding-top: 10px;


    color: #000000;
}
#passwordIcon{
    width:50px;
    height: 50px;
}















