@charset "UTF-8";
body{
    width: 100%;
    max-width: 1920px;
    height: auto;
    color: #000000;
    overflow-x: hidden;
}

.dn{
    display: none;
}

.tr{
    transition: all 0.7s;
}



/*---------------nav------------------*/
nav{
    position: fixed;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.5);
    z-index: 999;
}


nav img{
    /* 남호정 */
    position: absolute;
    width: 82px;
    height: 45px;
    left: 48px;
    top: 18px;

}

nav span:nth-child(2) {
    /* 소개 */
    position: absolute;
    width: 42px;
    height: 26px;
    left: 1036px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(3){
    /* 공지사항 */
    position: absolute;
    width: 82px;
    height: 26px;
    left: 1135px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(4){
    /* 게시판 */
    position: absolute;
    width: 62px;
    height: 26px;
    left: 1274px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #A3DA87;
    transition: all 1s;
}


nav span:nth-child(5){
    /* mbti검사 */
    position: absolute;
    width: 101px;
    height: 26px;
    left: 1393px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(6){
    /* 마이페이지 */
    position: absolute;
    width: 102px;
    height: 26px;
    left: 1536px;
    top: 26px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(7){
    /* 로그인 */
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1692px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(8){
    /* 회원가입 */
    position: absolute;
    width: 67px;
    height: 21px;
    left: 1772px;
    top: 29px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:hover{
    color: #A3DA87;
    scale: 130%;
}


.logo img{
    position: absolute;
    width: 451px;
    height: 250px;
    left: 169px;
    top: 231px;
}

input{
    background: none;
    border: none;
}

input:focus, input:active,input:hover{
    background: none;
    border: none;
    outline: none;
}

/*---------------main------------------*/


main .qickBtn img{
    position: absolute;
    width: 109px;
    height: 109px;
    left: 1759px;
    top: 780px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


main .qickBtn img:first-child{
    z-index: 55;
    top: 780px;
}


main .qickBtn .clikbtn img:first-child{
    /* Upward Arrow */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1768px;
    top: 664px;
    filter: drop-shadow(0px 8px 5.1px rgba(0, 0, 0, 0.25));
}


main .qickBtn .clikbtn img:nth-child(2){
    /* Sun */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1768px;
    top: 560px;
    filter: drop-shadow(0px 8px 5.1px rgba(0, 0, 0, 0.25));
}


main .qickBtn .clikbtn img:nth-child(3){
    /* Test Results */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1768px;
    top: 456px;
    filter: drop-shadow(0px 8px 5.1px rgba(0, 0, 0, 0.25));
}


main .qickBtn{
    position: sticky;
    top: -50px;
    z-index: 9999;
}


main .bg{
    width: 1920px;
    position: fixed;
    height: 100%;
    background: #3B572D;
    top: 0;
    left: 0;
    z-index: -1;
}


.post #header{
    position: absolute;
    width: 1575px;
    height: 80px;
    left: 145px;
    top: 175px;
    z-index: 22;
}


#header span input{
    position: absolute;
    width: 1000px;
    height: 80px;
    font-family: 'SUIT';
    font-weight: 800;
    font-size: 50px;
    color: #FFFFFF;
    top: -10px;
    background: none;
    border: none;
    border-radius: 0;
    left: 0px;
}

.post .line{
    position: absolute;
    width: 1575px;
    height: 7px;
    top: 270px;
    background: #0E2913;
    left: 145px;
}

#content{
    position: relative;
}

#content pre{
    display: block;
    width: 1575px;
    height: 70px;
    margin-left: 140px;
    margin-top: 324px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 22px;
    font-weight: 600;
    line-height: 48px;
    color: #A3DA87;
}

#content pre b{
    font-size: 30px;
    margin-left: -20px;
    font-weight: 600;
    color: #fff;
}

#content textarea{
    display: inline-block;
    width: 930px;
    height: 1100px;
    margin-left: 170px;
    margin-top: 160px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    line-height: 48px;
    color: #FFFFFF;
    background: none;
    border: white 1px solid;
    -webkit-overflow-scrolling: auto;
    resize: none;

}

#content img:nth-of-type(1){
    display: block;
    width: 579px;
    height: 526px;
    margin-left: 1140px;
    margin-top: -1115px;
}

#content img:nth-of-type(2){
    display: block;
    width: 579px;
    height: 526px;
    margin-top: 60px;
    margin-left: 1140px;
}

#box {
    position: relative;
}


.post input{
    position: absolute;
    width: 1307px;
    height: 85px;
    top: 200px;
    background: #D9D9D9;
    border-radius: 50px;
    left: 145px;
    color: #3F3F3F;
    font-family: Cafe24SsurroundAir;
    font-size: 30px;
}

.post button{
    position: absolute;
    width: 198px;
    height: 55px;
    background: #4BA41F;
    border-radius: 50px;
    top: 10px;
    color: #fff;
    font-family: 'Cafe24Ssurroundair';
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.05em;
    left: 1350px;
    border: none;
}

.post button:focus, .post button:hover, .post button:active{
    border: 4px solid #C9E5CA;
}

.post button:nth-of-type(2){
    left: 1100px;
    background: #4A7236;

}

#Writer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 150px;
    top: 0px;
}

#Writer > span {
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: -107px;
    margin-left: 157px;
}

#Writer .profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* 둥근 프로필 사진 */
    background-color: #ccc; /* 사진이 없을 때의 배경색 */
    margin-left:12px;
    margin-top: 10px;
}


.wrapper {
    display: flex;
    align-items: center;
}

/*#Writer input {*/
/*    background: none;*/
/*    border: none;*/
/*    outline: none;*/
/*    color: #fff;*/
/*    font-family: SUIT;*/
/*    font-weight: 800;*/
/*    font-size: 50px;*/
/*    margin-top: -150px;*/
/*    margin-right: 50px;*/
/*}*/
#postWriter{
    color: #fff;
    font-family: SUIT;
    font-weight: 800;
    font-size: 50px;
    position: absolute;
    left:154px;
    top:54px;
    background: none;
    border: none;
    outline: none;
}

#Writer .wrapper>img {
    display: block;
    width: 120px;
    height: auto;
    margin-left: 700px;
    margin-top: -20px;
}


.line2{
    position: absolute;
    width: 1575px;
    height: 7px;
    background: #0E2913;
    left: 24px;
    top: 160px;
}

#category{
    position: relative;
    top: 175px;
    left: -91px;
}
#category>span{
    position: absolute;
    left: 143px;
    font-family: 'SUIT';
    font-weight: 800;
    font-size: 50px;
    color: #FFFFFF;
    width: 200px;
}

#category input{
    width: 210px;
    height: 80px;
    left: 390px;
    background: #0E2913;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    color: #fff;
    top: -15px;
}

#category input:nth-of-type(2){
    left: 650px;
}

#category input:nth-of-type(3){
    left: 910px;
}

#category input:nth-of-type(4){
    left: 1170px;
}

#category input:nth-of-type(5){
    left: 1430px;
}


/*---------------footer------------------*/
footer .footer{
    position: absolute;
    width: 1920px;
    height: 69px;
    top: 2350px;
    background: #0E2913;
    box-shadow: 0px -8px 22.4px rgba(0, 0, 0, 0.25);
    z-index: 55;
    margin-top: 50px;
}

footer .footer p{
    position: absolute;
    height: 31px;
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.05em;
    color: #D5D5D5;
    left: 750px;
    top: 20px;
}