@charset "UTF-8";
body{
    width: 100%;
    max-width: 1920px;
    height: auto;
    color: #000000;
    overflow-x: hidden;
}

.dn{
    display: none;
}

.tr{
    transition: all 0.7s;
}

/*---------------nav------------------*/
nav{
    position: fixed;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #0E2913;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.5);
    z-index: 999;
}


nav img{
    /* 남호정 */
    position: absolute;
    width: 82px;
    height: 45px;
    left: 48px;
    top: 18px;

}

nav span:nth-child(2) {
    /* 소개 */
    position: absolute;
    width: 42px;
    height: 26px;
    left: 1036px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(3){
    /* 공지사항 */
    position: absolute;
    width: 82px;
    height: 26px;
    left: 1135px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(4){
    /* 게시판 */
    position: absolute;
    width: 62px;
    height: 26px;
    left: 1274px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #A3DA87;
    transition: all 1s;
}


nav span:nth-child(5){
    /* mbti검사 */
    position: absolute;
    width: 101px;
    height: 26px;
    left: 1393px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(6){
    /* 마이페이지 */
    position: absolute;
    width: 102px;
    height: 26px;
    left: 1536px;
    top: 26px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(7){
    /* 로그인 */
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1692px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:nth-child(8){
    /* 회원가입 */
    position: absolute;
    width: 67px;
    height: 21px;
    left: 1772px;
    top: 29px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
}


nav span:hover{
    color: #A3DA87;
    scale: 130%;
}


.logo img{
    position: absolute;
    width: 451px;
    height: 250px;
    left: 169px;
    top: 231px;
}



/*---------------main------------------*/


main{
    transition: all 1s;
}


main #bg{
    position: absolute;
    width: 1920px;
    top: 39px;
    z-index: -5;
}


main .qickBtn img{
    position: absolute;
    width: 109px;
    height: 109px;
    left: 1759px;
    top: 780px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


main .qickBtn img:first-child{
    z-index: 55;
    top: 780px;
}


main .qickBtn .clikbtn img:first-child{
    /* Upward Arrow */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1768px;
    top: 664px;
    filter: drop-shadow(0px 8px 5.1px rgba(0, 0, 0, 0.25));
}


main .qickBtn .clikbtn img:nth-child(2){
    /* Sun */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1768px;
    top: 560px;
    filter: drop-shadow(0px 8px 5.1px rgba(0, 0, 0, 0.25));
}


main .qickBtn .clikbtn img:nth-child(3){
    /* Test Results */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1768px;
    top: 456px;
    filter: drop-shadow(0px 8px 5.1px rgba(0, 0, 0, 0.25));
}


main .qickBtn{
    position: sticky;
    top: -50px;
    z-index: 9999;
}

main .write{
    box-sizing: border-box;
    position: absolute;
    width: 254px;
    height: 53px;
    background: #0E2913;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    top: 180px;
    left: 210px;
}

main .write p{
    position: absolute;
    width: 150px;
    left: 55px;
    top: 10px;
    font-family: 'Cafe24Ssurroundair';
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


main .select{
    position: absolute;
    width: 186px;
    height: 53px;
    background: #0E2913;
    border-radius: 40px;
    top: 180px;
    left: 730px;
}

main .select:active{
    border: 3px solid #FFFFFF;

}

main .select p{
    position: absolute;
    left: 65px;
    top: 17px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


main input{
    position: absolute;
    width: 668px;
    height: 53px;
    background: #0E2913;
    border-radius: 40px;
    top: 180px;
    left: 930px;
    border: none;
    color: #fff;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
}


main label img{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 1620px;
    top: 178px;
}


main .sell span:nth-of-type(1){
    position: absolute;
    width: 50px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #FFFFFF;
    left: 260px;
}


main .sell span:nth-of-type(2){
    position: absolute;
    width: 200px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #FFFFFF;
    left: 360px;
}


main .sell span:nth-of-type(3){
    position: absolute;
    width: 200px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #FFFFFF;
    left: 500px;
}


main .sell span:nth-of-type(4){
    position: absolute;
    width: 200px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #FFFFFF;
    left: 950px;
}


main .sell span:nth-of-type(5){
    position: absolute;
    width: 200px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #FFFFFF;
    left: 1150px;
}


main .sell span:nth-of-type(6){
    position: absolute;
    width: 200px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #FFFFFF;
    left: 1350px;
}


main .sell span:nth-of-type(7){
    position: absolute;
    width: 200px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #FFFFFF;
    left: 1550px;
}


main .post{
    position: relative;
    gap: 60px;
}


main .post span:nth-of-type(1){
    position: absolute;
    top: 380px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #FFFFFF;
    left: 270px;
    text-align: center;
}


main .post span:nth-of-type(3){
    position: absolute;
    left: 1120px;
    top: 380px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 410px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    height:auto;
    padding-top: 5px;
    padding-bottom: 5px;
}


main .post span img{
    position: absolute;
    width: 56px;
    left: 376px;
    top: 365px;
}


main .post div{
    box-sizing: border-box;
    position: absolute;
    width: 160px;
    height: 45px;
    left: 925px;
    top: 365px;
    background: #0E2913;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
}


main .post div span:nth-of-type(1){
    position: absolute;
    width: 120px;
    height: 30px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    left: 19px;
    top: 10px;
}


main .post span:nth-of-type(4){
    position: absolute;
    left: 1380px;
    top: 380px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

}



main .post1 .post a>span{
    position: absolute;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    height:auto;
    left: 510px;
    text-align: left;
}

main .post span:nth-of-type(5){
    position: absolute;
    left: 1560px;
    top: 380px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

}


main .post span:nth-of-type(6){
    position: absolute;
    left: 1560px;
    top: 380px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}.pageNum {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
 }

.pageNum img {
    cursor: pointer;
    position: absolute;
    top: 940px;
}

.pageNum img:nth-of-type(1) {
    left: 880px;
}

.pageNum img:nth-of-type(2) {
    left: 1000px;
}

.pageNum p {
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 30px;
    color: #BEBEBE;
    display: none; /* 처음에는 안보이게 설정 */
    position: absolute;
    top: 935px;
}

.pageNum p.active {
    display: block; /* active 클래스가 추가되면 보이게 설정 */
    color: #fff; /* 활성화된 페이지 번호 색상 */
}

.pageNum p.inactive {
    display: block; /* inactive 클래스가 추가되면 보이게 설정 */
    color: #BEBEBE; /* 비활성화된 페이지 번호 색상 */
}

.pageNum p.left-920 {
    left: 920px; /* 920px에 위치하게 설정 */
}

.pageNum p.left-960 {
    left: 960px; /* 960px에 위치하게 설정 */
}

.pageNum #tab1 {
    left: 920px;
    display: block;
}

.pageNum #tab2 {
    left: 960px;
    display: block;
}

.pageNum .change {
    left: 920px;
}

.pageNum p:nth-child(odd) {
    left: 920px;
}

.pageNum p:nth-child(even) {
    left: 960px;
}



/*---------------footer------------------*/
    footer .footer{
        position: absolute;
        width: 1920px;
        height: 69px;
        top: 1080px;
        background: #0E2913;
        box-shadow: 0px -8px 22.4px rgba(0, 0, 0, 0.25);
        z-index: 55;
    }

    footer .footer p{
        position: absolute;
        height: 31px;
        font-family: 'SUIT';
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
        letter-spacing: 0.05em;
        color: #D5D5D5;
        left: 750px;
        top: 20px;
    }

