@charset "UTF-8";
body{
    width: 100%;
    max-width: 1920px;
    height: auto;
    color: #000000;
    overflow-x: hidden;
}

.dn{
    display: none;
}

.tr{
    transition: all 0.7s;
}

button{
    cursor:pointer;
}


/*---------------nav------------------*/
nav{
    position: fixed;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #FFFEF6;
    box-shadow: 0px 4px 10.9px rgba(0, 0, 0, 0.5);
    z-index: 999;
}


nav img{
    /* 남호정 */
    position: absolute;
    width: 125px;
    height: 45px;
    left: 48px;
    top: 18px;
    cursor: pointer;
}

nav span:nth-child(2) {
    /* 소개 */
    position: absolute;
    width: 42px;
    height: 26px;
    left: 1036px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #000000;
    transition: all 1s;
    cursor: pointer;
}


nav span:nth-child(3){
    /* 공지사항 */
    position: absolute;
    width: 82px;
    height: 26px;
    left: 1135px;
    top: 27px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #000000;
    transition: all 1s;
    cursor: pointer;
}


nav span:nth-child(4){
    /* 게시판 */
    position: absolute;
    width: 62px;
    height: 26px;
    left: 1274px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #000000;
    transition: all 1s;
    cursor: pointer;
}


nav span:nth-child(5){
    /* mbti검사 */
    position: absolute;
    width: 101px;
    height: 26px;
    left: 1393px;
    top: 27px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #000000;
    transition: all 1s;
    cursor: pointer;
}


nav span:nth-child(6){
    /* 마이페이지 */
    position: absolute;
    width: 102px;
    height: 26px;
    left: 1536px;
    top: 26px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    color: #000000;
    transition: all 1s;
    cursor: pointer;
}

/*nav span:nth-child(7){
    !* 로그인 *!
    position: absolute;
    width: 49px;
    height: 21px;
    left: 1692px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #C9E6CA;
    transition: all 1s;
    cursor: pointer;
}*/

#logoutNav{
    /* 로그아웃 */
    position: absolute;
    width: 100px;
    height: 21px;
    left: 1670px;
    top: 29px;
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #000000;
    transition: all 1s;
    background: none;
    border:none;
    text-align: center;
    cursor: pointer;
}

#logoutNav:hover{
    color: #4B9D21;
    scale: 130%;
}

nav span:nth-child(8){
    /* 회원가입 */
    position: absolute;
    width: 67px;
    height: 21px;
    left: 1772px;
    top: 29px;

    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #000000;
    transition: all 1s;
    cursor: pointer;
}


nav span:hover{
    color: #A3DA87;
    scale: 130%;
}


main .qickBtn img{
    position: absolute;
    width: 109px;
    height: 109px;
    left: 1759px;
    top: 780px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


main .qickBtn img:first-child{
    z-index: 55;
    top: 780px;
}


main .qickBtn .clikbtn img:first-child{
    /* Upward Arrow */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1768px;
    top: 664px;
    filter: drop-shadow(0px 8px 5.1px rgba(0, 0, 0, 0.25));
}


main .qickBtn .clikbtn img:nth-child(2){
    /* Sun */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1768px;
    top: 560px;
    filter: drop-shadow(0px 8px 5.1px rgba(0, 0, 0, 0.25));
}


main .qickBtn .clikbtn img:nth-child(3){
    /* Test Results */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1768px;
    top: 456px;
    filter: drop-shadow(0px 8px 5.1px rgba(0, 0, 0, 0.25));
}


main .qickBtn{
    position: sticky;
    top: -50px;
    z-index: 9999;
}




main{
    transition: all 1s;
}



main #bg{
    position: absolute;
    width: 1920px;
    top: 39px;
    z-index: -5;
}



main .write{
    box-sizing: border-box;
    position: absolute;
    width: 254px;
    height: 53px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    top: 180px;
    left: 210px;
}

main .write p{
    position: absolute;
    width: 150px;
    left: 55px;
    top: 10px;
    font-family: 'Cafe24Ssurroundair';
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #000;
}

main .select{
    position: absolute;
    width: 186px;
    height: 53px;
    background: #fff;
    border-radius: 40px;
    top: 180px;
    left: 730px;
}

main .select:active{
    border: 3px solid #000;

}

main .select button{
    position: absolute;
    width: 186px;
    left: 0px;
    top: 10px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #000;
    background: none;
    border: none;
    outline: none;

}

main .modal{
    position: absolute;
    width: 1920px;
    height: 1080px;
    background: rgba(255, 254, 246, 0.6);
    z-index: 6666666666;

}

main .modal button{
    position: absolute;
    width: 186px;
    height: 53px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #000;
    border: 2px #000 solid;
    outline: none;
    background: #fff;
    border-radius: 40px;
    transition:  background 0.7s;

}

main .modalContent>button:nth-of-type(1){
    top: 180px;
    left: 730px;
}

main .modalContent>button:nth-of-type(2){
    top: 280px;
    left: 508px;

}

main .modalContent>button:nth-of-type(3){
    top: 280px;
    left: 730px;
}

main .modalContent>button:nth-of-type(4){
    top: 280px;
    left: 952px;

}

main .modalContent #category>button{
    top: 355px;
    left: 620px;

}
main .modalContent>button:nth-of-type(5){
    top: 355px;
    left: 850px;
}



.modal .modalContent .categoryBox button{
    position: absolute;
    width: 150px;
    height: 53px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #000;
    border: 2px #000 solid;
    outline: none;
    background: #fff;
    border-radius: 40px;
    transition:  background 0.7s;
    z-index: 30;
}

.modalContent .categoryBox button:nth-of-type(1){
    top: 280px;
    left: 410px;
}

.modalContent .categoryBox button:nth-of-type(2){
    top: 280px;
    left: 580px;
}

.modalContent .categoryBox button:nth-of-type(3){
    top: 280px;
    left: 750px;
}

.modalContent .categoryBox button:nth-of-type(4){
    top: 280px;
    left: 920px;
}

.modalContent .categoryBox button:nth-of-type(5){
    top: 280px;
    left: 1090px;
}


main .modal button:active, main .modal button:hover{
    border: 5px solid #000;
    background: #4B9D21;
    color: #fff;
    font-weight: 600;
}
.modal .modalContent .categoryBox button:active,
.modal .modalContent .categoryBox button:hover{
    border: 5px solid #000;
    background: #4B9D21;
    color: #fff;
    font-weight: 600;
}

main input{
    position: absolute;
    width: 668px;
    height: 53px;
    background: #fff;
    border-radius: 40px;
    top: 180px;
    left: 930px;
    border: none;
    color: #000;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
}


main label img{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 1620px;
    top: 178px;
}


main .sell span:nth-of-type(1){
    position: absolute;
    width: 50px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #000;
    left: 260px;
}


main .sell span:nth-of-type(2){
    position: absolute;
    width: 200px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #000;
    left: 360px;
}


main .sell span:nth-of-type(3){
    position: absolute;
    width: 200px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #000;
    left: 500px;
}


main .sell span:nth-of-type(4){
    position: absolute;
    width: 200px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #000;
    left: 950px;
}


main .sell span:nth-of-type(5){
    position: absolute;
    width: 200px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #000;
    left: 1150px;
}


main .sell span:nth-of-type(6){
    position: absolute;
    width: 200px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #000;
    left: 1350px;
}


main .sell span:nth-of-type(7){
    position: absolute;
    width: 200px;
    height: 31px;
    top: 280px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #000;
    left: 1550px;
}


main .post{
    position: relative;
    gap: 60px;

}


main .post span:nth-of-type(1){
    position: absolute;
    top: 380px;
    font-family: 'BMJUA';
    font-size: 30px;
    color: #000;
    left: 270px;
    text-align: center;
}


main .post span:nth-of-type(3){
    position: absolute;
    left: 1120px;
    top: 380px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #000;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    height:auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
}


main .post span img{
    position: absolute;
    width: 56px;
    left: 376px;
    top: 365px;
}


main .post div{
    box-sizing: border-box;
    position: absolute;
    width: 160px;
    height: 45px;
    left: 925px;
    top: 365px;
    background: #A3DA87;
    border: 2px solid #000;
    border-radius: 50px;
}


main .post div span:nth-of-type(1){
    position: absolute;
    width: 120px;
    height: 30px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000;
    left: 19px;
    top: 10px;
    font-weight: 600;
}


main .post span:nth-of-type(4){
    position: absolute;
    left: 1380px;
    top: 380px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #000;
    font-weight: 600;

}



main .post1 .post a>span{
    position: absolute;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    height:auto;
    left: 510px;
    text-align: left;
}

main .post span:nth-of-type(5){
    position: absolute;
    left: 1560px;
    top: 380px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #000;
    font-weight: 600;

}


main .post span:nth-of-type(6){
    position: absolute;
    left: 1560px;
    top: 380px;
    font-family: 'Cafe24Ssurroundair';
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #000;
    font-weight: 600;
}



.pageNum {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    top: 920px;
    z-index: 300;
}

.pageNum img {
    cursor: pointer;
    position: absolute;
}

.pageNum img:nth-of-type(1) {
    left: 780px;
}

.pageNum img:nth-of-type(2) {
    left: 1100px;
}

.pageNum p {
    font-family: 'BMJUA';
    font-weight: 400;
    font-size: 30px;
    color: #BEBEBE;
    position: absolute;
    top: -5px;
}

.pageNum p:nth-of-type(1){
    left: 830px;
}

.pageNum p:nth-of-type(2){
    left: 885px;
}

.pageNum p:nth-of-type(3){
    left: 940px;
}

.pageNum p:nth-of-type(4){
    left: 995px;
}

.pageNum p:nth-of-type(5){
    left:1050px;
}


/*---------------footer------------------*/
footer .footer{
    position: absolute;
    width: 1920px;
    height: 69px;
    top: 1080px;
    background: #6EBA4A;
    box-shadow: 0px -8px 22.4px rgba(0, 0, 0, 0.25);
    z-index: 55;
}

footer .footer p{
    position: absolute;
    height: 31px;
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    left: 750px;
    top: 20px;
}
