<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/error.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">

</head>
<body>
<div id="resolution">
    <img id="background" th:src="@{/images/error/403.png}">
    <img id="logo" th:src="@{/images/error/logo.png}" onclick="location.href='/'">
    <img id="ghost" th:src="@{/images/error/ghost.png}">
    <img id="bar" th:src="@{/images/error/bar.png}">
    <p id="errorText">403ERROR</p>
    <button class="main" id="back" type="button" onclick="back()">이전으로</button>
    <button class="main" id="forward" type="button" onclick="location.href='/'">메인으로</button>
    <p id="info">현재 페이지에 대한 권한이 없습니다.<br>불편을 드려 대단히 죄송합니다.</p>
</div>
<script>
    function back() {
        if (window.history.length > 1) {
            window.history.back();
        } else {
            location.href = '/';
        }
    }
</script>
</body>
</html>